<template>
  <div class="bottom__buttons">
    
      <router-link class="btn" :to="{ name: 'journey', params: { game: $route.params.game, gameOption: 'play'}}">Yes</router-link>

      <div class="btn btn--secondary" @click="returnToMenu">main menu</div>
  </div>
</template>

<script>
  export default {
    name: 'PauseButtons',
    methods: {
      returnToMenu () {
        this.$store.commit('GAME_END')
        
        window.plugins && window.plugins.insomnia.allowSleepAgain()
        this.$router.push('/')
      }
    }
  }
</script>