<template>
  <div class="fretboard-container">
    <div class="fretboard" :class="{ 'fretboard--win': win}">
      <div class="fretboard-moving">
        <div class="frets">
          <div  class="fret" v-for="fret in 13" @click.prevent="submitFretInput(fret)">

            <a class="fret-link" href="#"></a>
            <div class="fret-helper" :class="{'fret-helper--correct': isCorrectFret(fret)}"></div>
          </div><div  class="fret">
            <a class="fret-link" href="#"></a>
            <div class="fret-helper"></div>
          </div >
        </div>
      </div>
      <div class="strings" :class="[ 'strings-' + strings.length ]">

        <div class="string" v-for="(string, index) in strings" :class="{'active': (string % 12) === currentStringValue }">
          <span class="string__name">
            {{ getStringName(string + rootIndex) }}
          </span>
          <div class="string__line"></div>
          <div class="string__try__container">
            <div class="string__try string__try__success" :class="['string__try--fret-' + stringTry.fret, noteArray[0].name === stringTry.note ? 'string__try--root' : '', makeIntervalClass('border-special-full',selectedChord.notes[stringTry.noteIndex])]" v-for="stringTry in currentTurnArraySuccess" v-if="isEqualString(stringTry.string, string) && ((currentGame.time.ticked - stringTry.timeTicked) < gameLevelObj.noteLife)">
              <div class="string__try__inner">
                {{ stringTry.note }}  
              </div>
              
            </div>

            <div class="string__try  string__try--fail" :class="['string__try--fret-' + stringTry.fret]" v-for="stringTry in currentTurnArrayFail.filter(el => isEqualString(el.string, string))">
              <div class="string__try__inner">
                {{ stringTry.note }}  

              </div>
              <div class="string__fail__overlay">
                <div class="string__try__inner">
                  ✕
                </div>
              </div>
            </div>


            <div class="string__try  string__try--tutorial" :class="['string__try--fret-' + stringTry.fret]" v-for="stringTry in currentCorrect" v-if="(string % 12) === currentStringValue">
              <div class="string__try__inner">
                ?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'Fretboard',
    methods: {
      getStringName (stringIndex) {
        return this.tones[stringIndex].note
      },
      getStringValue (stringIndex) {
        return this.tones && this.tones[stringIndex] ? this.tones[stringIndex].value : false
      },
      isEqualString (string, stringFromLoop) {
        return (this.currentGame.notePool[string] === (stringFromLoop % 12))
      },
      getInterval (index) {
        return this.intervals[index][0]
      },
      makeIntervalClass (prefix, index) {
        const interval = this.getInterval(index)
        return [`${prefix}-${interval.type}-${interval.order}`, `${prefix}-${interval.type}`]
      },
      submitFretInput (fret) {
        if (this.win !== 1 && this.currentGame.status !== 'lossc') {
          this.$store.commit('GAME_USER_INPUT', { fret: fret - 1 })
        }
      },
      isCorrectFret (fret) {
        return this.correctFrets.findIndex(el => el === fret) > -1
      }
    },
    data () {
      return {
        currentTurn: [],
        turnSize: 0,
        win: 0,
        winDelay: 1500,
        currentTurnArrayFail: [],
        currentTurnArraySuccess: []
      }
    },
    mounted () {

    },
    watch: {
      currentGame (newGame) {
        if (this.win === 1 && newGame.status !== 'win') {
          this.win = 0
          this.currentTurnArraySuccess = []
          this.currentTurnArrayFail = []
          this.turnSize = 0
          this.currentTurn = this.currentGame.currentTurn
        }
        if (newGame.status === 'win') {
          this.win = 1
          setTimeout(() => {
            this.$store.commit('GAME_USER_INPUT', 'forward')
          }, this.winDelay)
        } else if (newGame.status === 'loss') {
          setTimeout(() => {
            this.currentTurnArrayFail = []
            this.currentTurnArraySuccess = []
            this.turnSize = 0
            this.currentTurn = this.currentGame.currentTurn
          }, this.winDelay)
        }
      },
      currentTurnCached (newTurn) {
        // current turn changes
        // adds to currentTurn
        if (newTurn.length > this.turnSize) {
          this.currentTurn = newTurn
          this.turnSize = newTurn.length
          const lastNew = this.currentTurn[this.currentTurn.length - 1]
          const tempArray = this.noteArray.filter(el => el.time > 0)
          if(!lastNew) return 0
          if (lastNew.noteIndex < 0) {
            this.currentTurnArrayFail.push(lastNew)
            this.guitarSound.play(
              this.getStringValue(this.stringsOrdered[lastNew.string] + this.rootIndex + lastNew.fret),
              0, { gain: Math.floor(this.volume / 100 * 8.5), sustain: 0.1 }
            )
            tempArray.map(el => {
              this.guitarSound.play(
                this.getStringValue(el.index),
                0, { gain: Math.floor(this.volume / 100 * 8.5), sustain: 0.1 }
              )
              return 0
            })
          } else {
            this.currentTurnArraySuccess = this.currentTurnArraySuccess.filter(el => el.note !== lastNew.note)
            this.currentTurnArraySuccess.push(lastNew)
            if (tempArray.length === 0) {
              this.noteArray.map(el => {
                this.guitarSound.play(
                  this.getStringValue(el.index),
                  0, { gain: Math.floor(this.volume / 100 * 8), sustain: 1.8 }
                )
                return 0
              })
            } else {
              tempArray.map(el => {
                this.guitarSound.play(
                  this.getStringValue(el.index),
                  0, { gain: Math.floor(this.volume / 100 * 8.5), sustain: 1.1 }
                )
                return 0
              })
            }
          }
        }
        return 1
      }
        /*
        if (this.turnSize !== this.currentTurn.length && this.currentTurn.length > 0) {
          this.turnSize = this.currentTurn.length
          if (this.guitarSound !== 'undefined') {
            const lastNew = this.currentTurn[this.currentTurn.length - 1]
            const tempArray = this.noteArray.filter(el => el.time > 0)
            if (lastNew.noteIndex < 0) {
              this.guitarSound.play(
                this.getStringValue(this.stringsOrdered[lastNew.string] + this.rootIndex + lastNew.fret),
                0, { gain: Math.floor(this.volume / 100 * 8.5), sustain: 0.1 }
              )
              tempArray.map(el => {
                this.guitarSound.play(
                  this.getStringValue(el.index),
                  0, { gain: Math.floor(this.volume / 100 * 8.5), sustain: 0.1 }
                )
                return 0
              })
              this.currentTurnArrayFail.push(lastNew)
            } else {
              if (tempArray.length === 0) {
                this.noteArray.map(el => {
                  this.guitarSound.play(
                    this.getStringValue(el.index),
                    0, { gain: Math.floor(this.volume / 100 * 8), sustain: 1.8 }
                  )
                  return 0
                })
              } else {
                tempArray.map(el => {
                  this.guitarSound.play(
                    this.getStringValue(el.index),
                    0, { gain: Math.floor(this.volume / 100 * 8.5), sustain: 1.1 }
                  )
                  return 0
                })
              }
              this.currentTurnArraySuccess = this.currentTurnArraySuccess.filter(el => el.note !== lastNew.note)
              this.currentTurnArraySuccess.push(lastNew)
              this.currentTurnArrayFail = []
            }
          }
        }
        if (this.currentTurn.length === newTurn.length) {
        } else if (this.currentTurn.length > newTurn.length) {

          const lastNew = this.currentTurn[this.currentTurn.length - 1]
          this.currentTurnArraySuccess.push(lastNew)
          this.win = 1
          setTimeout(() => {
            this.currentTurn = newTurn
            this.win = 0
            this.currentTurnArraySuccess = []
            //this.currentTurnArrayFail = []

          }, this.winDelay)

        } else {
          this.currentTurn = newTurn
            this.currentTurnArraySuccess = []
            //this.currentTurnArrayFail = []
        }
      }
      */
    },
    computed: {
      currentGame () {
        return this.$store.state.currentGame
      },
      gameObject () {
        return this.$store.state.gameObjects.find(el => el.id === 'arpeggiator')
      },
      gameLevelObj () {
        return this.currentGame.gameLevelObj
      },
      correctFrets () {
        return this.currentTurnArraySuccess.map((el) => el.fret + 1)
      },
      selectedChord () {
        return this.gameObject.currentSetup.chord
      },
      gameLevel () {
        return this.currentGame.gameLevel
      },
      currentTurnCached () {
        return this.currentGame.currentTurn || []
      },
      noteArray () {
        return this.currentGame.noteArray || []
      },

      /*
      currentTurnArraySuccess () {
        return this.currentGame !== 'undefined' ? this.currentTurn.filter(el => {
          return el.noteIndex > -1 && ((this.currentGame.time.ticked - el.timeTicked) < this.gameLevelObj.noteLife) && (this.currentGame.time.ticked - el.timeTicked > -1)
        }) : []
      },
      currentTurnArrayFail () {
        return this.currentGame !== 'undefined' ? this.currentTurn.filter(el => {
          return el.noteIndex === -1 && (this.currentGame.time.ticked - el.timeTicked < 6) && (el.time >= this.currentGame.time.current) && (this.currentGame.time.ticked - el.timeTicked > -1)
        }) : []
      },
      */
      currentCorrect () {
        if (this.gameLevel !== 0) return []
        const currentStringIndex = (this.currentStringValue + this.rootIndex) % 12
        return this.win ? [] : this.noteArray/*.filter(el => el.time < 0)*/.map(el => {
          const tempResult = (this.octave.findIndex(elem => elem === el.name) - currentStringIndex) % 12
          if (tempResult < 0) return { fret: (tempResult + 12) }
          return { fret: tempResult }
        })
      },
      currentStringValue () {
        return this.currentGame !== 'undefined' ? this.currentGame.notePool[this.currentGame.string] : ''
      },
      currentString () {
        return (this.strings.length - 1) - this.currentGame.string
      },
      tuning () {
        return this.$store.state.settings.tuning
      },
      rootIndex () {
        return this.tuning.root.index
      },
      stringsOrdered () {
        return this.tuning.strings
      },
      strings () {
        return this.tuning.strings.slice().reverse()
      },
      tones () {
        return this.$store.state.library.tones
      },
      octave () {
        return this.$store.state.library.octave
      },
      intervals () {
        return this.$store.state.library.intervals || {}
      },
      volume () {
        return this.$store.state.settings.volume
      },
      guitarSound () {
        return this.$store.state.guitarSound
      }
    }
  }
</script>