<template>
  <div class="fretboard-container fretboard-container--fretboard">
    <div class="fretboard" :class="{ 'fretboard--win': win}">
      <div class="fretboard-moving">
        <div class="frets">
          <div  class="fret" v-for="fret in 13" @click.prevent="$store.commit('GAME_USER_INPUT', { fret: fret - 1 })">

            <a class="fret-link" href="#"></a>
          </div >
        </div>
      </div>
      <div class="strings" :class="[ 'strings-' + strings.length ]">

        <div class="string" v-for="(string, index) in strings" :class="{'active': (string % 12) === currentStringValue }">
          <span class="string__name">
            {{ getStringName(string + rootIndex) }}
          </span>
          <div class="string__line"></div>
          <div class="string__try__container">
            <div class="string__try" :class="['string__try--fret-' + stringTry.fret]" v-for="stringTry in currentTurnArraySuccess" v-if="isEqualString(stringTry.string, string)">
              <div class="string__try__inner">
                {{ stringTry.note }}  
              </div>
              
            </div>

            <div class="string__try  string__try--fail" :class="['string__try--fret-' + stringTry.fret]" v-for="stringTry in currentTurnArrayFail" v-if="isEqualString(stringTry.string, string)">
              <div class="string__try__inner">
                {{ stringTry.note }}  
              </div>
              
              <div class="string__fail__overlay">
                <div class="string__try__inner">
                  ✕
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'Fretboard',
    methods: {
      getStringName (stringIndex) {
        return this.tones[stringIndex].note
      },
      getStringValue (stringIndex) {
        return this.tones[stringIndex].value
      },
      isEqualString (string, stringFromLoop) {
        return (this.currentGame.notePool[string] === (stringFromLoop % 12))
      }
    },
    data () {
      return {
        currentTurn: 'undefined',
        turnSize: 0,
        doneTurnSize: 0,
        win: 0,
        winDelay: 1000
      }
    },
    watch: {
      currentTurnCached (newTurn) {
        if (this.currentTurn === 'undefined') {
          this.currentTurn = newTurn
          return 0
        }
        if ((this.turnSize !== this.currentTurn.tries.length || this.doneTurnSize !== this.currentGame.turns.length) && this.currentTurn.tries.length > 0) {
          this.turnSize = this.currentTurn.tries.length
          this.doneTurnSize = this.currentGame.turns.length
          if (this.guitarSound !== 'undefined') {
            const lastNew = this.currentTurn.tries[this.currentTurn.tries.length - 1]
            this.guitarSound.play(
              this.getStringValue(this.stringsOrdered[lastNew.string] + this.rootIndex + lastNew.fret),
              0,
              !lastNew.noteIndex ? { gain: Math.floor(this.volume / 100 * 6.5), sustain: 0.1 } : { gain: Math.floor(this.volume / 100 * 10), sustain: 1.8 }
            )
          }
        }
        if (this.currentTurn.tries.length === newTurn.tries.length) {
        } else if (this.currentTurn.tries.length > newTurn.tries.length) {
          this.win = 1
          setTimeout(() => {
            this.currentTurn = newTurn
            this.win = 0
          }, this.winDelay)
        } else {
          this.currentTurn = newTurn
        }
        return 1
      }
    },
    computed: {
      currentGame () {
        return this.$store.state.currentGame
      },
      gameLevelObj () {
        return this.currentGame.gameLevelObj
      },
      currentTurnCached () {
        return this.currentGame.currentNoteObj || []
      },
      noteArray () {
        return this.currentGame.noteArray || []
      },
      currentTurnArraySuccess () {
        return this.currentGame !== 'undefined' ? this.currentTurn.tries.filter(el => {
          return el.noteIndex === true && ( (el.time >= this.currentGame.time.current) || this.win)
        }) : []
      },
      currentTurnArrayFail () {
        return this.currentGame !== 'undefined' ? this.currentTurn.tries.filter(el => {
          return el.noteIndex === false && (el.time >= this.currentGame.time.current)
        }) : []
      },
      currentStringValue () {
        return this.currentGame !== 'undefined' ? this.currentGame.notePool[this.currentTurnCached.string] : ''
      },
      currentString () {
        return (this.strings.length - 1) - this.currentGame.string
      },
      tuning () {
        return this.$store.state.settings.tuning
      },
      rootIndex () {
        return this.tuning.root.index
      },
      stringsOrdered () {
        return this.tuning.strings
      },
      strings () {
        return this.tuning.strings.slice().reverse()
      },
      tones () {
        return this.$store.state.library.tones
      },
      guitarSound () {
        return this.$store.state.guitarSound
      },
      volume () {
        return this.$store.state.settings.volume
      }
    }
  }
</script>
