<template>
  <div class="did-you-know">
    <h3 class="did-you-know__header">
      Did you know?
    </h3>
    <p class="did-you-know__text">
      {{ didYouKnow[0] }}
    </p>
  </div>
</template>

<script>

  export default {
    name: 'DidYouKnow',
    computed: {
      didYouKnow () {
        return this.$store.state.library.didYouKnow
      }
    }

  }
</script>