<template>
  <div class="intro-canvas">
    <canvas id="intro-canvas"  width="150" height="150"></canvas>
    <div style="visibility:hidden">

      <img id="player" src="tmp.png" width="71000px" height="1000px" style="max-width: none;height:1000px;">
    </div>
  </div>
</template>
<style>
  #intro-canvas, .intro-canvas{
    position: absolute;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;
  }
</style>
<script>
  export default {
    name: 'IntroCanvas',
    mounted () {
      var background = new Image();
      background.src = 'bg.png';

      var canvas = document.getElementById('intro-canvas'),
      ctx = canvas.getContext('2d')


      // set canvas dimensions
      canvas.height = window.innerHeight
      canvas.width = window.innerWidth;

      // set image source
      /* Main */
      var guitarPlayer = document.getElementById('player');
        /** 
         * anim loop
         */

      let now,
        then,
        elapsed,
        fpsInterval,
        startTime
      function startAnimating(fps) {
        fpsInterval = 1000 / fps
        then = Date.now()
        startTime = then
        animate()
      }
      const animate = () => {
        requestAnimationFrame(animate)
        now = Date.now()
        elapsed = now - then
        if (elapsed > fpsInterval) {
          then = now - (elapsed % fpsInterval)
          coin.render()
        }
      }
      const sprite = () => {
        const that = {}
        let tickCount = 1
        let frameIndex = 0
        const numberOfFrames = 71
        that.render = () => {
          ctx.clearRect(0, 0, window.innerWidth, window.innerHeight)

          ctx.drawImage(background, 0, 0, window.innerWidth, window.innerHeight)

          // Draw only the current frame
          ctx.drawImage(
            guitarPlayer,
            tickCount % numberOfFrames * 1000,
            0,
            1000,
            1000,
            window.innerWidth - window.innerHeight * 1.03,
            window.innerHeight * 0.06,
            window.innerHeight * 0.98,
            window.innerHeight * 0.98)
          ctx.globalCompositeOperation = 'multiply'

          tickCount++
        }

        return that
      }

      const coin = sprite()
      startAnimating(32)
    }
  }
</script>