<template>
  <div class="intro-svg">
    <svg>

      <image  xlink:href="bg.png" x="0" y="0" height="100%" width="100%"/>      
      <image xlink:href="player-c.gif" x="0" y="0" height="98%" width="98%" :x="svgDistanceX" :y="svgDistanceY" style="mix-blend-mode: multiply;-webkit-mix-blend-mode: multiply;"/>
    </svg>
  </div>
</template>
<style>
  .intro-svg, .intro-svg svg{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

</style>
<script>
  export default {
    name: 'IntroSvg',
    computed: {
      svgDistanceX () {
        return window.innerWidth - window.innerHeight * 1.4
      },
      svgDistanceY () {
        return window.innerHeight * 0.06
      },
      svgSpriteWidth () {
        return window.innerHeight * 0.98 * 71
      }
    }
  }
</script>