<template>
  <div class="svg-pie" :style="{'backgroundImage': `linear-gradient(0deg, transparent ${percentage}%, #fcf7fa ${percentage}%)`}">
    <!--
    <svg  width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" meetOrSlice="meet">
      <circle r="25" cx="50" cy="50" class="pie" :style="{ 'strokeDasharray': percentageAdjusted + ', '+ total }"/>
    </svg>
    -->
  </div>  
</template>

<style lang="scss">
  .svg-pie{
    svg{
      transform: rotate(-90deg);
      background: #ddd;
      border-radius: 50%;
      display: block;
      max-width: 100%;
      max-height: 100%;
      width:100%;
      height: 100%;
    }
    circle {
      fill: #ddd;
      stroke: #0074d9;
      stroke-width: 50;
      stroke-dasharray: 0 158;
      -webkit-transition: stroke-dasharray .3s ease;
      transition: stroke-dasharray .3s ease;
    }
    .pie-alt{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #0074d9;
    }

    //background-image: linear-gradient(0deg, transparent 50%, rgba(#fcf7fa,1) 50%);
  }
</style>

<script>
  export default {
    name: 'pie',
    props: ['percentage'],
    data () {
      return {
        total: 158
    //    percentage: 80
      }
    },
    computed: {
      percentageAdjusted () {
        return this.percentage * (this.total / 100)
      },
      percentages () {
        return [0, 0]
      }
    }
  }
</script>
