<template>
  <div class="top-indicator">
    <div class="top-indicator__progress" :style="{'transform': 'scaleX('+(fraction)+')' }"></div>
    <div class="top-indicator__progress__quick" :style="{'transform': 'scaleX('+(fraction)+')' }"></div>
  </div>
</template>

<script>
  export default {
    name: 'TopIndicator',
    props: {
      fraction: 0
    }
  }
</script>