<template>
  <div class="page page--1">
    <div class="page__inner">
    <div class="logo">
      <span class="logo__light">String</span><span class="logo__dark">Notes</span>
      <div class="logo__subheader">
        early access
      </div>
    </div>
    <div class="main-menu">
      <router-link class="btn main-menu__item" to="/journey">play</router-link>
      <router-link class="btn main-menu__item" to="/journey/fretboard/setup">Practice</router-link>
      <div class="btn btn--locked main-menu__item" @click="popupToggle">Experimental</div>
    </div>
    <character-advanced></character-advanced>
    <router-link class="settings-link circle-link" to="/settings">
      Settings
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <title>
          Open Settings
        </title>
        <path d="M20 13.44v-2.88l-1.8-.3c-.1-.397-.3-.794-.6-1.39l1.1-1.49-2.1-2.088-1.5 1.093c-.5-.298-1-.497-1.4-.596L13.5 4h-2.9l-.3 1.79c-.5.098-.9.297-1.4.595L7.4 5.292 5.3 7.38l1 1.49c-.3.496-.4.894-.6 1.39l-1.7.2v2.882l1.8.298c.1.497.3.894.6 1.39l-1 1.492 2.1 2.087 1.5-1c.4.2.9.395 1.4.594l.3 1.79h3l.3-1.79c.5-.1.9-.298 1.4-.596l1.5 1.092 2.1-2.08-1.1-1.49c.3-.496.5-.993.6-1.39l1.5-.3zm-8 1.492c-1.7 0-3-1.292-3-2.982 0-1.69 1.3-2.98 3-2.98s3 1.29 3 2.98-1.3 2.982-3 2.982z"/>
      </svg>
    </router-link>
    <character-level></character-level>
    <!--
    -->
    </div>
    <!--
    <div class="intro-character__wrapper">
      <div class="intro-character">
        <video src="player-c.webm" class="intro-character__video" autoplay loop></video>
      </div>
    </div>
    -->
    <!-- <intro-svg></intro-svg> -->
    <transition name="slide-popup">
      <pop-up v-if="popupOpen">
        <span slot="title">
          Experimental
        </span>
        <div slot="main">
          <h2 class="header game__settings__header">
            Help us fund the game
          </h2>
          <h3>
            Available in <em>{{getRemainingDays()}} days</em>. Help now for bonuses.
          </h3>
          <p>
            Experimental mode will let users test new game modes/features ahead of them being implemented for everyone. There will be always be at least one mode available exclusively through experimental mode as a reward for helping to make this possible.
          </p>
          <p>
            <b>Before we open you can get <em>lifetime access</em> for any donation of $5 usd or above through our site. <a target="_blank" href="https://stringnotes.com/#donate">stringnotes.com</a>
            </b>
          </p>
          <p>
            Once we go live there will be a $6 usd / month subscription to this feature as a way to raise money to <b>grow and improve the game.</b>
          </p>
          <h4>
            Big thanks to everyone playing!
          </h4>
          <div class="center">
            
            <h3>
              Coming May 28th - A Rhythm Game
            </h3>
            <p>
              <img class="mode-inline" src="snare1.svg" alt="">
            </p>
          </div>
        </div>
        <div class="bottom__buttons" slot="buttons">
          <a class="btn" target="_blank" href="https://stringnotes.com/#donate">
            help fund
          </a>
          <div class="btn btn--faded" @click="popupToggle">
            back
          </div>
        </div>
      </pop-up>
    </transition>
  </div>
</template>

<script>
  import PopUp from '../components/PopUp'
  import CharacterAdvanced from '../components/CharacterAdvanced'
  import CharacterLevel from '../components/CharacterLevel'
  export default {
    name: 'Home',
    data () {
      return {
        popupOpen: false
      }
    },
    components: {
      PopUp,
      CharacterAdvanced,
      CharacterLevel
    },
    methods: {
      popupToggle () {
        this.popupOpen = !this.popupOpen
      },
      getRemainingDays () {
        const otherDate = new Date('05/28/2017 0:00 AM')
        const now = new Date()
        const day = 1000 * 60 * 60 * 24
        return Math.max(Math.floor((otherDate - now) / day), 0)
      }
    }
  }
</script>
