<template>
  <div class="page page--2">
    
    <transition name="slide-down">
      <div class="game__settings" v-if="isSetup">
        <ul class="game__modes">

          <router-link class="game__modes__item" :style="{ backgroundImage: 'url(' + game.id + 'icon.svg)' }" :to="{ name: 'journey', params: { game: game.id, gameOption: 'setup' }}" tag="li" v-for="game in gamesList" v-if="game.id === $route.params.game">
            {{ game.name }}</router-link>

          <li class="game__modes__item" :style="{backgroundImage: 'url(plus.svg)', backgroundSize: '34% auto'}" @click="popupToggle">
            Plus
          </li>
        </ul>
        <arpeggiator-setup v-if="this.$route.params.game === 'arpeggiator'" :anim-start="animStart"></arpeggiator-setup>
        <fretboard-setup v-if="this.$route.params.game === 'fretboard'" :anim-start="animStart"></fretboard-setup>
        
      </div>
      
    </transition>

    <transition name="slide-up">
      <div class="game__play" v-if="isGameplay">
        <router-link class="circle-link circle-link--pause" :to="{ name: 'journey', params: { game: $route.params.game, gameOption: 'play', gameOption2: 'pause' }}" v-if="$route.params.gameOption2 !== 'pause'"><span class="pause__inner">Pause</span></router-link>
        <component :is="gamePlay"></component>
        <transition name="slide-down">
          <component :is="gamePause" v-if="$route.params.gameOption2 === 'pause'"></component>
          <component :is="gameEnd" v-if="status === 'loss'"></component>
        </transition>
      </div>
    </transition>

    <transition name="slide-popup">
      <pop-up v-if="popupOpen">
        <span slot="title">
          New modes
        </span>
        
        <div slot="main">
          <h2 class="header game__settings__header">
            New modes coming soon!
          </h2>
          <div class="center">
            <img class="mode-inline" src="questionmark4.svg" alt="">
            <img class="mode-inline" src="snare1.svg" alt="">
          </div>
          <p>
            There is lot of big things and general imrpovements coming soon and we hope to make this game the best we can.
            On our site you can subscribe to updates about all the news.
          </p>
          <p>
            If you enjoy playing please consider donating to help us dedicate more time to this project.
          </p>
        </div>
        <div class="bottom__buttons" slot="buttons">
          <a class="btn" target="_blank" href="https://stringnotes.com/#donate">
            help fund
          </a>
          <div class="btn btn--faded" @click="popupToggle">
            back
          </div>
        </div>
      </pop-up>
    </transition>
  </div>
</template>

<script>
import Counter from 'components/Counter'
import FretboardSetup from 'components/FretboardSetup'
import ArpeggiatorSetup from 'components/ArpeggiatorSetup'
import ArpeggiatorPlay from 'components/ArpeggiatorPlay'
import ArpeggiatorPause from 'components/ArpeggiatorPause'
import ArpeggiatorEnd from 'components/ArpeggiatorEnd'
import FretboardPlay from 'components/FretboardPlay'
import FretboardPause from 'components/FretboardPause'
import FretboardEnd from 'components/FretboardEnd'
import PopUp from 'components/PopUp'

export default {
  components: {
    Counter,
    ArpeggiatorSetup,
    FretboardSetup,
    ArpeggiatorPlay,
    FretboardPlay,
    ArpeggiatorPause,
    FretboardPause,
    ArpeggiatorEnd,
    FretboardEnd,
    PopUp
  },
  props: ['animStart'],
  data () {
    return {
      popupOpen: false
    }
  },
  computed: {
    setupObj () {
      return this.$store.state.gameObjects.find(el => el.id === this.$route.params.game)
    },
    gameTitle () {
      return this.setupObj.name
    },
    gameSetup () {
      return this.setupObj.setupComponent
    },
    isSetup () {
      return this.$route.params.gameOption === 'setup'
    },
    isGameplay () {
      return this.$route.params.gameOption === 'play'
    },
    gameSettings () {
      return this.setupObj.settings
    },
    gamePlay () {
      return this.setupObj.gameComponent
    },
    gamePause () {
      return this.setupObj.gamePauseComponent
    },
    gameEnd () {
      return this.setupObj.gameEndComponent
    },
    gamesList () {
      return this.$store.state.gameObjects
    },
    currentGame () {
      return this.$store.state.currentGame || {}
    },
    status () {
      return this.currentGame.status
    }
  },
  methods: {
    popupToggle () {
      this.popupOpen = !this.popupOpen
    }
  },
  mounted () {
    document.addEventListener('pause', () => {
      if (this.$route.params.gameOption === 'play') {
        router.push({ name: 'journey', params: { game: this.$route.params.game, gameOption: 'play', gameOption2: 'pause' }})
      }
    }, false)
  }
}
</script>
