<template>
  <div class="page page--2">
    
    <transition name="slide">
      <div class="game__settings" v-if="isSetup">
        <ul class="game__modes">

          <router-link class="game__modes__item" :style="{ backgroundImage: 'url(' + game.id + 'icon.png)' }" :to="{ name: 'practice', params: { game: game.id, gameOption: 'setup' }}" tag="li" v-for="game in gamesList">
            {{ game.name }}</router-link>
        </ul>
        <div class="game__settings__main">
          <h2 class="game__settings__title">{{ gameTitle }}</h2>
          <component :is="gameSetup"></component>
          <div class="confirm-controls">
            <router-link class="btn" :to="{ name: 'journey', params: { game: $route.params.game, gameOption: 'play' }}">Play</router-link>
            <router-link class="btn btn--secondary" to="/">Back</router-link>
          </div>
        </div>
      </div>
      
    </transition>

      <div class="game__play" v-if="isGameplay">
        <router-link class="circle-link circle-link--pause" :to="{ name: 'journey', params: { game: $route.params.game, gameOption: 'play', gameOption2: 'pause' }}" v-if="$route.params.gameOption2 !== 'pause'"><span class="pause__inner">Pause</span></router-link>
        <component :is="gamePlay"></component>
        <transition name="slide">
          <component :is="gamePause" v-if="$route.params.gameOption2 === 'pause'"></component>
          <component :is="gameEnd" v-if="status === 'loss'"></component>
        </transition>
      </div>
  </div>
</template>

<script>
import Counter from 'components/Counter'
import FretboardSetup from 'components/FretboardSetup'
import ArpeggiatorSetup from 'components/ArpeggiatorSetup'
import ArpeggiatorPlay from 'components/ArpeggiatorPlay'
import ArpeggiatorPause from 'components/ArpeggiatorPause'
import ArpeggiatorEnd from 'components/ArpeggiatorEnd'
import FretboardPlay from 'components/FretboardPlay'
import FretboardPause from 'components/FretboardPause'
import FretboardEnd from 'components/FretboardEnd'

export default {
  components: {
    Counter,
    ArpeggiatorSetup,
    FretboardSetup,
    ArpeggiatorPlay,
    FretboardPlay,
    ArpeggiatorPause,
    FretboardPause,
    ArpeggiatorEnd,
    FretboardEnd
  },
  computed: {
    setupObj () {
      return this.$store.state.gameObjects.find(el => el.id === this.$route.params.game)
    },
    gameTitle () {
      return this.setupObj.name
    },
    gameSetup () {
      return this.setupObj.setupComponent
    },
    isSetup () {
      return this.$route.params.gameOption === 'setup'
    },
    isGameplay () {
      return this.$route.params.gameOption === 'play'
    },
    gameSettings () {
      return this.setupObj.settings
    },
    gamePlay () {
      return this.setupObj.gameComponent
    },
    gamePause () {
      return this.setupObj.gamePauseComponent
    },
    gameEnd () {
      return this.setupObj.gameEndComponent
    },
    gamesList () {
      return this.$store.state.gameObjects
    },
    currentGame () {
      return this.$store.state.currentGame || {}
    },
    status () {
      return this.currentGame.status
    }
  },
  mounted () {
    document.addEventListener('pause', () => {
      if (this.$route.params.gameOption === 'play') {
        router.push({ name: 'journey', params: { game: this.$route.params.game, gameOption: 'play', gameOption2: 'pause' }})
      }
    }, false)
  }
}
</script>
