<template>
  <div class="page page--2">
    <div class="pause">
      <h2 class="game__settings__title">Settings</h2>
      <div class="pause__main settings__main">
        <div class="pause__container">
          <h2 class="header game__settings__header">
            Set up your games
          </h2>
          <div class="titled settings__side">
            <div class="label">
              volume
            </div>
            <div class="titled titled--fill">
              <div class="range--numbered">
                <div class="range-slider">
                  <input class="range-slider__range" type="range" :value="setup.volume" min="0" max="40" step="0.4" @input="handleVolume">
                </div>  
                <div class="range__number">
                  {{ (setup.volume * 2.5) }}
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="titled settings__side--left settings__side">
              <div class="label">
                instrument
              </div>
              <ul class="title settings__list settings__list--left">
                <li class="settings__item settings__instrument" v-for="instrument in instruments" @click="handleInstrumentChange(instrument)" :class="{ 'settings__item--active': instrument.name === currentInstrument.name}">
                  {{ instrument.name }}
                </li>
              </ul>
            </div>
            
            <div class="titled settings__side settings__side--right">
              <div class="label">
                tuning
              </div>
              <!--
              <div class="title">
                {{ setup.tuning.rootName || setup.tuning.root.note }} {{ setup.tuning.name }}
              </div>
              <div>
                {{  }}
              </div>
              -->
              <ul class="title settings__list settings__list--right">
                <li class="settings__item settings__tuning" v-for="tuning in instrumentTunings" @click="handleTuningChange(tuning)" :class="{ 'settings__item--active': setup.tuning.title === tuning.title}">
                  <div class="scale__name">
                    {{ tuning.title }}
                  </div>
                  <div class="scale__info">
                    <div class="scale__notes">
                      [<span class="scale__note" v-for="note in makeNotesFromTuning(tuning)">{{note}}</span>]
                    </div>  
                    <div class="scale__notes">
                      [<span class="scale__note" v-for="note in tuning.strings">{{note}}</span>]
                    </div>
                  </div>
                  
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>

      <div class="bottom__buttons">
        <router-link class="btn" to="/">back</router-link>  
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'settings',
  components: {
  },
  data () {
    return {
      volume: 0
    }
  },
  methods: {
    handleVolume (e) {
      this.$store.commit('UPDATE_APP_SETUP', { volume: e.target.value })
    },
    handleTuningChange (tuning) {
      this.$store.commit('UPDATE_APP_SETUP', { tuning })
    },
    handleInstrumentChange (instrument) {
      this.$store.commit('UPDATE_APP_SETUP', { instrument, tuning: this.library.tunings[instrument.name][0] })
    },
    makeNotesFromTuning (tuning) {
      const rootIndex = this.tones.findIndex(el => el.value === tuning.root)
      return tuning.strings.map(el => this.tones[rootIndex + el].note)
    }
  },
  mounted () {
  },
  computed: {
    library () {
      return this.$store.state.library
    },
    tones () {
      return this.library.tones
    },
    setup () {
      return this.$store.state.settings
    },
    currentInstrument () {
      return this.setup.instrument
    },
    instruments () {
      return this.library.instruments
    },
    instrumentTunings () {
      return this.library.tunings[this.currentInstrument.name]
    }

  }
}
</script>
