<template>
  <div id="app">
    <div class="app-bg" :class="{'blur-bg': isSetup}"></div>
    <home></home>
    <transition name="main-anim"  v-on:after-enter="animToggle" v-on:before-leave="animEnd">
      <router-view :anim-start="animStart"></router-view>
    </transition>
  </div>
</template>
<style lang="scss" src="./../../static/scss/app.scss"></style>
<script>
  import Home from 'views/Home'

  export default {
    mounted () {
      this.$store.dispatch('makeSoundfont')
      this.$store.commit('INIT_APP_SETUP')
      screen.orientation.lock('landscape')
      if (navigator && navigator.splashscreen) {
        navigator.splashscreen.hide()
      } else {
        setTimeout(() => (navigator && navigator.splashscreen) && navigator.splashscreen.hide(), 3000)
        document.addEventListener("deviceready", () => {
          setTimeout(() => navigator.splashscreen.hide(), 300);
        }, false)
      }
    },
    components: {
      Home
    },
    data () {
      return {
        animStart: 0
      }
    },
    methods: {
      animToggle () {
        this.animStart = 1
      },
      animEnd () {
        this.animStart = 0
      }
    },
    computed: {
      isSetup () {
        return this.$route.params.gameOption === 'setup' || this.$route.name === 'settings' || this.$route.params.gameOption === 'play'
      }
    }
  }
</script>