<template>
  <div class="pause">
    <h2 class="game__settings__title">Results</h2>
    <div class="pause__main">
      <div class="game__stats">
        <div class="titled titled--ib">
          <div class="label">
            Level
          </div>
          <div class="title">
            {{ level }}
          </div>
        </div>
        <div class="titled titled--ib">
          <div class="label">
            Chord
          </div>
          <div class="title">
            {{ selectedChord.root }}{{ selectedChord.suffix }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Final score
          </div>
          <div class="title" :class="{'title--success': score === statsArchive[selectedChord.name][selectedChord.root].highScore }">
            {{ score.toLocaleString() }}
          </div>
        </div>


        <div class="titled titled--ib">
          <div class="label">
            Highest {{ selectedChord.root }}{{ selectedChord.suffix }} chord score
          </div>
          <div class="title" :class="{'title--success': score === statsArchive[selectedChord.name][selectedChord.root].highScore }">
            {{ statsArchive[selectedChord.name][selectedChord.root].highScore.toLocaleString() }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Highest {{ selectedChord.name }} chord score
          </div>
          <div class="title" :class="{'title--success': score === statsArchive[selectedChord.name].highScore }">
            {{ statsArchive[selectedChord.name].highScore.toLocaleString() }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Highest score
          </div>
          <div class="title" :class="{'title--success': score === statsArchive.highScore }">
            {{ statsArchive.highScore.toLocaleString() }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Achievements
          </div>
          <div class="title title--inline" :class="{'title--success': comparedAchievements.totalAchievements > 0, 'title--fail': statsArchive[selectedChord.name].totalAchievements === 0}">
            {{ statsArchive[selectedChord.name].totalAchievements }}
          </div><div class="title title--inline">
            /{{ totalAchievements }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Completed chords
          </div>
          <div class="title" :class="{'title--fail': turns.length === 0}">
            {{ turns.length }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Accuracy
          </div>
          <div class="title" :class="{'title--fail': turns.length === 0}">
            {{ noteAccuracy+'%' }}
          </div>
        </div>
      </div>
      <div class="pause__container">
        <h2 class="header game__settings__header"  v-if="comparedAchievements.totalAchievements > 0 || score === statsArchive[selectedChord.name][selectedChord.root].highScore || characterLevel > characterLevelPrev">
          Congratulations!
        </h2>
        <h2 class="header game__settings__header" v-else>
          Keep getting better!
        </h2>
        <h3>
          You've earned <em>{{ score.toLocaleString() }}exp</em>!
        </h3>
        <h3 v-if="characterLevel > characterLevelPrev">
          You've reached new character level - <em>Level {{ characterLevel }}</em>!
        </h3>
        <h3 v-if="getArpeggiatorLastUnlock(statsArchive.totalAchievements) !== getArpeggiatorLastUnlock(statsArchive.totalAchievements - comparedAchievements.totalAchievements)">
          You've unlocked <em>{{ chordArrayAvailable[lastUnlock].name}} chords</em>!
        </h3>
        <h3 v-if="score === statsArchive.highScore">
          You've made new <em>overall</em> high score!
        </h3>
        <h3 v-if="score < statsArchive.highScore && score === statsArchive[selectedChord.name].highScore">
          You've made new <em>{{ selectedChord.name }} chord</em> high score 
        </h3>
        <h3 v-if="score < statsArchive[selectedChord.name].highScore && score === statsArchive[selectedChord.name][selectedChord.root].highScore">
          You've made new <em>{{ selectedChord.root }}{{ selectedChord.suffix }} chord</em> high score 
        </h3>      
        <h3 v-if="comparedAchievements.totalAchievements > 0">
          Achievements <em>+{{comparedAchievements.totalAchievements}}</em>
        </h3>
        <p v-if="lastUnlock < (chordArrayAvailable.length - 1)">
          Collect <em>{{ achievementsUnlockTable[lastUnlock + 1] - statsArchive.totalAchievements }} more</em> achievements to unlock a new chord type - <em>{{ chordArrayAvailable[lastUnlock + 1].name}} chords</em>
        </p>
        <div class="titled" v-for="(achievement, index) in achievements"  v-if="index !== 'total' && comparedAchievements[achievement.trait] > 0">
          <div class="label label--achievement">
            Achievement - {{ achievement.trait }} Lv{{statsArchive[selectedChord.name][achievement.trait]}} ({{statsArchive[selectedChord.name][achievement.trait]}}/{{achievement.levels.length}})
          </div>
          <div class="title title--achievement" v-if="achievement.levels.length > statsArchive[selectedChord.name][achievement.trait] + 1">
            Lv{{statsArchive[selectedChord.name][achievement.trait] + 1}} - {{achievement.levels[statsArchive[selectedChord.name][achievement.trait]].text}}
          </div>
          <div class="title title--achievement  title--achievement--done" v-for="count in comparedAchievements[achievement.trait]">
            Lv{{statsArchive[selectedChord.name][achievement.trait] - count + 1}} - {{ achievement.levels[statsArchive[selectedChord.name][achievement.trait] - count].text }}
          </div>
        </div>
        <div class="titled" v-for="(achievement, index) in achievements"  v-if="index !== 'total' && comparedAchievements[achievement.trait] === 0 && achievement.levels.length > statsArchive[selectedChord.name][achievement.trait] + 1">
          <div class="label label--achievement">
            Achievement - {{ achievement.trait }} Lv{{statsArchive[selectedChord.name][achievement.trait]}} ({{statsArchive[selectedChord.name][achievement.trait]}}/{{achievement.levels.length}})
          </div>
          <div class="title title--achievement">
            Lv{{statsArchive[selectedChord.name][achievement.trait] + 1}} - {{achievement.levels[statsArchive[selectedChord.name][achievement.trait]].text}}
          </div>
        </div>
      </div>

      <div v-if="false">
        <h5>
          You've had highest <em>overall</em> accuracy 
        </h5>
        <h5>
          You've had highest <em>{{ selectedChord.name }} chord</em> accuracy 
        </h5>
        <h5>
          You've had highest <em>{{ selectedChord.root }}{{ selectedChord.suffix }} chord</em> accuracy 
        </h5>
      </div>

    </div>
    <end-buttons></end-buttons>    
  </div>
</template>

<script>
  import EndButtons from 'components/end/EndButtons'
  import DidYouKnow from 'components/helpers/DidYouKnow'
  import { makeAchievements, diffAchievements } from 'store/library/games'
  import { deepCopy } from 'store/helpers/_generalHelpers'
  //import Chartist from 'Chartist'


  export default {
    name: 'ArpeggiatorEnd',
    components: {
      EndButtons,
      DidYouKnow
    },
    data () {
      return {
      }
    },
    computed: {
      currentGame () {
        return this.$store.state.currentGame || {}
      },
      achievements () {
        return this.$store.state.library.achievements.arpeggiator
      },
      totalAchievements () {
        return this.achievements.reduce((acc, el) => acc + el.levels.length, 0)
      },
      lockAmount () {
        return this.$store.state.library.constants.arpeggiatorAchievementsLockAmount
      },
      score () {
        return this.currentGame.score
      },
      level () {
        return this.currentGame.gameLevel
      },
      turns () {
        return this.currentGame.allTurns.concat(this.currentGame.turns)
      },
      currentTurn () {
        return this.currentGame.currentTurn
      },
      totalAttempts () {
        return this.turns.reduce((acc, el) => acc + el.length, 0) + this.currentTurn.length
      },
      chordLength () {
        return this.currentGame.noteArray.length
      },
      totalTime () {
        return this.turns.reduce((acc, el) => acc + el[0].time - el[el.length - 1].time, 0)
      },
      averageTime () {
        return (this.totalTime / this.turns.length).toFixed(2) // that is just wrong
      },
      noteAccuracy () {
        return (((this.chordLength * this.turns.length) / this.totalAttempts) * 100).toFixed(2)
      },
      gameObj () {
        return this.$store.state.gameObjects.find(el => el.id === 'arpeggiator')
      },
      setupObj () {
        return this.gameObj.currentSetup
      },
      selectedChord () {
        return this.setupObj.chord || {}
      },
      archive () {
        return this.gameObj.archive
      },
      comparedAchievements () {
        return diffAchievements(this.achievementsOlder, this.statsArchive[this.selectedChord.name])
      },
      chordTypes () {
        return this.$store.state.library.chords
      },
      selectedScale () {
        return this.setupObj.scale || {}
      },
      chordArrayAvailable () {
        return this.selectedScale.chordArray.filter(el => el.scaleRoots.length > 0)
      },
      olderStats () {
        const olderStats = deepCopy(this.archive)
        olderStats[this.selectedChord.name][this.selectedChord.root] = olderStats[this.selectedChord.name][this.selectedChord.root].slice(0,-1)
        return olderStats
      },
      achievementsOlder () {
        return makeAchievements(this.olderStats[this.selectedChord.name])
      },
      statsArchive () {
        return this.gameObj.statsArchive
      },
      totalScore () {
        return this.$store.state.gameObjects.reduce((acc, el) => Math.floor(acc + el.statsArchive.totalScore), 0)
      },
      characterLevels () {
        return this.$store.state.library.characterLevels
      },
      characterLevelPrev () {
        return this.characterLevels.reduce((acc, el, index) => el < this.totalScore - this.score ? index : acc, 0)
      },
      characterLevel () {
        return this.characterLevels.reduce((acc, el, index) => el < this.totalScore ? index : acc, 0)
      },
      characterLevelRequirements () {
        return {
          prev: this.characterLevels[this.characterLevel],
          next: this.characterLevels[Math.min(this.characterLevel + 1, this.characterLevels.length - 1)],
          diff: this.characterLevels[Math.min(this.characterLevel + 1, this.characterLevels.length - 1)] - this.characterLevels[this.characterLevel]
        }
      },
      progressPercentage () {
        return (Math.min(1, this.expOverPreviousLevel / this.characterLevelRequirements.diff) * 100).toFixed(2)
      },
      expOverPreviousLevel () {
        return (this.totalScore - this.characterLevelRequirements.prev)
      },
      constants () {
        return this.$store.state.library.constants
      },
      achievementsUnlockTable () {
        return this.constants.arpeggiatorAchievementsUnlockTable
      },
      lastUnlock () {
        return this.constants.getArpeggiatorLastUnlock(this.statsArchive.totalAchievements)
      }
    },
    methods: {
      getArpeggiatorLastUnlock (amount) {
        return this.constants.getArpeggiatorLastUnlock(amount)
      }
    }
  }
</script>