<template>

  <div class="game__settings__main">

      <h2 class="game__settings__title">Arpeggiator of Death <span class="game__settings__title__right" v-if="statsArchive"><span class="label">achievements</span> {{ currentAchievements }}/{{ totalAchievements }}</span></h2>

    <div class="game__setup" v-if="statsArchive">

      <scale-dropdown></scale-dropdown>
      <div class="game__setup__edge">
        <chord-expanded></chord-expanded>
      </div>
      <!--
      <div class="chord__expanded">
        <div>
          C
        </div>
        <div>
          medium
        </div>
        <div>
          C, E, G
        </div>
      </div>
      -->
      <chord-selector v-if="animStart + selectorLoad >= 2"  v-on:popupIntervals="popupIntervalsToggle"></chord-selector>

      <div class="bottom__buttons">
        <div class="btn" @click="playGame">Play</div>
        <router-link class="btn btn--secondary" to="/" @click="selectorLoad = 0">Back</router-link>
      </div>
    </div>

    <transition name="slide-popup">
      <pop-up v-if="popupIntervalsOpen">
        <span slot="title">
          Intervals
        </span>
        
        <div slot="main">
          <h2 class="header game__settings__header">
            What are intervals?
          </h2>
          <p>
            In music theory, an interval is the difference between two pitches. An interval may be described as horizontal, linear, or melodic if it refers to successively sounding tones, such as two adjacent pitches in a melody, and vertical or harmonic if it pertains to simultaneously sounding tones, such as in a chord.
          </p>
          <p>
            source: <a href="https://en.wikipedia.org/wiki/Interval_(music)">en.wikipedia.org/wiki/Interval_(music)</a>
          </p>
          <p>
            Chords are defined by notes they are constructed from and their intervals, for each chord you encounter there will be a list of them. You can also see the distance in semitones from root note (one semitone being equal to one fret distance on the same string).
          </p>
          <div class="chord__selector__interval__wrapper titled">
            <div class="label">
              intervals
            </div>
            <ul class="chord__selector__interval__list title title--medium">
              <li class="chord__selector__interval" :class="['color-'+ interval.type +'-'+ interval.order, 'color-'+ interval.type]" v-for="(interval, index) in intervals">
                {{ interval.name }} - {{ index }} / 12
              </li>
            </ul>
          </div>
        </div>
        <div class="bottom__buttons" slot="buttons">
          <div class="btn btn--faded" @click="popupIntervalsToggle">
            back
          </div>
        </div>
      </pop-up>
    </transition>
  </div>
</template>

<script>
  import ScaleDropdown from './ScaleDropdown'
  import ChordSelector from './ChordSelector'
  import ChordExpanded from './ChordExpanded'
  import PopUp from './PopUp'
  export default {
    name: 'ArpeggiatorSetup',
    components: {
      ScaleDropdown,
      ChordSelector,
      ChordExpanded,
      PopUp
    },
    data () {
      return {
        selectorLoad: 0,
        popupIntervalsOpen: false
      }
    },
    methods: {
      popupIntervalsToggle () {
        this.popupIntervalsOpen = !this.popupIntervalsOpen
      },
      playGame () {

        window.plugins && window.plugins.insomnia.keepAwake()
        this.$router.push({ name: 'journey', params: { game: this.$route.params.game, gameOption: 'play' }})
      }
    },
    props: ['animStart'],
    computed: {
      isSetup () {
        return this.$route.params.gameOption === 'setup'
      },
      gameObj () {
        return this.$store.state.gameObjects.find(el => el.id === 'arpeggiator')
      },
      chordTypes () {
        return this.$store.state.library.chords
      },
      intervals () {
        return this.$store.state.library.intervals.map(el => el[0])
      },
      achievements () {
        return this.$store.state.library.achievements.arpeggiator
      },
      totalAchievements () {
        return this.achievements.reduce((acc, el) => acc + el.levels.length, 0) * this.chordTypes.length
      },
      currentAchievements () {
        return this.statsArchive.totalAchievements
      },
      statsArchive () {
        return this.gameObj.statsArchive
      }
    },
    mounted () {
      this.$store.commit('INIT_CURRENT_SETUP')
      setTimeout(() => {
        this.selectorLoad = 1
      }, 800)

      setTimeout(() => {
        this.selectorLoad = 10
      }, 1400)
    }
  }
</script>