<template>
  <div class="pause">
    <h2 class="game__settings__title">Pause</h2>
    <div class="pause__main">
      <div class="pause__container">

      <div class="pause__content">
        <h2 class="header game__settings__header">
          Continue game?
        </h2>
        <p v-html="tutorialSentence">
        </p>
        <p>
          Complete the chord to advance
        </p>
        <p>
          Level 0 guides you, from level 1 you have to find notes on your own
        </p>
        <p>
          Don't be afraid of mistakes, they might help you
        </p>
        <p v-if="lastUnlock < (chordArrayAvailable.length - 1)">
          Collect <em>{{ achievementsUnlockTable[lastUnlock + 1] - statsArchive.totalAchievements }} more</em> achievements to unlock a new chord type - <em>{{ chordArrayAvailable[lastUnlock + 1].name}} chords</em>
        </p>
        <div class="titled" v-for="(achievement, index) in achievements"  v-if="index !== 'total' && achievement.levels.length > statsArchive[selectedChord.name][achievement.trait] + 1">
          <div class="label label--achievement">
            Achievement - {{ achievement.trait }} Lv{{statsArchive[selectedChord.name][achievement.trait]}} ({{statsArchive[selectedChord.name][achievement.trait]}}/{{achievement.levels.length}})
          </div>
          <!--
          <div class="title title--achievement  title--achievement--done" v-if="statsArchive[selectedChord.name][achievement.trait] > 0">
            Lv{{statsArchive[selectedChord.name][achievement.trait]}} - {{ achievement.levels[statsArchive[selectedChord.name][achievement.trait] - 1].text }}
          </div>
          -->
          <div class="title title--achievement"> <!-- v-if="achievement.levels.length > statsArchive[selectedChord.name][achievement]"> -->
            Lv{{statsArchive[selectedChord.name][achievement.trait] + 1}} - {{achievement.levels[statsArchive[selectedChord.name][achievement.trait]].text}}
          </div>
        </div>
        <!--
        <div class="test" v-for="(achievement, index) in achievements" v-if="achievement.levels.length > statsArchive[selectedChord.name][achievement.trait]">
          <h5>{{achievement.trait}} <em>Lv{{statsArchive[selectedChord.name][achievement.trait]}}</em></h5>
          <p v-if="achievement.levels.length > statsArchive[selectedChord.name][achievement.trait]">{{achievement.levels[statsArchive[selectedChord.name][achievement.trait]].text}}</p>
        </div>
        -->
        </div>
      </div>
    </div>
    <pause-buttons></pause-buttons>    
  </div>
</template>

<script>

  import PauseButtons from 'components/pause/PauseButtons'
  import DidYouKnow from 'components/helpers/DidYouKnow'
  export default {
    name: 'ArpeggiatorPause',
    components: {
      PauseButtons,
      DidYouKnow
    },
    computed: {
      tutorialSentence () {
        if (this.noteArray.length === 0) return ''
        let midString = ''
        for (let i = 1; i <= this.noteArray.length - 2; i++) {
          midString += `, ${this.noteArray[i].name}`
        }
        const lastString = this.noteArray.length > 1 ? ` or ${this.noteArray[this.noteArray.length - 1].name}` : ''

        return `Select <em>${this.noteArray[0].name}${midString}${lastString}</em> on highlighted string`
      },
      currentGame () {
        return this.$store.state.currentGame || {}
      },
      noteArray () {
        return this.currentGame.noteArray || []
      },
      chordTypes () {
        return this.$store.state.library.chords
      },
      chordArrayAvailable () {
        return this.selectedScale.chordArray.filter(el => el.scaleRoots.length > 0)
      },
      lockAmount () {
        return this.$store.state.library.constants.arpeggiatorAchievementsLockAmount
      },
      gameObject () {
        return this.$store.state.gameObjects.find(el => el.id === 'arpeggiator')
      },
      achievements () {
        return this.$store.state.library.achievements.arpeggiator
      },
      setupObj () {
        return this.gameObject.currentSetup
      },
      selectedChord () {
        return this.setupObj.chord || {}
      },
      selectedScale () {
        return this.setupObj.scale || {}
      },
      statsArchive () {
        return this.gameObject.statsArchive
      },
      constants () {
        return this.$store.state.library.constants
      },
      achievementsUnlockTable () {
        return this.constants.arpeggiatorAchievementsUnlockTable
      },
      lastUnlock () {
        return this.constants.getArpeggiatorLastUnlock(this.statsArchive.totalAchievements)
      }
    },
    methods: {
      getUnlockAmount (index) {
        return this.constants.getArpeggiatorUnlockAmount(index)
      }
      /*
      
      arpeggiatorAchievementsLockAmount,
      getArpeggiatorUnlockAmount,
      arpeggiatorAchievementsUnlockTable: chords.map((el, index) => getArpeggiatorUnlockAmount(index)),
      getArpeggiatorLastUnlock (amount) {
        return this.arpeggiatorAchievementsUnlockTable.findIndex(el => el > amount) - 1
      }
       */
    }
  }
</script>
