<template>
  <div class="game game--arpeggiator" :class="{ 'game--blur': $route.params.gameOption2 === 'pause' || status === 'loss', 'game--win': win}">

    <div class="game__blur" :class="{'game__blur--visible': loading}"></div>
    <top-indicator :fraction="win ? (turns.length + 1) / gameLevelObj.goal : turns.length / gameLevelObj.goal"></top-indicator>
    <div class="game__status" v-if="startLoading">
      <div class="time" :class="{'time--end': currentTime < 10 /*|| status === 'start' */}">
        <!-- <span class="time__minutes">{{ gameTimeLeft }}</span><span class="time__seconds"></span> -->
        <span class="time__minutes">
        <i-count-up
              :start="(currentTime - currentTimeAdded)"
              :end="currentTime"
              :decimals="0"
              :duration="countUpDuration / 1000"
              :options="countUpOptions"
              class="count-up"
            ></i-count-up>
            <span class="seconds-unit">s</span>
        </span>

      </div>
  
      <div class="level" v-if="startLoading">
        Level <span class="level__number">{{ level }}</span>
      </div>

      <div class="search" v-if="startLoading">
        <div class="search__string">
          <span class="search__string__name">{{ stringName }}</span> string
        </div>
        <div class="game__label search__label">
          find notes
        </div>
        <div class="search__note__list note--arpeggiator__list">
          <div class="search__note__list__item" v-for="(note, index) in noteArray" @click="makeSound([note.name], guitarSound, volume, tuning)">
            <div class="note note--arpeggiator" :class="makeArpeggiatorNoteClass('border-special',selectedChord.notes[index], note.time)">
              <div class="note--arpeggiator__fade" :style="{ 'transform': 'translateY('+  100 / ( gameLevelObj.noteLife / note.time )+'%)'}"></div>
              <div class="note__text">
                {{ note.name }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="score" v-if="startLoading">
        <div class="game__label score__label">
          score
        </div>
        <div class="score__current">
          <i-count-up
                :start="(scorePrev - scoreIncrease)"
                :end="scorePrev"
                :decimals="0"
                :duration="countUpDuration / 1000"
                :options="countUpOptions"
                class="count-up"
              ></i-count-up>
        </div>
        <div class="score__added" v-if="scoreIncrease > 0"> 
          +<i-count-up
                :start="scoreIncrease"
                :end="scoreIncreaseEndVal"
                :decimals="0"
                :duration="countUpDuration / 1000"
                :options="countUpOptions"
                class="count-up"
              ></i-count-up>
        </div>
      </div>
    </div>


    <div class="chord-status">

      <transition name="fade">
        <div class="chord-status__intro" :class="[ (status !== 'start')  && 'chord-status__intro--gone' ]" v-if="tutorialSentence">
          <!--
          <p>
            Highlighted string is active
          </p>
          -->
          <p>
            {{tutorialSentence}}
          </p>
          <p>
            Complete chords to progress
          </p>
        </div>

      </transition>
        <ul class="chord-status__intervals">
          <li class="chord-status__intervals__item" v-for="note in pastNotes">
            {{note.name}}!
            <div class="chord-status__score" v-if="note.score">
              +{{note.score}}
            </div>
            <div class="chord-status__score" v-if="note.time">
              Extra {{note.time}} seconds!
            </div>
          </li>
        </ul>
        <top-indicator :fraction="chordPercentage" class="chord-status__indicator"></top-indicator>

      <transition name="fade">
        <game-loading-text></game-loading-text>
      </transition>

        <div class="chord-status__name" v-if="!loading">
          {{ selectedChord.root }}{{ selectedChord.suffix }} - {{ selectedChord.root }} {{ selectedChord.name }} chord
        </div>
    </div>

    <fretboard v-if="startLoading"></fretboard>
  </div>
</template>

<script>
  import Fretboard from 'components/fretboard/Arpeggiator'
  import ICountUp from 'vue-countup-v2'
  import TopIndicator from 'components/helpers/TopIndicator'
  import GameLoadingText from 'components/GameLoadingText'
  
  export default {
    name: 'ArpeggiatorPlay',
    components: {
      Fretboard,
      ICountUp,
      TopIndicator,
      GameLoadingText
    },
    data () {
      return {
        timeInterval: {},
        scorePrev: 0,
        scoreIncrease: -1,
        scoreUpVisible: 0,
        countUpDuration: 2000,
        countUpOptions: {
          separator: ''
        },
        pastNotes: [
        ],
        oldTurnLength: 0,
        loading: 1,
        startLoading: 0
      }
    },
    watch: {
      score (scoreNext = 0) {
        this.scoreIncrease = scoreNext - this.scorePrev
        this.scorePrev = scoreNext
        this.scoreIncreaseEndVal = this.scoreIncrease
        setTimeout(() => {
          this.scoreIncreaseEndVal = 0
        }, 100)
      },
      currentTurnCached (newTurn) {
        if (this.oldTurnLength === newTurn.length) return 0
        this.oldTurnLength = newTurn.length
        let newTurnIndex = -1
        if (newTurn.length === 0) {
          if (this.turns.length === 0 && this.level > 0) {
            this.pastNotes.push({
              name: `Level ${this.level}`,
              time: this.currentGame.time.added
            })
            return 0
          }
          if (this.turns.length > 0) {
            const prevTurnObj = this.turns[this.turns.length - 1]
            newTurnIndex = prevTurnObj[prevTurnObj.length - 1].noteIndex
          } else {
            newTurnIndex = -1
          }
        } else {
          newTurnIndex = newTurn[newTurn.length - 1].noteIndex
        }
        if (newTurnIndex === -1) return 0
        if (this.currentGame.scoreAdded === 0) {

          this.pastNotes.push(
            {
              name: 'Chord completed'
            }
          )
          return 2
        }
        this.pastNotes.push(
          {
            name: this.intervals[this.selectedChord.notes[newTurnIndex]][0].name,
            score: this.currentGame.scoreAdded
          }
        )
        return 1
      }
    },
    mounted () {
      this.timeInterval = setInterval(() => {
        if (this.$store.state.route.params.gameOption2 !== 'pause' && this.status !== 'loss') {
          this.$store.commit('GAME_TICK')
        }
      }, 1000)
      
      setTimeout(() => {
        this.startLoading = 1
      }, 1000)
      setTimeout(() => {
        this.loading = 0
      }, 6800)
    },
    beforeDestroy () {
      this.$store.commit('GAME_END')
      clearInterval(this.timeInterval)
    },
    methods: {
      getStringName (stringIndex) {
        return this.tones[stringIndex].note
      },
      getInterval (index) {
        return this.intervals[index][0]
      },
      makeIntervalClass (prefix, index) {
        const interval = this.getInterval(index)
        return [`${prefix}-${interval.type}-${interval.order}`, `${prefix}-${interval.type}`]
      },
      makeArpeggiatorNoteClass (prefix, index, time) {
        if (time < 0) {
          return [...this.makeIntervalClass(prefix, index), 'note--arpeggiator--current']
        }
        return this.makeIntervalClass(prefix, index)
      }/*,
      timeoutLoading (time) {
        setTimeout(() => {
          if (tutorialSentence.length > 0) {
            this.loading
          }
        })
      }*/
    },
    computed: {
      tutorialSentence () {
        if (this.noteArray.length === 0) return ''
        let midString = ''
        for (let i = 1; i <= this.noteArray.length - 2; i++) {
          midString += `, ${this.noteArray[i].name}`
        }
        const lastString = this.noteArray.length > 1 ? ` or ${this.noteArray[this.noteArray.length - 1].name}` : ''

        return `Select ${this.noteArray[0].name}${midString}${lastString} on highlighted string`
      },
      setupObj () {
        return this.$store.state.gameObjects.find(el => el.id === 'arpeggiator').currentSetup
      },
      selectedChord () {
        return this.setupObj.chord || {}
      },
      selectedScale () {
        return this.setupObj.scale || {}
      },
      currentGame () {
        return this.$store.state.currentGame || {}
      },
      currentTurnCached () {
        return this.currentGame.currentTurn || []
      },
      chordPercentage () {
        return this.noteArray.filter(el => el.time > 0).length / this.noteArray.length
      },
      turns () {
        return this.currentGame.turns || []
      },
      gameLevelObj () {
        return this.currentGame.gameLevelObj || {}
      },
      tuning () {
        return this.$store.state.settings.tuning
      },
      rootIndex () {
        return this.tuning.root.index
      },
      strings () {
        return this.tuning.strings
      },
      stringName () {
        const stringIndex = this.strings[this.currentGame.string] + this.rootIndex
        return stringIndex ? this.getStringName(stringIndex) : ''
      },
      noteArray () {
        return this.currentGame.noteArray || []
      },
      currentTime () {
        return this.currentGame.time.current
      },
      currentTimeAdded () {
        return this.currentGame.time.added
      },
      gameTimeLeft () {
        const tempTime = this.currentGame.time || {}
        const secondsLeft = tempTime.current || 0
        return new Date(secondsLeft * 1000).toISOString().substr(14, 5)
      },
      score () {
        return this.currentGame.score
      },
      level () {
        return this.currentGame.gameLevel
      },
      win () {
        return this.status === 'win'
      },
      status () {
        return this.currentGame.status
      },
      tones () {
        return this.$store.state.library.tones
      },
      intervals () {
        return this.$store.state.library.intervals
      },
      makeSound () {
        return this.$store.state.library.makeSound
      },
      volume () {
        return this.$store.state.settings.volume
      },
      guitarSound () {
        return this.$store.state.guitarSound
      }
    }
  }
</script>
