<template>
  
    <div class="character-level">
      <h2>
        Level {{characterLevel}}
      </h2>
      <h3>
        {{progressPercentage}}%
      </h3>
      <div>
      {{expOverPreviousLevel.toLocaleString()}}/{{characterLevelRequirements.diff.toLocaleString()}}exp
      </div>
      
    </div>
</template>

<script>
  export default {
    name: 'CharacterLevel',
    computed: {
      totalScore () {
        return this.$store.state.gameObjects.reduce((acc, el) => Math.floor(acc + el.statsArchive.totalScore), 0)
      },
      characterLevels () {
        return this.$store.state.library.characterLevels
      },
      characterLevel () {
        return this.characterLevels.reduce((acc, el, index) => el < this.totalScore ? index : acc, 0)
      },
      characterLevelRequirements () {
        return {
          prev: this.characterLevels[this.characterLevel],
          next: this.characterLevels[Math.min(this.characterLevel + 1, this.characterLevels.length - 1)],
          diff: this.characterLevels[Math.min(this.characterLevel + 1, this.characterLevels.length - 1)] - this.characterLevels[this.characterLevel]
        }
      },
      progressPercentage () {
        return (Math.min(1, this.expOverPreviousLevel / this.characterLevelRequirements.diff) * 100).toFixed(2)
      },
      expOverPreviousLevel () {
        return (this.totalScore - this.characterLevelRequirements.prev)
      }
    }
  }
</script>
