<template>
  <div class="intro-character" :class="{'intro-character--anim': animated}">
    <!-- @click="animated = !animated" -->
    <div class="super-wrapper">
      <div class="wrap">
      <div class="cloud-wrap">
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="711.353px" height="768px" viewBox="0 0 711.353 768" enable-background="new 0 0 711.353 768" xml:space="preserve" preserveAspectRatio="xMidYMax meet" class="cloud-main">
          <g id="cloud">
            <g>
              <defs>
                <rect id="SVGID_2_" x="132.464" y="332.854" width="458.679" height="270.264"/>
              </defs>
              <clipPath id="SVGID_3_">
                <use xlink:href="#SVGID_2_"  overflow="visible"/>
              </clipPath>
              <g clip-path="url(#SVGID_3_)">
                <defs>
                  <rect id="SVGID_4_" x="132.464" y="332.854" width="458.679" height="270.264"/>
                </defs>
                <clipPath id="SVGID_5_">
                  <use xlink:href="#SVGID_4_"  overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_5_)" fill="#EAB0D1" d="M582.277,438.711c10.752,13.789,10.339,25.812,6.035,35.231l-37.858,1.751
                  l-0.094-0.208L582.277,438.711z"/>
                <path clip-path="url(#SVGID_5_)" fill="#EAB0D1" d="M550.455,475.693l37.857-1.751c-0.245,0.554-0.513,1.091-0.787,1.624
                  l-67.455,34.819l30.291-34.9L550.455,475.693z"/>
                <path clip-path="url(#SVGID_5_)" fill="#DD8EBD" d="M520.07,510.386l67.455-34.819c-6.652,12.824-20.14,20.406-20.14,20.406
                  s9.066,9.678,9.686,23.147l-0.023,0.055l-60.399-4.847L520.07,510.386z"/>
                <path clip-path="url(#SVGID_5_)" fill="#F4D3E3" d="M582.277,438.711l-31.917,36.774l-29.847-67.799
                  c10.618-1.618,31.742-0.309,56.784,25.356C579.169,434.961,580.826,436.853,582.277,438.711"/>
                <path clip-path="url(#SVGID_5_)" fill="#CE7EB6" d="M577.048,519.176h0.022c0.35,7.744-2.105,16.736-10.682,25.861
                  l-49.741-30.708L577.048,519.176z"/>
                <path clip-path="url(#SVGID_5_)" fill="#B8E8F2" d="M577.071,519.12c0,0.014,0.006,0.035,0,0.056h-0.022L577.071,519.12z"/>
                <path clip-path="url(#SVGID_5_)" fill="#D384B7" d="M516.648,514.329l49.741,30.708c-4.022,4.294-9.411,8.617-16.495,12.85
                  c-2.928,1.746-5.808,3.275-8.641,4.594L516.648,514.329z"/>
                <path clip-path="url(#SVGID_5_)" fill="#EAB0D1" d="M520.07,510.386l-3.422,3.942l0.564-105.986
                  c0.945-0.234,2.048-0.467,3.302-0.655l29.847,67.799L520.07,510.386z"/>
                <path clip-path="url(#SVGID_5_)" fill="#C977AC" d="M516.648,514.329l24.605,48.151c-23.475,10.973-43.648,8.079-57.374,2.99
                  L516.648,514.329z"/>
                <path clip-path="url(#SVGID_5_)" fill="#EBA2CB" d="M517.212,408.342l-0.564,105.987l-39.235-53.593l35.905-54.48
                  c-0.018,2.167-0.157,3.441-0.157,3.441S514.589,408.997,517.212,408.342"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#EBA2CB" points="457.962,502.018 477.413,460.737 516.648,514.329 455.682,506.854 
                        "/>
                <path clip-path="url(#SVGID_5_)" fill="#DD8EBD" d="M516.648,514.329l-32.769,51.142c-12.035-4.467-19.113-10.627-19.113-10.627
                  s-0.385,4.714-3.025,11.194l-6.059-59.185L516.648,514.329z"/>
                <path clip-path="url(#SVGID_5_)" fill="#EDC3D9" d="M494.292,362.611c17.51,13.956,19.119,35.362,19.025,43.645l-35.904,54.48
                  l1.736-88.3L494.292,362.611z"/>
                <path clip-path="url(#SVGID_5_)" fill="#F4DCE9" d="M479.151,372.437l-1.696,1.101l-0.042-0.046L438.68,349.34
                  c6.711-0.178,14.215,0.097,22.588,0.979c14.792,1.558,25.416,6.222,33.024,12.292L479.151,372.437z"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#F4DCE9" points="479.151,372.437 477.413,460.736 433.351,402.156 477.455,373.537 
                        "/>
                <path clip-path="url(#SVGID_5_)" fill="#F4D3E3" d="M477.413,373.491l0.042,0.047l-44.104,28.617l-12.682-51.055
                  c5.241-0.943,11.218-1.584,18.011-1.761L477.413,373.491z"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#F4D3E3" points="433.351,402.155 477.413,460.736 457.962,502.018 454.47,505.823 
                  377.814,440.797 378.351,437.361       "/>
                <path clip-path="url(#SVGID_5_)" fill="#D384B7" d="M455.682,506.854l6.059,59.185v0.005c-2.893,7.09-8.484,16.291-19.235,23.751
                  l-48.994-17.509l60.959-66.462L455.682,506.854z"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#B8E8F2" points="457.962,502.018 455.682,506.854 454.47,505.823       "/>
                <polygon clip-path="url(#SVGID_5_)" fill="#DD8EBD" points="454.47,505.823 393.51,572.285 387.039,518.055 377.814,440.797      
                  "/>
                <path clip-path="url(#SVGID_5_)" fill="#C977AC" d="M393.511,572.285l48.994,17.509c-11.51,7.994-28.938,13.988-55.286,13.262
                  c-15.295-0.421-27.527-2.715-37.315-6.08L393.511,572.285z"/>
                <path clip-path="url(#SVGID_5_)" fill="#EDC3D9" d="M388.478,375.599l-0.28-0.168l-0.082-0.122l17.206-20.021
                  c4.217-1.623,9.29-3.105,15.348-4.187l12.682,51.056L388.478,375.599z"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#EDBED7" points="388.28,375.558 388.478,375.598 433.351,402.155 378.351,437.361 
                  388.053,375.511       "/>
                <path clip-path="url(#SVGID_5_)" fill="#DCD3E2" d="M405.323,355.287l-17.207,20.021l-16.068-24.284
                  c10.466,8.186,15.172,16.042,15.172,16.042S391.948,360.449,405.323,355.287"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#EAB0D1" points="387.039,518.055 393.511,572.285 301.759,524.302 386.87,518.069       
                  "/>
                <path clip-path="url(#SVGID_5_)" fill="#D384B7" d="M393.511,572.285l-43.607,24.69c-8.583-2.949-15.283-6.719-20.513-10.784
                  l-27.632-61.89L393.511,572.285z"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#B8E8F2" points="388.478,375.599 388.28,375.558 388.198,375.431       "/>
                <polygon clip-path="url(#SVGID_5_)" fill="#B8E8F2" points="388.199,375.431 388.28,375.558 388.053,375.512 388.077,375.359       
                  "/>
                <polygon clip-path="url(#SVGID_5_)" fill="#B8E8F2" points="388.116,375.309 388.199,375.431 388.077,375.359      "/>
                <path clip-path="url(#SVGID_5_)" fill="#F4DCE9" d="M388.116,375.309l-0.039,0.051l-0.023,0.151l-78.446-15.731l0.256,0.573
                  l-0.354-0.274l2.92-27.161c28.354-0.934,47.712,8.795,59.618,18.108L388.116,375.309z"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#F4D3E3" points="309.863,360.353 309.607,359.779 388.053,375.511 378.35,437.361 
                  375.05,439.478 337.373,421.477      "/>
                <polygon clip-path="url(#SVGID_5_)" fill="#EBA2CB" points="377.814,440.797 387.039,518.055 386.87,518.068 301.759,524.302 
                  372.986,440.797 375.05,439.478      "/>
                <polygon clip-path="url(#SVGID_5_)" fill="#B8E8F2" points="378.351,437.361 377.813,440.797 375.05,439.478       "/>
                <polygon clip-path="url(#SVGID_5_)" fill="#EAB0D1" points="375.05,439.478 372.986,440.797 301.759,524.302 332.207,422.608 
                  337.373,421.477       "/>
                <path clip-path="url(#SVGID_5_)" fill="#EFBFD9" d="M309.509,360.078l0.354,0.273l27.509,61.125l-98.078-61.215
                  c10.029-9.181,23.411-17.266,41.258-22.29L309.509,360.078z"/>
                <path clip-path="url(#SVGID_5_)" fill="#F4DCE9" d="M332.207,422.608l-79.384,17.401l-19.334-73.923
                  c1.796-1.975,3.726-3.923,5.808-5.825l98.077,61.215L332.207,422.608z"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#EFBFD9" points="332.207,422.608 301.759,524.302 252.863,440.172 252.822,440.01       
                  "/>
                <path clip-path="url(#SVGID_5_)" fill="#C977AC" d="M301.759,524.302l27.632,61.89c-17.469-13.561-18.554-30.334-18.554-30.334
                  s-0.425,24.908-47.351,31.77L301.759,524.302z"/>
                <path clip-path="url(#SVGID_5_)" fill="#F4D3E3" d="M312.429,332.917l-2.92,27.161l-28.955-22.106
                  c1.696-0.481,3.433-0.934,5.211-1.355C295.416,334.328,304.295,333.187,312.429,332.917"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#EAB0D1" points="252.863,440.172 301.759,524.302 255.283,521.185 253.779,521.86 
                  252.863,440.481 252.741,440.437       "/>
                <path clip-path="url(#SVGID_5_)" fill="#D384B7" d="M301.759,524.302l-38.272,63.325c-2.816,0.411-5.796,0.757-8.962,1.03
                  l-0.746-66.797l1.504-0.675L301.759,524.302z"/>
                <path clip-path="url(#SVGID_5_)" fill="#C977AC" d="M253.779,521.86l0.746,66.797c-3.149,0.273-6.472,0.472-9.988,0.584
                  l-36.593-46.777L253.779,521.86z"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#DD8EBD" points="253.779,521.86 207.944,542.464 205.985,539.963 252.741,440.437 
                  252.863,440.481       "/>
                <polygon clip-path="url(#SVGID_5_)" fill="#B8E8F2" points="252.822,440.01 252.863,440.172 252.618,440.056       "/>
                <path clip-path="url(#SVGID_5_)" fill="#EAB0D1" d="M252.619,440.056l0.245,0.116l-0.123,0.265l-46.755,99.526l-2.012-2.573
                  h-0.036l-0.554-116.889c3.743-0.218,6-0.146,6-0.146s0.012-0.213,0.047-0.614L252.619,440.056z"/>
                <path clip-path="url(#SVGID_5_)" fill="#F4D3E3" d="M233.488,366.087l19.334,73.923l-0.204,0.047l-43.188-20.316
                  C209.798,415.391,212.848,388.777,233.488,366.087"/>
                <path clip-path="url(#SVGID_5_)" fill="#DD8EBD" d="M207.944,542.464l36.593,46.777c-2.846,0.097-5.819,0.132-8.915,0.112
                  c-32.966-0.225-50.575-9.359-59.957-19.494l28.308-25.612L207.944,542.464z"/>
                <polygon clip-path="url(#SVGID_5_)" fill="#EBA2CB" points="205.985,539.963 207.944,542.464 203.974,544.247      "/>
                <polygon clip-path="url(#SVGID_5_)" fill="#B8E8F2" points="203.974,537.39 205.985,539.963 203.974,544.247 203.938,537.39      
                  "/>
                <path clip-path="url(#SVGID_5_)" fill="#F4DCE9" d="M203.938,537.39l0.035,6.857l-61.811-94.336
                  c15.976-24.202,47.939-28.633,61.222-29.41L203.938,537.39z"/>
                <path clip-path="url(#SVGID_5_)" fill="#EDC3D9" d="M142.163,449.911l61.811,94.334l-65.666-31.145
                  c-5.095-11.079-7.835-25.477-4.139-43.518C135.743,461.885,138.542,455.393,142.163,449.911"/>
                <path clip-path="url(#SVGID_5_)" fill="#D384B7" d="M203.974,544.247l-28.308,25.612c-11.866-12.804-10.595-27.196-10.595-27.196
                  s-17.381-9.166-26.762-29.563L203.974,544.247z"/>
              </g>
            </g>
          </g>
        </svg>
        <div class="shadow-robot-wrapper">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="711.353px" height="768px" viewBox="0 0 711.353 768" enable-background="new 0 0 711.353 768" xml:space="preserve" preserveAspectRatio="xMidYMax meet" class="robot-shadow">
            <g id="shadowbotomrobot">
              <g>
                <defs>
                  <filter id="Adobe_OpacityMaskFilter_1_" filterUnits="userSpaceOnUse" x="240.302" y="339.895" width="207.129" height="47.296">
                    <feFlood  style="flood-color:white;flood-opacity:1" result="back"/>
                    <feBlend  in="SourceGraphic" in2="back" mode="normal"/>
                  </filter>
                </defs>
                <mask maskUnits="userSpaceOnUse" x="240.302" y="339.895" width="207.129" height="47.296" id="SVGID_6_">
                  <g filter="url(#Adobe_OpacityMaskFilter_1_)">
                    
                      <image overflow="visible" width="374" height="89" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEAgACAAAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA
                      EAMCAwYAAANVAAAGpAAACTv/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX
                      Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa
                      JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIAFsBdwMBIgACEQEDEQH/
                      xACVAAACAwEBAAAAAAAAAAAAAAAABAIDBQEGAQEAAAAAAAAAAAAAAAAAAAAAEAACAQMEAQQDAQAA
                      AAAAAAAAAgEDBAUTFCQVEhE0NQYQIDBwEQABAQcCAwcCBAcAAAAAAAAAMQLSkwQ0pEYBAxF0BRAg
                      MBITs7RQFEBBMxUhUWEiMkJSEgEAAAAAAAAAAAAAAAAAAABw/9oADAMBAAIRAxEAAADzKNmeOCYO
                      CYOCYOCnRoXkXEJh2Uyrt8hYb6Kdb6JjoJDvBLjvBMbiK8ZgUk4AQgXC8RoU4OCYOCYOCYa4oFmf
                      oZ4HZEJXXC1jdopa5YJ2uWiU3piM3piMn5CHX+iBodM80AzzQDO5ohmx04mZDUiZUNWsyq9Wsyqt
                      aoya9Wky46NIkX1EQBwAsQfSJXwvJXwvO3ctO2loW8tCfbCM5TISn0j2XSHZhAn0rJhWWcK+WxKo
                      XxF4MVi9bNQtU1SLVM1CtLVIrQ3QKwvpGgCxF7PL707B69C4ftRuHrUbh2xK0csTsG5qSG+q9Guq
                      9GhXoyLAyLAzxfgxxfgxCmJbCqBZXXWTqhUTqhUSp5SdpjSdqODgBZn6GeABKdQNWodNO3JmbFuN
                      YbM8aw2J48zX7kyNXuUGqZQaxkhrcyg1TKDU5l8NSOZE0oZtZpV51ZoVIQHqk4jFdQSiAADgBZn+
                      6VPHnsA8eewDx57APHnsA8eewDyHfXB5LvrA8pL1IeW76gPLnqA8ueoDy56gPLnqA8tz1QeU56wP
                      JR9eHkOewDx57APHnsA8eewDx57APHnsA82erD//2gAIAQIAAQUA/wAQ/9oACAEDAAEFAP8AEP/a
                      AAgBAQABBQDO5XKU833GXO4y53GXO4y53GXO4y53GXO4y53GXO4y53GXO4y53GXO4y52+YO2zB2u
                      ZO0zJ2mZIyeZOyzJ2OZOxzJ2OZOyzJOTzJ2mZO0zJ2uZO2zB2+YO4y53GXO4y53GXO4y53GXO4y5
                      3GXO4y53GXO4y53GXO4y53GXMZlsq1z9g+e/f0khGkii0kW8yRbSRakWhFoRaEWhtDaEWhtTam1N
                      qbUm0NobQm0JtCbQm0JtSbaSbdiaTQSkwek/wxfufsHz359JISZFozItAW3FtxbcW3FtyLci3Ity
                      Lci3Itzbm3Nubc25t4Nubc25NuTbk25NuTbjW41uNbjW41uNbjUBqUwSsx+uL9z9g+eIj1FT1FpC
                      0RaItEWiLRFoi0RaJFEiiRRIokUSKJomkaJomkaJpGkaRok0SaJNEmiNRGojURqI1IaiNRGoj0hq
                      RKeh6fjF+5+wfPRAqiIIgiCoKgqCoKgqCoQhCEIQhCEIeB4HgeJ4HgeJ4HgeBKEoShKDIMgyDIMg
                      yDIMg6DoOgykwYv3P2D55RIEgSBIFFgUUUUggiCCCP6SSSSSNA0DDDDDDjjjjGL919g+eiRGEYRh
                      WFYVhWFYVhWFYhiGIYhiGPI8jyPI8jyPI8jyPI8iWJYliWJYZhmGYZhmGYZh2HYdh2JkxfufsHzx
                      DegtQSqJVFqi1RaotUWqLVFqwRVIqkVSKpqmqapqmqapqmqapqmqapNUmqTVJqjVRqo1UaqNVGqj
                      VRqg9QeqNUJb8Yv3P2D578epDzAtWYFri1xbgW4FuBbgW4IuCLgi4IuDXNwbg3BuDcG4Nwbg3BuD
                      cG4JuCbgm4JuBrga4GuBrgauNXGrjVZklpn9MX7n7B89+vqQ0wRVaCK8wLci3RF0RdEXRF0RdEXR
                      ujdG6N0bo3RujdG6N0bom6Juibom6Guiboa6GuZJrzJNRpJaf3xfufsHz38vU9ZPNjUY1mIrsbhj
                      csbmTcybmTcybmTcybmTcybmTcsbhia7E1mNRjyk9Z/pi/c5TadnwzhnDOGcM4ZwzhnDOGcM4Zwz
                      hnDOGcM4ZwzhnDOGcM4ZwzhnDOGcM4ZwzhnDOGcM4ZwzhnDOGcM4ZwzhnDLLaa3/2gAIAQICBj8A
                      EP/aAAgBAwIGPwAQ/9oACAEBAQY/AOo7e3Ob7DDE1vssss7remmmmm41pppppo0V0xGbeK6YjNvF
                      dMRm3iumIzbxXTEZt4rpiM28V0xGbeK6YjNvFdMRm3iumIzbxXTEZt4rpiM28V0xGbeK6YjNvFdM
                      RW3itmIrbxWzEVt4rZiK28VsxFbeK2YitvFdMRW3iumIrbxXTEVt4rpiK28V0xFbeK2YitvFbMRW
                      3itmIrbxWzEVt4rZiK28V0xGbeK6YjNvFdMRm3iumIzbxXTEZt4rpiM28V0xGbeK6YjNvFdMRm3i
                      umIzbxXTEZt4rpiM28V0xGbeK6YjNvFdMRm3hvRqdmGtPt5nXhrut6/x02N3XTX/AC/LU6nze/7j
                      XioIIIIIIIIIIIIIIIIIIIJ4rfLzXx906nze/wC414CCCCCCCCCCCCCCd1BBBBBBBBBBBBPAb5ea
                      +PunU+b3/ca8ZO+nYn4dvl5r4+6dT5vf9xr6c3y818fdOp83v+419Ob5ea+PunU+b3/ca+nN8vNf
                      H3TqfN7/ALjX05vl5r4+6dT5vf8Aca769i9ii9i99e4veUXsXur32+Xmvj7p1Pm9/wBxrw1FFFFF
                      FFFFFFFFFFFFFFFFFFF8Nvl5r4+6dT5vf9xrxl/BL4zfLzXx90nPN+xeb193j6/3Pq8fPr+p5P7f
                      N/Ph+Zj12Y9dmPXZj12Y9dmPXZj12Y9dmPXZj12Y9dmPXZj12Y9dmPXZj12Y9dmPXZj12Y9dmPXZ
                      j12Y9dmPXZj12Y9dmPXZj12Y9dmPXZj12Y9dmPXZj12Y9dmPXZj12Y9dmPXZj12Y9dmPXZj12Y9d
                      mPXY1w/YePpb36f3Xm4ek3x4+b/X/r+nHgf/2Q==" transform="matrix(0.5614 0 0 0.5614 238.9443 338.4082)">
                    </image>
                  </g>
                </mask>
                <g mask="url(#SVGID_6_)">
                  <ellipse fill="#84427E" cx="343.866" cy="363.542" rx="103.565" ry="23.647"/>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <div class="robot-wrap">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="711.353px" height="768px" viewBox="0 0 711.353 768" enable-background="new 0 0 711.353 768" xml:space="preserve" preserveAspectRatio="xMidYMax meet">
          <g id="legright">
            <g>
              <path fill="#A8639E" d="M410.765,317.393l-4.707,4.559c1.318,1.841,2.332,4.087,2.332,6.513v22.788
                c0,3.218-1.535,6.131-3.725,8.181l5.18,4.098c2.352-2.902,3.545-6.591,3.545-10.594v-26.319
                C413.39,323.221,412.516,320.048,410.765,317.393z"/>
              <path fill="#E0B6DA" d="M383.46,318h13.384c3.75,0,7.09,1.482,9.129,4.334l4.94-4.637c-3.015-4.582-8.203-7.697-14.069-7.697H383
                c-5.217,0-9.904,2.289-12.998,6.046l5.575,4.886C377.604,318.922,380.393,318,383.46,318z"/>
              <path fill="#84427E" d="M396.844,363H383.46c-3.24,0-6.171-1.651-8.215-3.864l-5.306,4.646c3.094,3.801,7.804,6.218,13.06,6.218
                h13.845c5.26,0,9.977-2.552,13.069-6.359l-5.406-3.893C402.497,361.64,399.802,363,396.844,363z"/>
              <path fill="#CE91C3" d="M396.844,318H383.46c-3.067,0-6.277,0.863-8.305,2.875c-2.066,2.038-3.766,4.479-3.766,7.589v22.788
                c0,2.937,1.566,5.881,3.436,7.884c2.043,2.213,5.395,3.864,8.635,3.864h13.384c2.958,0,5.813-1.416,7.821-3.308
                c2.189-2.049,3.725-5.223,3.725-8.44v-22.788c0-2.426-0.939-4.289-2.259-6.13C404.093,319.482,400.594,318,396.844,318z"/>
              <path fill="#A8639E" d="M371.39,351.252v-22.788c0-3.11,1.699-5.935,3.766-7.973l-5.747-4.56
                c-2.396,2.915-4.019,6.637-4.019,10.686v26.319c0,4.009,1.803,7.703,4.168,10.605l5.074-4.666
                C372.763,356.872,371.39,354.188,371.39,351.252z"/>
            </g>
          </g>
          <g id="legleft">
            <g>
              <path fill="#A8639E" d="M323.473,317.393l-5.062,4.559c1.32,1.841,1.979,4.087,1.979,6.513v22.788
                c0,3.218-1.326,6.131-3.516,8.181l5.575,4.098c2.352-2.902,3.94-6.591,3.94-10.594v-26.319
                C326.39,323.221,325.225,320.048,323.473,317.393z"/>
              <path fill="#E0B6DA" d="M295.875,318h13.384c3.75,0,7.091,1.482,9.129,4.334l4.94-4.637c-3.015-4.582-8.203-7.697-14.07-7.697
                h-13.845c-5.216,0-9.904,2.289-12.998,6.046l5.576,4.886C290.02,318.922,292.81,318,295.875,318z"/>
              <path fill="#84427E" d="M309.26,363h-13.384c-3.239,0-6.17-1.651-8.214-3.864l-5.305,4.646c3.093,3.801,7.804,6.218,13.059,6.218
                h13.845c5.261,0,9.977-2.552,13.07-6.359l-5.406-3.893C314.914,361.64,312.219,363,309.26,363z"/>
              <path fill="#CE91C3" d="M309.26,318h-13.384c-3.066,0-5.984,0.863-8.011,2.875c-2.066,2.038-3.475,4.479-3.475,7.589v22.788
                c0,2.937,1.273,5.881,3.143,7.884c2.044,2.213,5.104,3.864,8.343,3.864h13.384c2.959,0,5.604-1.416,7.615-3.308
                c2.189-2.049,3.516-5.223,3.516-8.44v-22.788c0-2.426-0.73-4.289-2.051-6.13C316.301,319.482,313.01,318,309.26,318z"/>
              <path fill="#A8639E" d="M284.39,351.252v-22.788c0-3.11,1.408-5.935,3.475-7.973l-5.602-4.56
                c-2.397,2.915-3.873,6.637-3.873,10.686v26.319c0,4.009,1.512,7.703,3.875,10.605l5.223-4.666
                C285.618,356.872,284.39,354.188,284.39,351.252z"/>
            </g>
          </g>
          <g id="body">
            <g>
              <path fill="#A8639E" d="M430.731,92.175l-11.946,10.836c5.806,4.637,9.605,11.773,9.605,19.734v144.21
                c0,6.535-2.511,12.508-6.62,17.005l11.007,11.426c3.594-4.368,5.613-9.938,5.613-16.001V110.394
                C438.39,103.252,435.531,96.779,430.731,92.175z"/>
              <path fill="#CE91C3" d="M394.327,98h-12.353h-9.544h-3.609h-65.946l-13.458,18.856c4.592-4.66,10.959-7.856,17.977-7.856h61.427
                h3.609h9.544h8.438c1.331,0,2.64,0.147,3.914,0.343c5.154,0.814,10.164,3.215,13.797,6.656c4.861,4.615,8.267,11.153,8.267,18.346
                V193.7c0,6.619-2.934,12.655-7.132,17.169c-3.773,4.065-9.044,6.912-14.753,7.81c-1.275,0.197-2.762,0.321-4.093,0.321h-11.778
                h-6.204h-2.537h-0.186l-26.317,39.917v0.005l-21.299,33.299l33.613-20.097L367.614,292h4.816h6.417h15.479h8.809
                c7.36,0,14.009-3.079,18.635-8.149c4.109-4.497,6.62-10.359,6.62-16.895v-144.21c0-7.961-3.729-14.837-9.533-19.475
                C414.533,99.813,409.065,98,403.135,98H394.327z"/>
              <path fill="#84427E" d="M403.135,292h-8.809h-15.479h-6.417h-4.816h-45.286h-4.042l-30.547,13h31.232h48.676h4.783h6.457h15.439
                h19.089c7.838,0,14.872-3.79,19.509-9.438l-11.149-11.624C417.149,289.008,410.496,292,403.135,292z"/>
              <path fill="#C9799D" d="M406.39,142.205v43.635c0,6.827-2.314,13.042-6.762,17.601l9.417,7.428
                c4.199-4.514,7.345-10.55,7.345-17.169v-59.354c0-7.192-3.405-13.71-8.267-18.326l-9.328,7.602
                C403.827,128.248,406.39,134.873,406.39,142.205z"/>
              <path fill="#F9CDE1" d="M394.327,207.808c-3.655,2.065-7.872,3.192-12.353,3.192h-3.362h-6.182h-5.047h-49.322
                c-7.647,0-14.53-3.39-19.173-8.802l-9.55,8.667l-0.214,0.25c4.609,4.834,11.105,7.885,18.269,7.885h17.113h3.458h1.701h37.74
                h2.302h0.186h2.537h6.204h11.778c1.331,0,2.64-0.125,3.914-0.321c5.71-0.898,10.802-3.736,14.574-7.801l-8.848-7.458
                C398.375,205.148,396.443,206.611,394.327,207.808z"/>
              <path fill="#EAA4C7" d="M318.061,211h49.322h5.047h6.182h3.362c4.48,0,8.697-1.127,12.353-3.192
                c2.116-1.196,3.622-2.664,5.302-4.393c4.447-4.559,6.762-10.748,6.762-17.575v-43.635c0-7.333-2.742-13.958-7.771-18.583
                c-1.432-1.313-2.798-2.44-4.505-3.406c-3.655-2.066-7.659-3.215-12.14-3.215h-9.544h-3.609h-50.76
                c-7.366,0-14.223,3.165-18.849,8.24c-4.109,4.497-6.822,10.43-6.822,16.965v43.635c0,6.254,2.499,11.935,6.294,16.358
                C303.328,207.61,310.414,211,318.061,211z"/>
              <polygon fill="#D8A4D0" points="329.666,219 343.865,258.952 369.708,219 367.406,219     "/>
              <path fill="#E0B6DA" d="M368.821,98h3.609h9.544h12.353h8.809c5.93,0,11.402,1.813,15.726,5.271l12.015-11.03
                c-4.547-4.362-10.7-7.24-17.46-7.24h-19.089h-12.353h-9.544h-3.609h-49.44l-16.506,13H368.821z"/>
              <polygon fill="#D8A4D0" points="322.328,292 367.614,292 355.823,272.013     "/>
              <polygon fill="#D19BCA" points="343.39,258.917 329.666,219 327.965,219 322.091,292.238 343.39,258.921     "/>
              <polygon fill="#DDB1D8" points="324.506,219 302.875,241.563 322.328,292.247 327.965,219     "/>
              <path fill="#D8A4D0" d="M276.992,286.146l13.374,5.785c0.988,0.118,1.993,0.069,3.01,0.069h24.91h4.042l-19.453-50.565
                L276.992,286.146z"/>
              <path fill="#E2BFDF" d="M324.506,219h-17.113c-7.164,0-13.66-3.038-18.269-7.872c-0.05-0.057-0.101-0.116-0.146-0.172
                l-20.868,3.364l34.764,27.245L324.506,219z"/>
              <path fill="#EAD6E9" d="M302.875,98l-18.887-12.15l-8.832,19.825c4.604-4.8,11.078-7.674,18.219-7.674H302.875z"/>
              <polygon fill="#D8A4D0" points="268.39,214.316 268.39,256.783 303.154,241.545     "/>
              <path fill="#8C4F89" d="M293.375,292c-1.017,0-2.021,0.048-3.01-0.069c-5.059-0.607-9.679-2.673-13.374-5.84l-9.292,13.317
                c4.295,3.374,9.696,5.592,15.552,5.592h4.486l30.547-13H293.375z"/>
              <path fill="#A8587C" d="M318.061,117h50.76h3.609h9.544c4.48,0,8.697,1.149,12.353,3.215c1.707,0.966,3.284,2.107,4.716,3.421
                l8.725-7.609c-3.632-3.441-8.286-5.867-13.44-6.68c-1.274-0.197-2.583-0.347-3.914-0.347h-8.438h-9.544h-3.609h-61.427
                c-7.018,0-13.385,2.937-17.977,7.597l9.999,8.623C304.042,120.145,310.695,117,318.061,117z"/>
              <path fill="#C9799D" d="M282.39,193.7c0,6.653,2.475,12.722,6.719,17.248c0.045,0.056,0.03,0.107,0.08,0.163l0.181-0.219
                l9.331-8.641c-3.795-4.424-6.311-10.157-6.311-16.411v-43.635c0-6.535,2.713-12.498,6.822-16.995l-9.767-8.573
                c-4.502,4.57-7.056,10.825-7.056,17.708V193.7z"/>
              <path fill="#E5CCE4" d="M282.39,193.7v-59.354c0-6.883,2.654-13.138,7.157-17.708l-14.326-11.352
                c-1.117,1.167-2.16,2.437-3.036,3.795c0,0.005,0.118,0.005,0.118,0.005c-2.555,3.947-3.913,8.635-3.913,13.66v91.57l20.859-3.369
                C285.004,206.422,282.39,200.353,282.39,193.7z"/>
              <polygon fill="#E5C7E2" points="302.875,97.417 319.381,85 313.767,85 285.969,85 284.195,85 283.987,85.492     "/>
              <polygon fill="#F2CEEE" points="284.195,85.129 283.252,85.129 283.987,85.59     "/>
              <path fill="#E5C7E2" d="M283.987,85.59l-0.735-0.46c-8.124,0-15.383,3.885-20.015,9.893l11.919,10.263L283.987,85.59z"/>
              <path fill="#CE91C3" d="M290.365,292.041l-13.374-5.895C280.686,289.312,285.307,291.435,290.365,292.041z"/>
              <path fill="#E2BFDF" d="M268.39,256.783v10.173c0,7.658,3.313,14.552,8.742,19.19l25.952-44.601L268.39,256.783z"/>
              <path fill="#B780B4" d="M268.39,266.956v-10.173l-10-24.215v46.818c0,3.206,0.405,6.278,1.511,9.107
                c1.656,4.266,4.352,7.983,7.9,10.768l9.381-13.115C271.753,281.508,268.39,274.614,268.39,266.956z"/>
              <path fill="#DDB1D8" d="M302.875,98h-9.5c-7.142,0-13.615,2.744-18.219,7.544l14.261,11.482L302.875,98z"/>
              <path fill="#A8639E" d="M268.39,122.746c0-5.025,1.543-9.712,4.098-13.66l-14.098,7.551v8.528v81.223v14.395l10-6.467V122.746z"/>
              <polygon fill="#AF71A9" points="268.39,214.316 258.39,220.783 258.39,232.293 258.39,232.568 268.39,256.783    "/>
              <path fill="#B780B4" d="M272.152,109.081c0.876-1.359,1.887-2.628,3.003-3.795l-11.718-10.263
                c-3.29,4.267-5.048,9.601-5.048,15.372v6.243l13.958-7.551C272.348,109.086,272.152,109.086,272.152,109.081z"/>
            </g>
          </g>
        </svg>
        <div class="accessories-wrapper">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="711.353px" height="768px" viewBox="0 0 711.353 768" enable-background="new 0 0 711.353 768" xml:space="preserve" preserveAspectRatio="xMidYMax meet" class="robot-guitar">
            <g id="guitar">
              <g>
                <path fill="#80ADD6" d="M522.452,191.19c-0.512-1.426-1.111-2.936-1.825-4.553c0.702,1.701,1.191,3.172,1.443,4.463
                  L522.452,191.19z"/>
                <path fill="#ACC9E4" d="M211.921,338.466c0.124,0.191,0.248,0.382,0.376,0.573c0.511,0.774,1.061,1.583,1.651,2.42
                  c0.297,0.415,0.601,0.836,0.915,1.269c0.472,0.64,0.965,1.297,1.482,1.959c1.033,1.325,2.15,2.685,3.352,4.043
                  c0.404,0.454,0.814,0.903,1.229,1.358c0.629,0.68,1.28,1.353,1.954,2.026c11.375,11.358,28.717,20.953,50.788,9.915
                  c36.167-18.095,27.836-43.073,42.113-50.214c11.415-5.71,9.753,9.993,39.733-5.003c34.259-17.136,18.786-45.684,18.786-45.684
                  l95.64-47.834c3.762,6.614,3.757,8.394,12.818,4.211l7.786-3.812c1.416-0.702,2.948-1.471,4.621-2.308
                  c0.814-0.404,1.601-0.797,2.375-1.179l7.793-3.806c2.414-1.179,4.542-2.212,6.4-3.167l7.444-4.502
                  c2.689-2.212,3.521-4.407,2.892-7.63l-25.366-5.968l-8.623-2.026l-23.939-5.625l-1.595,0.803
                  c-6.479,3.559-6.956,5.524-4.261,11.695l-95.642,47.834c0,0-0.499-0.96-1.504-2.454l-49.576-0.376l-14.249,27.954
                  c1.712,0.18,3.43,0.551,5.121,1.112c7.063,2.347,12.311,7.636,14.805,14.025c1.953,4.958,2.24,10.577,0.426,16
                  c-4.132,12.407-17.651,19.077-30.199,14.895c-3.689-1.229-6.878-3.256-9.443-5.827c-0.702-0.702-1.353-1.443-1.954-2.212
                  c-0.405-0.517-0.781-1.051-1.14-1.595c-2.863-4.379-4.272-9.634-3.807-14.979l-28.818-2.706L209.3,334.182
                  c0.045,0.073,0.096,0.158,0.135,0.236c0,0,0.005,0.017,0.022,0.039c0.005,0.012,0.017,0.028,0.022,0.039
                  c0.488,0.843,1.067,1.809,1.735,2.869C211.439,337.72,211.675,338.09,211.921,338.466z"/>
                <path fill="#C8DBED" d="M522.07,191.101c-0.252-1.292-0.741-2.762-1.443-4.463c-1.1-2.661-2.722-5.906-4.767-9.994
                  c-1.005-1.999-1.902-3.807-2.734-5.429l-16.422,13.918L522.07,191.101z"/>
                <path fill="#D2E1F0" d="M488.103,183.005l11.077-22.727l-7.81,3.425c-1.869,0.949-3.975,2.055-6.345,3.295l-7.72,3.941
                  c-2.627,1.313-4.951,2.448-7.012,3.453l-6.153,3.088l23.939,5.625L488.103,183.005z"/>
                <path fill="#DCE9F4" d="M488.081,183.106l8.623,2.026l16.422-13.918c-5.137-9.988-7.579-12.874-13.806-10.999l-0.14,0.062
                  l-11.077,22.727L488.081,183.106z"/>
                <path fill="#C8DBED" d="M361.14,235.358c-4.322-6.439-18.027-22.833-41.85-15.546l-7.726,15.17L361.14,235.358z"/>
                <path fill="#6496BC" d="M522.452,191.19l-0.382-0.09c0.629,3.223-0.202,5.418-2.892,7.63l-7.444,4.502
                  c-1.858,0.955-3.986,1.988-6.4,3.167l-7.793,3.806c-0.774,0.382-1.561,0.775-2.375,1.179c-1.673,0.836-3.205,1.606-4.621,2.308
                  l-7.786,3.812c-9.062,4.183-9.057,2.403-12.818-4.211l-95.64,47.834c0,0,15.473,28.548-18.786,45.684
                  c-29.98,14.996-28.318-0.707-39.733,5.003c-14.277,7.141-5.945,32.119-42.113,50.214c-22.07,11.038-39.413,1.443-50.788-9.915
                  c-0.674-0.668-1.325-1.347-1.954-2.026c-0.416-0.455-0.825-0.904-1.229-1.358c-1.202-1.358-2.318-2.718-3.352-4.043
                  c-0.517-0.662-1.011-1.319-1.482-1.959c-0.314-0.433-0.618-0.854-0.915-1.269c-0.59-0.837-1.14-1.646-1.651-2.42
                  c-0.129-0.191-0.252-0.382-0.376-0.573c-0.247-0.376-0.482-0.746-0.707-1.101c-0.668-1.061-1.247-2.026-1.735-2.869
                  c1.201,2.303,30.25,56.521,67.844,39.379c39.817-18.15,33.152-48.137,40.401-51.521c8.78-4.1,8.652,1.757,20.493,1.757
                  c11.121,0,25.438-5.715,38.059-16.395c11.414-9.662,13.172-29.57,8.489-39.519l80.796-42.158c0,0,4.396,5.564,8.495,7.316
                  c4.099,1.757,48.3-22.542,48.3-22.542S527.841,206.282,522.452,191.19z"/>
                <path fill="#DCE9F4" d="M319.291,219.812c-2.122,0.652-4.329,1.488-6.613,2.543c-10.235,4.705-15.013,8.832-17.489,12.503
                  l16.376,0.123L319.291,219.812z"/>
                <path fill="#6496BC" d="M292.319,272.756l-0.067,0.124l-0.09-0.079c-0.05,0.011-0.101,0.028-0.146,0.05
                  c-6.187,2.083-11.369,6.743-14.412,12.497c-1.645,3.117-2.667,6.547-2.897,10.067c-0.084,1.235,0.022,2.644,0.663,3.638
                  l-0.438,0.28c0.359,0.544,0.741,1.078,1.14,1.595c0.606,0.769,1.257,1.51,1.954,2.212c2.565,2.571,5.754,4.598,9.443,5.827
                  c12.548,4.183,26.067-2.487,30.199-14.895c1.814-5.424,1.527-11.043-0.426-16C310.6,272.2,300.78,270.016,292.319,272.756z"/>
                <path fill="#5993C9" d="M292.319,272.756c-0.056,0.011-0.106,0.028-0.157,0.045l0.09,0.079L292.319,272.756z"/>
                <path fill="#86B0D8" d="M283.449,265.659c-5.126,2.746-9.236,7.36-11.206,13.278c-0.601,1.796-0.966,3.615-1.118,5.417
                  c-0.466,5.345,0.943,10.6,3.807,14.979l0.438-0.28c-0.64-0.994-0.747-2.403-0.663-3.638c0.23-3.52,1.252-6.951,2.897-10.067
                  c3.043-5.754,8.225-10.415,14.412-12.497c0.045-0.022,0.096-0.04,0.146-0.05c0.051-0.017,0.101-0.034,0.157-0.045
                  c8.46-2.74,18.28-0.556,24.923,5.317c-2.494-6.39-7.743-11.678-14.805-14.025c-1.691-0.561-3.409-0.932-5.121-1.112
                  C292.432,262.414,287.604,263.425,283.449,265.659z"/>
                <path fill="#5993C9" d="M278.025,303.141c-0.696-0.702-1.348-1.443-1.954-2.212C276.672,301.697,277.324,302.438,278.025,303.141z
                  "/>
                <path fill="#5993C9" d="M276.072,300.929c-0.399-0.517-0.781-1.051-1.14-1.595C275.291,299.878,275.667,300.412,276.072,300.929z"
                  />
                <path fill="#BBD3E9" d="M271.125,284.355c0.152-1.802,0.517-3.621,1.118-5.417c1.97-5.918,6.08-10.533,11.206-13.278
                  c4.155-2.234,8.983-3.245,13.867-2.724l14.249-27.954l-16.376-0.123c-4.671,6.934-1.18,12.29-10.589,17
                  c-6.344,3.178-12.503,0.612-20.2-1.813c-0.612-0.196-1.241-0.387-1.875-0.578l-20.217,32.181L271.125,284.355z"/>
                <path fill="#C8DBED" d="M262.524,249.468c-0.208-0.062-0.41-0.119-0.623-0.18l-57.131,22.053c-1.229,2.116-2.241,4.29-3.054,6.496
                  l40.591,3.813L262.524,249.468z"/>
                <path fill="#DCE9F4" d="M225.122,253.061c-9.859,4.929-16.31,11.301-20.352,18.28l57.131-22.053
                  C252.727,246.626,241.313,244.959,225.122,253.061z"/>
                <path fill="#BBD3E9" d="M201.715,278h-0.006c-9.056,24,5.816,52.946,5.816,52.946s0.601,1.227,1.774,3.276l33.007-52.472
                  L201.715,278z"/>
                <path fill="#80ADD6" d="M222.881,352.114c-0.674-0.674-1.325-1.347-1.954-2.026C221.556,350.768,222.207,351.446,222.881,352.114z
                  "/>
                <path fill="none" stroke="#80ADD6" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M219.698,348.729
                  c0.404,0.454,0.814,0.903,1.229,1.358"/>
                <path fill="none" stroke="#80ADD6" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M214.864,342.728
                  c0.472,0.64,0.965,1.297,1.482,1.959"/>
                <path fill="none" stroke="#80ADD6" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M212.298,339.039
                  c0.511,0.774,1.061,1.583,1.651,2.42"/>
                <path fill="none" stroke="#80ADD6" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M211.214,337.365
                  c0.225,0.354,0.46,0.725,0.707,1.101"/>
              </g>
            </g>
          </svg>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="711.353px" height="768px" viewBox="0 0 711.353 768" enable-background="new 0 0 711.353 768" xml:space="preserve" preserveAspectRatio="xMidYMax meet" class="robot-hand-right">
             <g id="handleft">
               <g>
                 <path fill="none" d="M274.127,262.971l3.479,2.905l-3.372-3c-0.022,0.02-0.043,0.043-0.066,0.062
                   C274.155,262.949,274.14,262.959,274.127,262.971z"/>
                 <path fill="none" d="M248.64,256.405c0,0.75,0.101,1.478,0.288,2.172C248.742,257.875,248.64,257.142,248.64,256.405z"/>
                 <path fill="#A8639E" d="M276.771,233.577l-3.554,4.157c2.398,1.483,4.173,4.178,4.173,7.195v11.476
                   c0,2.528-1.315,4.924-3.098,6.471l3.343,3l0.999,0.847c-0.011,0.01-0.028,0.017-0.039,0.027l0.083,0.048
                   c2.33-2.251,3.712-5.4,3.712-8.876v-14.002C282.39,239.601,280.151,235.784,276.771,233.577z"/>
                 <path fill="#84427E" d="M277.606,265.875l-3.479-2.94c-1.462,1.233-3.475,2.064-5.523,2.064h-11.475
                   c-2.624,0-5.013-1.303-6.557-3.199l-3.567,4.41c2.252,2.437,5.48,3.79,9.045,3.79h14.002c3.303,0,6.311-1.185,8.536-3.313
                   c0.01-0.01,0.021,0.014,0.031,0.003L277.606,265.875z"/>
                 <path fill="#CE91C3" d="M257.128,265h11.475c2.048,0,4.061-0.831,5.523-2.064c0.013-0.012,0.028-0.004,0.041-0.015
                   c0.023-0.019,0.103-0.034,0.125-0.054c1.782-1.547,3.098-3.934,3.098-6.461V244.93c0-3.017-1.79-5.712-4.189-7.195
                   c-0.002-0.001-0.034-0.003-0.037-0.005c-0.027-0.016-0.07-0.031-0.097-0.047l-0.048-0.17c-1.28-0.797-2.803-1.512-4.415-1.512
                   h-11.475c-2.819,0-5.362,1.658-6.889,3.803c-0.005,0.006-0.008,0.121-0.013,0.128l-0.112,0.071
                   c-0.983,1.375-1.725,3.114-1.725,4.928v11.476c0,0.737,0.19,1.469,0.376,2.172c0.313,1.154,0.624,2.212,1.624,3.117v0.042
                   c0,0.025,0.091,0.055,0.111,0.08c0.006,0.007,0.039-0.022,0.044-0.015C252.09,263.697,254.504,265,257.128,265z"/>
                 <path fill="#E0B6DA" d="M273.011,237.512l0.042,0.062l3.726-4.352c-1.937-1.269-4.25-2.222-6.726-2.222H256.05
                   c-3.599,0-6.85,1.845-9.112,4.32l3.335,4.34c1.527-2.145,4.037-3.661,6.855-3.661h11.475
                   C270.215,236,271.731,236.715,273.011,237.512z"/>
                 <path fill="#A8639E" d="M248.803,258.577c-0.187-0.694-0.413-1.421-0.413-2.172V244.93c0-1.813,0.742-3.498,1.725-4.874
                   l0.05-0.017l-3.428-4.435c-2.01,2.201-3.346,5.12-3.346,8.314v14.002c0,3.229,1.412,6.176,3.461,8.382l3.594-4.568l-0.006-0.042
                   C249.706,260.789,249.115,259.731,248.803,258.577z"/>
               </g>
             </g>
          </svg>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="711.353px" height="768px" viewBox="0 0 711.353 768" enable-background="new 0 0 711.353 768" xml:space="preserve" preserveAspectRatio="xMidYMax meet" class="robot-hand-left">

             <g id="handright">
               <g>
                 <path fill="#A8639E" d="M464.652,210.523l-3.082,4.452c0.982,1.375,1.82,3.06,1.82,4.873v11.476c0,1.999-0.71,3.84-1.884,5.289
                   l3.079,4.609c2.049-2.207,2.805-5.154,2.805-8.382v-14.002C467.39,215.644,466.664,212.724,464.652,210.523z"/>
                 <path fill="#E0B6DA" d="M443.489,211h11.476c2.818,0,5.327,1.617,6.854,3.762l3.335-4.588c-2.263-2.476-5.513-4.174-9.111-4.174
                   H442.04c-2.476,0-4.789,0.984-6.726,2.253l3.767,4.097C440.361,211.553,441.876,211,443.489,211z"/>
                 <path fill="#84427E" d="M454.964,240h-11.476c-2.067,0-3.976-0.885-5.441-2.137l-4.575,3.82c2.229,2.146,5.249,3.317,8.567,3.317
                   h14.003c3.564,0,6.793-1.437,9.044-3.873l-3.582-4.435C459.96,238.601,457.597,240,454.964,240z"/>
                 <path fill="#CE91C3" d="M454.964,211h-11.476c-1.612,0-3.466,0.674-4.747,1.471c-2.402,1.482-4.352,4.357-4.352,7.377v11.476
                   c0,2.56,1.5,4.995,3.32,6.539c1.465,1.252,3.711,2.137,5.778,2.137h11.476c2.633,0,4.998-1.351,6.542-3.26
                   c1.174-1.448,1.884-3.417,1.884-5.416v-11.476c0-1.813-0.586-3.711-1.569-5.087C460.294,212.617,457.783,211,454.964,211z"/>
                 <path fill="#A8639E" d="M434.39,231.324v-11.476c0-3.021,1.949-5.682,4.352-7.164l-3.746-4.188
                   c-3.379,2.207-5.605,6.024-5.605,10.341v14.002c0,3.475,1.604,6.625,3.934,8.876l4.312-3.98
                   C435.816,236.192,434.39,233.884,434.39,231.324z"/>
               </g>
             </g>
          </svg>
        </div>
        <div class="robot-eyes-wrapper">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="711.353px" height="768px" viewBox="0 0 711.353 768" enable-background="new 0 0 711.353 768" xml:space="preserve" preserveAspectRatio="xMidYMax meet" class="robot-eyes">
            
            <g id="eyeright">
              <path fill="#FFFFFF" d="M379.807,179.082c5.36,0,9.712-6.535,9.712-14.598c0-8.062-4.352-14.598-9.712-14.598
                c-5.362,0-9.708,6.536-9.708,14.598C370.099,172.547,374.445,179.082,379.807,179.082z"/>
            </g>
            <g id="eyeleft">
              <path fill="#FFFFFF" d="M316.97,179.082c5.361,0,9.713-6.535,9.713-14.598c0-8.062-4.352-14.598-9.713-14.598
                s-9.712,6.536-9.712,14.598C307.258,172.547,311.609,179.082,316.97,179.082z"/>
            </g>
          </svg>
        </div>
      </div>
      </div>
    </div>
    <div class="super-wrapper-shadow">
      <div class="shadow-new"></div>        
    </div>
    
  </div>
</template>
<style lang="scss">
  $hoverTime: 3s;
  $hoverEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  $fallTime: 1.1s;
  $robotDelay: $fallTime + 0.3s;
  $robotImpactDelay: 0.7s;
  $robotImpactAftermath: 0.4s; // .shadow-robot-wrapper

  @mixin fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .app-bg:not(.blur-bg)~.page .intro-character--anim{
    .shadow-new{

      animation: fallScale $fallTime, hoverShadow $hoverTime $fallTime $hoverEasing infinite;
      will-change: transform, opacity;
      transform-origin: center;
    }

    .wrap{
      animation: fallDown $fallTime, hoverTranslate $hoverTime $fallTime $hoverEasing infinite;
      will-change: transform;
      transform-origin: center;
    }
    .robot-wrap {
      transform: translateY(-100vh);
      animation: $robotImpactDelay $robotDelay fallRobot cubic-bezier(0.165, 0.84, 0.44, 1) both;
      will-change: transform;
    }
    .robot-shadow {
      animation: $robotImpactDelay $robotDelay fallRobotShadow cubic-bezier(0.165, 0.84, 0.44, 1) both;
      will-change: transform, opacity;
    }
    // impact aftermath
    .super-wrapper{

      animation: $robotImpactAftermath #{$robotDelay + 0.5s} impactRobot cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
      will-change: transform;
    }

    .super-wrapper-shadow{

      animation: $robotImpactAftermath #{$robotDelay + 0.5s} impactRobotShadow cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
      will-change: transform, opacity;
    }
    .robot-eyes{

      animation: #{$robotImpactAftermath + 0.2s} #{$robotDelay + 0.5s} impactEyes cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
      will-change: transform;
    }
    .accessories-wrapper{

      animation: #{$robotImpactAftermath + 0.2s} #{$robotDelay + 0.5s} impactGuitar cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
      will-change: transform;
    }
    .robot-eyes-wrapper{
      animation: 4s eyesBlink infinite;
      will-change: opacity;
    }
    .robot-eyes {
      animation: 10s eyesMove infinite;
      will-change: transform;
    }
    .robot-hand-left{
      animation: 10s strumLeft infinite;
      will-change: transform;

    }
    .robot-hand-right{
      animation: 2s strumRight infinite;
      will-change: transform;

    }
  }
  .intro-character{
    width: 44vw;
    height: 107vh;
    position: absolute;
    right: 3vw;
    bottom: -8vh;
    pointer-events: none;
    .shadow-new{
      position: absolute;
      bottom: 7vh;
      left: 32.5%;
      width: 35%;
      height: 1vh;
      background:rgba(8, 94, 169, 0.2);
      box-shadow: 0 0 20px 20px rgba(8, 94, 169, 0.2);
      border-radius: 50%;
      transform: scale(0.97);
      opacity: 0.96;
      transition: 0.3s transform;
    }
    .wrap{
      transform: translateY(-4vh);
      transition: 0.3s transform;
    }
    .super-wrapper, .super-wrapper-shadow,.wrap, .robot-shadow-wrapper, .accessories-wrapper,.robot-eyes-wrapper{
      @include fill;
    }
    .cloud-wrap{
      @include fill;
    }
    .shadow-robot-wrapper{
      @include fill;
      opacity: 0.5;
    }
    .robot-wrap{
      //display: none;
      display: block;
      @include fill;
    }
    svg{
      @include fill;
    }
  }

  @keyframes fallRobot {
    0% { transform: translateY(-100vh) }
    100%  { transform: translateY(-0vh) }
  }
  @keyframes fallRobotShadow {
    0% { transform: scale(0.1); opacity: 0 }
    20% { transform: scale(0.1); opacity: 0 }
    25% { transform: scale(0.1); opacity: 0.2 }
    100% { transform: scale(1); opacity: 1 }
  }
  @keyframes impactRobot {
    0% { transform: translateY(0vh) }
    50% { transform: translateY(3vh) }
    80% { transform: translateY(-1vh) }
    100% { transform: translateY(0vh) }
  }
  @keyframes impactEyes {

    0% { transform: translateY(0vh) }
    50% { transform: translateY(0.90vh) }
    80% { transform: translateY(-0.30vh) }
    100% { transform: translateY(0vh) }
  }
  @keyframes impactGuitar {

    0% { transform: translateY(0vh) }
    50% { transform: translateY(1.10vh) }
    80% { transform: translateY(-0.40vh) }
    100% { transform: translateY(0vh) }
  }
  @keyframes impactRobotShadow {
    0% { transform: scale(0.97) }
    50% { transform: scale(1.04) }
    80% { transform: scale(0.95) }
    100% { transform: scale(0.97) }
  }
  @keyframes fallDown {
    0% { transform: translateY(-100vh) }
    92% { transform: translateY(1vh) }
    100% { transform: translateY(-4vh) }
  }
  @keyframes hoverTranslate {
    0% { transform: translateY(-4vh) }
    50% { transform: translateY(-2vh) }
    100% { transform: translateY(-4vh) }
  }
  @keyframes hoverShadow {
    0% { transform: scale(0.97); opacity: 0.96}
    50% { transform: scale(1); opacity: 1 }
    100% { transform: scale(0.97); opacity: 0.96 }
  }
  @keyframes fallScale {
    0% { transform: scale(0.1); opacity: 0.2 }
    92% { transform: scale(1.07); opacity: 1 }
    100% { transform: scale(0.97); opacity: 0.96 }
  }
  @keyframes eyesBlink {
    0% {
      opacity: 1;
    }
    90%{
      opacity: 1;
    }
    90.0001%{
      opacity: 0;
    }
    94%{
      opacity: 0;
    }
    94.00001%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes eyesMove{
    0% {
      transform: translate(0,0);
    }

    15% {
      transform: translate(1vh,1.4vh);
    }

    30% {
      transform: translate(-0.2vh,2.1vh);
    }

    50% {
      transform: translate(0vh,-0.4vh);
    }
    55% {
      transform: translate(0vh,0vh);
    }
    100% {
      transform: translate(0vh,0vh);
    }
  }
  @keyframes strumLeft{
    0% {
      transform: translate(0,0);
    }
    10% {
      transform: translate(0,0);
    }
    30% {
      transform: translate(-2.2vh,1.6vh);
    }
    67% {
      transform: translate(-2.2vh,1.6vh);
    }

    78% {
      transform: translate(-2.2vh,1.6vh);
    }
    86% {
      transform: translate(-2.8vh,2vh);
    }
    94% {
      transform: translate(-2.8vh,2vh);
    }
    99% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(0,0);
    }
  }
  @keyframes strumRight {
    0% {
      transform: translate(1.4vh,0.9vh);
    }
    40% {
      transform: translate(3.2vh,4.3vh);
    }
    100% {
      transform: translate(1.4vh,0.9vh);
    }
  }
</style>
<script>
  export default {
    name: 'CharacterAdvanced',
    mounted () {
      setTimeout(() => {
        this.animated = 1
        document.querySelector('.app-bg-top').classList.remove('blur-bg')
      }, 2000)
    },
    data () {
      return {
        animated: 0
      }
    }
  }
</script>
