<template>
  <div class="chord__selector" :class="{'chord__selector--anim': animationFirst === 1}">
    <div class="chord__selector__inner">
    <ul class="chord__selector__list"  :style="{ width: (chordTypesLength * selectorTypeWidth) + 'em'}" v-if="gameObject">
      <li class="chord__selector__item" v-for="(chordType, index) in chordTypesExpanded" :class="{'chord__selector__item--active': chordType.name === selectedChord.name}">
        <div class="chord__selector__item__type">
            
          <div class="titled titled--chord-name">
            <div class="chord__selector__item__label label">
              chord type
            </div>
            <div class="title">
              {{ chordType.name }}
            </div>
          </div>

          <div class="titled  titled--chord-achievements" @click="scrollToAchievements(index)" v-if="statsArchive.totalAchievements >= achievementsUnlockTable[index]">
            <div class="label">
              achievements
            </div>
            <div class="title">
              <span class="titled--chord-achievements__circle icon--info"></span>{{ statsArchive[chordType.name].totalAchievements }}/{{ totalAchievements }}
            </div>
          </div>
        </div>
        <div class="chord__selector__circle__list__wrapper" :class="['chord__selector__circle__list__wrapper-'+index]">
          
          <div class="chord__selector__circle__list__inner chord__selector__circle__list__inner--locked"  v-if="statsArchive.totalAchievements < achievementsUnlockTable[index]">
            
            <div class="chord__selector__circle__list__inner__text">
              <lock :percentage="index - 1 <= lastUnlock ? (achievementsUnlockTable[index] - statsArchive.totalAchievements)/ (achievementsUnlockTable[index] - achievementsUnlockTable[index - 1]) : 1"></lock>
            </div>
            <div class="chord__selector__circle__list__inner__text">
              <span :class="{'fail': index - 1 <= lastUnlock, 'faded': index >= lastUnlock}">{{statsArchive.totalAchievements}}</span>/{{achievementsUnlockTable[index]}}              
              <p>
                {{achievementsUnlockTable[index] - statsArchive.totalAchievements}} more achievements needed to unlock
              
              </p>
            </div>
            
          </div>
          <div class="chord__selector__circle__list__inner" v-else>
          <!-- <div class="chord__selector__circle__list__inner">-->
            <div class="chord__selector__interval__wrapper titled">
              <div class="label label--superclickable" @click="emitIntervals">
                intervals<span class="icon--info chord__selector__interval--info"></span>
              </div>
              <ul class="chord__selector__interval__list title title--medium">
                <li class="chord__selector__interval" :class="['color-'+ interval.type +'-'+ interval.order, 'color-'+ interval.type]" v-for="interval in getChordIntervals(chordType)">
                  {{ interval.name }} - {{ interval.distance }} / 12
                </li>
              </ul>
            </div>
            <div class="chord__selector__circle__list" v-if="isSetup">
              <li  class="chord__selector__circle" :key="chordRoot+chordType.name" v-for="chordRoot in getScaleRoots(chordType)" @click="setActiveChord(getChordObject(chordRoot, chordType))" :class="{'chord__selector__circle--active': isSelectedChord(chordRoot, chordType)}">

                <div class="chord__selector__circle__level">
                  <div class="chord__selector__circle__text">
                    {{ getChordLevel(getChordNote(chordRoot), chordType.name) }}
                  </div>
                </div>
                <div class="chord__selector__circle__level chord__selector__circle__level--figured" :class="{'chord__selector__circle__level--figured-minor': !isMajorRoot(chordRoot)}" v-if="selectedScale.notes.length === 7">
                  <div class="chord__selector__circle__text">
                    {{ toRomanNumeral(chordRoot) }}
                  </div>
                </div>
                <div class="chord__selector__circle__anim">
                  <div class="chord__selector__circle__inner">
                    <div class="chord__selector__circle__text">
                      {{ getChordNote(chordRoot) }}{{ chordType.suffix }}
                    </div>
                    <div class="chord__selector__circle__shade" :style="{'opacity': 1 - getChordLevel(getChordNote(chordRoot), chordType.name) / highestLevel }"></div>
                  </div>
                </div>
                <!-- <pie :percentage="getChordAccuracy(getChordNote(chordRoot), chordType)" class="chord__selector__pie"></pie> -->
              </li>
            </div>

            <div class="achievements__expanded" :class="['chord__selector__achievements-'+index]">
              <div class="titled">
                <!--
                <label>
                  achievements
                </label>
                <div class="title">
                  Earn achievements playing chord games and unlock new chord types
                </div>
                -->
                <h4 class="label">
                  Achievements
                </h4>
                <div class="title chord__selector__interval chord__selector__achievements">
                  Collect achievements for each chord type and unlock new chord types.
                </div>
              </div>
              <div class="titled" v-for="(achievement, index) in achievementTypes"  v-if="index !== 'total'">
                <div class="label label--achievement">
                  Achievement - {{ achievement }} Lv{{statsArchive[chordType.name][achievement]}} ({{statsArchive[chordType.name][achievement]}}/{{achievements.find(ell => ell.trait === achievement).levels.length}})
                </div>
                <div class="title title--achievement" v-if="achievements.find(ell => ell.trait === achievement).levels.length > statsArchive[chordType.name][achievement]">
                  Lv{{statsArchive[chordType.name][achievement] + 1}} - {{ achievements.find(ell => ell.trait === achievement).levels[statsArchive[chordType.name][achievement]].text }}
                </div>
                <div class="title title--achievement  title--achievement--done" v-if="statsArchive[chordType.name][achievement] > 0">
                  Lv{{statsArchive[chordType.name][achievement]}} - {{ achievements.find(ell => ell.trait === achievement).levels[statsArchive[chordType.name][achievement] - 1].text }}
                </div>
              </div>  
            </div>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </div>
  
</template>

<script>
import Pie from './helpers/Pie.vue'
import Lock from './helpers/Lock.vue'
import { toRoman } from '../store/helpers/_generalHelpers.js'
import scrollToWithAnimation from 'scrollto-with-animation'
export default {
  name: 'ChordSelector',
  components: {
    Pie,
    Lock
  },
  data () {
    return {
      //chordTypesAchievementsExpanded: undefined,
      animationFirst: 1,
      selectorTypeWidth: 25
    }
  },
  mounted () {
    setTimeout(() => {
      const scrollTo = document.querySelector(`.chord__selector__item--active`)
      scrollTo && scrollToWithAnimation(
          document.querySelector(`.chord__selector__inner`),
          'scrollLeft', // direction to scroll 
          scrollTo.offsetLeft,
          1000, // duration in ms 
          'easeInOutCirc')
    }, 600)
  },
  computed: {
    gameObject () {
      return this.$store.state.gameObjects.find(el => el.id === 'arpeggiator')
    },
    selectedScale () {
      return this.gameObject.currentSetup.scale || { chordArray: [] }
    },
    chordTypesExpanded () {
      return this.chordTypes.filter(el => this.getScaleRoots(el).length > 0)
    },
    selectedChord () {
      return this.gameObject.currentSetup.chord || { }
    },
    rootIndex () {
      return this.selectedScale.rootIndex || 0
    },
    currentChords () {
      return this.selectedScale.chordArray
    },
    chordTypes () {
      return this.$store.state.library.chords
    },
    octave () {
      return this.$store.state.library.octave
    },
    intervals () {
      return this.$store.state.library.intervals
    },
    constants () {
      return this.$store.state.library.constants
    },
    achievementsUnlockTable () {
      return this.constants.arpeggiatorAchievementsUnlockTable
    },
    lockAmount () {
      return this.constants.arpeggiatorAchievementsLockAmount
    },
    lastUnlock () {
      return this.constants.getArpeggiatorLastUnlock(this.statsArchive.totalAchievements)
    },
    archive () {
      return this.gameObject.archive
    },
    chordTypesLength () {
      return this.currentChords.reduce((sum, current) => sum + (current.scaleRoots.length > 0), 0)
    },
    highestLevel () {
      return this.statsArchive.highLevel
    },
    achievements () {
      return this.$store.state.library.achievements.arpeggiator
    },
    achievementTypes () {
      return this.$store.state.library.achievementTypes.arpeggiator
    },
    isSetup () {
      return this.$store.state.route.params.gameOption === 'setup'
    },
    totalAchievements () {
      return this.achievements.reduce((acc, el) => acc + el.levels.length, 0)
    },
    statsArchive () {
      return this.gameObject.statsArchive
    },
    makeSound () {
      return this.$store.state.library.makeSound
    },
    volume () {
      return this.$store.state.settings.volume
    },
    tuning () {
      return this.$store.state.settings.tuning
    },
    guitarSound () {
      return this.$store.state.guitarSound
    },
    getMajorChords () {
      return this.currentChords.find(el => el.name === 'Major')
    }
  },
  methods: {
    getChordArchive (chordRootNote, chordTypeName) {
      return this.gameObject.archive[chordTypeName][chordRootNote]
    },
    scrollToAchievements (index) {
      const scrollTo = document.querySelector(`.chord__selector__achievements-${index}`)
      scrollTo && scrollToWithAnimation(
          document.querySelector(`.chord__selector__circle__list__wrapper-${index}`),
          'scrollTop', // direction to scroll 
          scrollTo.offsetTop - 5,
          1000, // duration in ms 
          'easeInOutCirc')
    },
    setActiveChord (chordObject) {
      this.$store.commit('UPDATE_CURRENT_SETUP', chordObject)
      this.animationFirst = 0
      this.guitarSound && this.makeSound(chordObject.chord.allNotes, this.guitarSound, this.volume, this.tuning)
    },
    getChordIntervals (chordType) {
      return chordType.notes.map(el => Object.assign({}, this.intervals[el][0], { distance: el }))
    },
    getChordLevel (chordRootNote, chordTypeName) {
      return this.statsArchive[chordTypeName][chordRootNote].highLevel
    },
    getChordAccuracy (chordRootNote, chordType) {
      return this.statsArchive[chordType.name][chordRootNote].totalAttempts === 0 ? 0 : this.statsArchive[chordType.name][chordRootNote].totalCorrect / this.statsArchive[chordType.name][chordRootNote].totalAttempts * 100
    },
    getChordNote (chordRoot) {
      return this.octave[(chordRoot + this.rootIndex) % 12]
    },
    getChordAll (chordRoot, chordNotes) {
      return chordNotes.map(thisNote => this.getChordNote(chordRoot + thisNote))
    },
    getScaleRoots (chordType) {
      const tempChord = this.currentChords.find((el) => el.name === chordType.name)
      return tempChord ? tempChord.scaleRoots : []
    },
    getChordObject (chordRoot, chordType) {
      return { chord: Object.assign({ root: this.getChordNote(chordRoot), allNotes: this.getChordAll(chordRoot, chordType.notes) }, chordType) }
    },
    isSelectedChord (chordRoot, chordType) {
      const chordObject = this.getChordObject(chordRoot, chordType).chord
      
      return (chordObject.root === this.selectedChord.root && chordObject.name === this.selectedChord.name)
    },
    toRomanNumeral (number) {
      return toRoman(this.getNumberInScale(el => el === number) + 1)
    },
    getNumberInScale (distance) {
      return this.selectedScale.notes.findIndex(distance)
    },
    isMajorRoot (distance) {
      return this.getMajorChords.scaleRoots.findIndex(el => el === distance) > -1
    },
    emitIntervals () {
      this.$emit('popupIntervals')
    },
    getUnlockAmount (index) {
      return this.constants.getArpeggiatorUnlockAmount(index)
    }
  }
}
</script>
