<template>
  <div class="chord__expanded" v-if="typeof statsArchive['5th'] !== 'undefined' && typeof selectedChord.name !== 'undefined'">
    <div class="titled" @click="makeSound(selectedChord.allNotes, guitarSound, volume, tuning)">
      <div class="label">
        selected chord
      </div>
      <div class="title--primary">
        {{ selectedChord.root }}{{ selectedChord.suffix }}
      </div>
    </div>
    <div class="titled">
      <div class="label">
        notes
      </div>
      <ul class="title title--nomargin  title--medium chord__expanded__list">
        <li class="chord__expanded__item" v-for="(note, index) in selectedChord.allNotes"  @click="makeSound([note], guitarSound, volume, tuning)">
          <div class="chord__expanded__note">
            <div class="note" :class="makeIntervalClass('background',selectedChord.notes[index])">
              <div class="note__text">
                {{ note }}
              </div>
            </div>
          </div>
          <div class="chord__expanded__interval" :class="makeIntervalClass('color',selectedChord.notes[index])">
            {{ getInterval(selectedChord.notes[index]).name }}
          </div>
        </li>
      </ul>
    </div>
    <div class="titled">
      <div class="label">
        chord type
      </div>
      <div class="title title--medium">
        {{ selectedChord.name }}
      </div>
    </div>
    <div class="titled">
      <div class="label">
        difficulty
      </div>
      <div class="title title--medium">
        {{ selectedChord.difficulty }}
      </div>
    </div>
    <div class="titled titled--highscore">
      <div class="label">
        high score
      </div>
      <div class="title">
        {{ statsArchive[selectedChord.name][selectedChord.root].highScore }}
      </div>
    </div>
    <div class="titled titled--accuracy">
      <div class="label">
        average accuracy
      </div>
      <div class="title">
        {{ statsArchive[selectedChord.name][selectedChord.root].totalCorrect === 0 ? 0 : (statsArchive[selectedChord.name][selectedChord.root].totalCorrect/statsArchive[selectedChord.name][selectedChord.root].totalAttempts*100).toFixed(2) }}%
      </div>
    </div>
    <div class="titled titled--achievements">
      <div class="label">
        achievements
      </div>
      <div class="title">
        {{ statsArchive[selectedChord.name].totalAchievements }}/{{ totalAchievements }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ChordExpanded',
  computed: {
    gameObj () {
      return this.$store.state.gameObjects.find(el => el.id === 'arpeggiator')
    },
    selectedChord () {
      return this.gameObj.currentSetup.chord || { }
    },
    library () {
      return this.$store.state.library
    },
    tuning () {
      return this.$store.state.settings.tuning
    },
    intervals () {
      return this.$store.state.library.intervals
    },
    achievements () {
      return this.$store.state.library.achievements.arpeggiator
    },
    totalAchievements () {
      return this.achievements.reduce((acc, el) => acc + el.levels.length, 0)
    },
    statsArchive () {
      return this.gameObj.statsArchive
    },
    makeSound () {
      return this.$store.state.library.makeSound
    },
    volume () {
      return this.$store.state.settings.volume
    },
    guitarSound () {
      return this.$store.state.guitarSound
    }
    /*,
    equalistResult () {
      return this.checkForEqualist(this.gameObj.archive[this.selectedChord.name])
    }
    */
  },
  methods: {
    getInterval (index) {
      return this.intervals[index][0]
    },
    makeIntervalClass (prefix, index) {
      const interval = this.getInterval(index)
      return [`${prefix}-${interval.type}-${interval.order}`, `${prefix}-${interval.type}`]
    }
    /*,
    checkForEqualist (typeArchive) {
      const uniqueSorted = this.library.octave.reduce((accc, ell) => [...accc, ...typeArchive[ell]], [])
        .sort((elA, elB) => elA.gameLevel > elB.gameLevel)
        .reverse()
        .filter((ell, index, self) => self.findIndex(elll => elll.root === ell.root) === index)

      const equalistLevels = this.achievements.find(ell => ell.trait === 'Equalist').levels
      const maxEqualist = equalistLevels.reduce((accc, ell, index) => {
        const tempAmount = uniqueSorted.filter(elll => elll.gameLevel >= ell.req.gameLevel)
        console.log(tempAmount.length)
        if (tempAmount.length >= ell.req.different) {
          return index + 1
        }
        return accc
      }, 0)
      return maxEqualist
    }
    */
  }
}
</script>
