<template>
  <div class="pause">
    <h2 class="game__settings__title">Pause</h2>
    <div class="pause__main">
      <h2 class="header game__settings__header">
        Continue game?
      </h2>
      
      <p>
        Find current note ({{ note }}) on a highlighted string
      </p>
      <p>
        Find {{ gameLevelObj.goal }} notes to level up!
      </p>
    </div>
    <pause-buttons></pause-buttons>    
  </div>
</template>

<script>

  import PauseButtons from 'components/pause/PauseButtons'
  import DidYouKnow from 'components/helpers/DidYouKnow'
  export default {
    name: 'ArpeggiatorPause',
    components: {
      PauseButtons,
      DidYouKnow
    },
    computed: {
      currentGame () {
        return this.$store.state.currentGame || {}
      },
      currentTurnCached () {
        return this.currentGame.currentNoteObj || {}
      },
      note () {
        return this.currentTurnCached.note
      },
      gameLevelObj () {
        return this.currentGame.gameLevelObj || {}
      }
    }
  }
</script>
