<template>
  <div class="pause">
    <h2 class="game__settings__title">Results</h2>
    <div class="pause__main">

      <div class="game__stats">
        <div class="titled titled--ib">
          <div class="label">
            Level
          </div>
          <div class="title">
            {{ level }}
          </div>
        </div>
        <div class="titled titled--ib">
          <div class="label">
            Notes
          </div>
          <div class="title">
            <span class="scale__note" v-for="note in notes">{{ note }}</span>        
            <!-- {{ selectedChord.root }}{{ selectedChord.suffix }} -->
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Final score
          </div>
          <div class="title" :class="{'title--success': score === highestScore  }">
            {{ score.toLocaleString() }}
          </div>
        </div>


        <div class="titled titled--ib">
          <div class="label">
            Highest score
          </div>
          <div class="title" :class="{'title--success': score === highestScore }">
            {{ highestScore.toLocaleString() }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Total time
          </div>
          <div class="title">
            {{ totalTime }}s
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Time per note
          </div>
          <div class="title">
            {{ (totalTime / totalCorrect).toFixed(2) }}s
          </div>
        </div>
      
        <div class="titled titled--ib">
          <div class="label">
            Total attempts
          </div>
          <div class="title">
            {{ totalAttempts }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Total correct notes
          </div>
          <div class="title">
            {{ totalCorrect }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Total wrong notes
          </div>
          <div class="title">
            {{ totalAttempts - totalCorrect }}
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Fastest notes
          </div>
          <div class="title">
            {{ (fastestNotes).toFixed(2)}}s
          </div>
        </div>

        <div class="titled titled--ib">
          <div class="label">
            Overall accuracy
          </div>
          <div class="title">
            {{ (totalCorrect/totalAttempts * 100).toFixed(2)}}%
          </div>
        </div>
      </div>
      <div class="pause__container">
        <h2 class="header game__settings__header"  v-if="score === highestScore || characterLevel > characterLevelPrev">
          Congratulations!
        </h2>
        <h2 class="header game__settings__header" v-else>
          Keep getting better!
        </h2>
        <h3>
          You've earned <em>{{ score.toLocaleString() }}exp</em>!
        </h3>
        <h3 v-if="characterLevel > characterLevelPrev">
          You've reached new character level - <em>Level {{ characterLevel }}</em>!
        </h3>
        <h3 v-if="score === highestScore">
          You've made new <em>overall</em> high score!
        </h3>
      </div>

    </div>
    <end-buttons></end-buttons>    
  </div>
</template>

<script>

  import EndButtons from 'components/end/EndButtons'
  import DidYouKnow from 'components/helpers/DidYouKnow'
  export default {
    name: 'ArpeggiatorEnd',
    components: {
      EndButtons,
      DidYouKnow
    },
    computed: {
      gameObj () {
        return this.$store.state.gameObjects.find(el => el.id === 'fretboard')
      },
      currentGame () {
        return this.$store.state.currentGame || {}
      },
      score () {
        return this.currentGame.score
      },
      level () {
        return this.currentGame.gameLevel
      },
      notes () {
        return this.currentGame.selected
      },
      archive () {
        return this.gameObj.archive
      },
      highestScore () {
        return this.archive.reduce((acc, el) => el.score > acc ? el.score : acc, 0)
      },
      totalAttempts () {
        return this.currentGame.totalAttempts
      },
      totalCorrect () {
        return this.currentGame.totalCorrect
      },
      totalTime () {
        return this.currentGame.time.ticked
      },
      archiveTotals () {
        return this.archive.reduce((acc, el) => {
          return { time: acc.time + el.time.ticked, attempts: acc.attempts + el.totalAttempts, correct: acc.correct + el.totalCorrect }
        }, { time: 0, attempts: 0, correct: 0 })
      },
      fastestNotes () {
        return this.archive.reduce((acc, el) => el.time.ticked / el.totalCorrect < acc ? el.time.ticked / el.totalCorrect : acc, 10000)
      },
      totalScore () {
        return this.$store.state.gameObjects.reduce((acc, el) => Math.floor(acc + el.statsArchive.totalScore), 0)
      },
      characterLevels () {
        return this.$store.state.library.characterLevels
      },
      characterLevelPrev () {
        return this.characterLevels.reduce((acc, el, index) => el < this.totalScore - this.score ? index : acc, 0)
      },
      characterLevel () {
        return this.characterLevels.reduce((acc, el, index) => el < this.totalScore ? index : acc, 0)
      },
      characterLevelRequirements () {
        return {
          prev: this.characterLevels[this.characterLevel],
          next: this.characterLevels[Math.min(this.characterLevel + 1, this.characterLevels.length - 1)],
          diff: this.characterLevels[Math.min(this.characterLevel + 1, this.characterLevels.length - 1)] - this.characterLevels[this.characterLevel]
        }
      },
      progressPercentage () {
        return (Math.min(1, this.expOverPreviousLevel / this.characterLevelRequirements.diff) * 100).toFixed(2)
      },
      expOverPreviousLevel () {
        return (this.totalScore - this.characterLevelRequirements.prev)
      }

      /*,
      turns () {
        return this.currentGame.allTurns.concat(this.currentGame.turns)
      },
      currentTurn () {
        return this.currentGame.currentTurn
      },
      totalAttempts () {
        return this.turns.reduce((acc, el) => acc + el.length, 0) + this.currentTurn.length
      },
      chordLength () {
        return this.currentGame.noteArray.length
      },
      totalTime () {
        return this.turns.reduce((acc, el) => acc + el[0].time - el[el.length - 1].time, 0)
      },
      averageTime () {
        return (this.totalTime / this.turns.length).toFixed(2);
      },
      noteAccuracy () {

        return (((this.chordLength * this.turns.length) / this.totalAttempts) * 100).toFixed(2)
      }
      */
    }
  }
</script>