<template>

  <div class="game__settings__main">
    <h2 class="game__settings__title">Fretboard</h2>
    <div class="game__setup">
      <!-- <scale-dropdown></scale-dropdown> -->
      <div class="note-selector__outer">
        
        <div class="note-selector__wrapper container" v-if="(animStart + selectorLoad) > 1" :class="{'note-selector__wrapper--instant': selectorLoad  > 9}">
          <div class="note-selector note-selector--used half">
            <div class="label label--boxed">
              Used notes
            </div>
            <div class="note-selector__inner">
              <div class="note-selector__list">
                <div class="note-selector__list__item" v-for="index in octave.length">
                  <div class="note note-selector__slot">
                    <div class="note__text">{{ index }}</div>
                  </div>
                </div>
              </div>

              <draggable v-model='selectedNoteArray' class="note-selector__list note-selector__list--used" :options="{ group: 'notes'}">
                <div class="note-selector__list__item" v-for="note in selectedNoteArray" @click="removeNote(note)">
                  <div class="note note-selector__note note-selector__note--used">
                    <div class="note__text">
                      {{ note }}  
                    </div>
                  </div>
                </div>
              </draggable>
            </div>
          </div>
          <div class="note-selector note-selector--available half">
            <div class="label label--boxed">
              Available notes
            </div>
            <div class="note-selector__inner">
              <draggable v-model='noteArray' class="note-selector__list" :options="{ group: 'notes'}">
                <div class="note-selector__list__item" v-for="note in noteArray" @click="putNote(note)">
                  <div class="note note-selector__note note-selector__note--available">
                    <div class="note__text">
                      {{ note }}
                    </div>
                  </div>
                </div>
              </draggable>
            </div>
          </div>
        </div>
      </div>
      <div class="fretboard__controls">
        <div class="titled fretboard__titled">
          <div class="label">
            options
          </div>
          <div class="fretboard__titled__inner">
            <div class="title" @click="fillAvailable">
              fill available
            </div>
            <div class="title" @click="clearAll">
              clear all
            </div>
          </div>
        </div>
        <scale-dropdown class="scale--relative"></scale-dropdown>

        <div class="bottom__buttons">
          <div class="btn" v-show="selectedNoteArray.length > 0" @click="playGame">Play</div>
          <div class="btn btn--secondary" v-show="selectedNoteArray.length === 0" @click="togglePopup">Play</div>
          <router-link class="btn btn--secondary" to="/">Back</router-link>
        </div>
      </div>

      <transition name="slide-popup">
        <pop-up class="popup--setup" v-if="popupOpen">
          <span slot="title">
            Fretboard
          </span>
          <div slot="main">
            <h2 class="header game__settings__header">
              Please select at least <em>one</em> note
            </h2>
          </div>
          <div class="bottom__buttons" slot="buttons">
            <div class="btn" @click="togglePopup">
              ok
            </div>
          </div>
        </pop-up>
      </transition>
    </div>
  </div>
</template>

<script>
  import ScaleDropdown from './ScaleDropdown'
  import PopUp from './PopUp'
  import draggable from 'vuedraggable'
  export default {
    name: 'FretboardSetup',
    data () {
      return {
        popupOpen: false,
        selectorLoad: 0
      }
    },
    mounted () {
      this.$store.commit('INIT_CURRENT_SETUP')
      setTimeout(() => {
        this.selectorLoad = 1 + this.selectorLoad
      }, 800)

      setTimeout(() => {
        this.selectorLoad = 3 + this.selectorLoad
      }, 3000)
    },
    components: {
      ScaleDropdown,
      PopUp,
      draggable
    },
    props: ['animStart'],
    methods: {
      putNote (note) {
        this.selectorLoad = 10
        const newSelectable = this.noteArray.filter(el => el !== note).sort()
        const newSelected = [...this.selectedNoteArray, note]
        this.$store.commit('UPDATE_CURRENT_SETUP', { selectable: newSelectable, selected: newSelected })
        this.guitarSound && this.makeSound([note], this.guitarSound, this.volume, this.tuning)
      },
      removeNote (note) {
        this.selectorLoad = 10
        const newSelectable = [...this.noteArray, note].sort()
        const newSelected = this.selectedNoteArray.filter(el => el !== note)
        this.$store.commit('UPDATE_CURRENT_SETUP', { selectable: newSelectable, selected: newSelected })
        this.guitarSound && this.makeSound([note], this.guitarSound, this.volume * 0.3, this.tuning, 0.4)
      },
      fillAvailable () {
        const newSelected = [...this.noteArray, ...this.selectedNoteArray]
        this.$store.commit('UPDATE_CURRENT_SETUP', { selectable: [], selected: newSelected })
      },
      clearAll () {
        const newSelectable = [...this.noteArray, ...this.selectedNoteArray].sort()
        this.$store.commit('UPDATE_CURRENT_SETUP', { selected: [], selectable: newSelectable })
      },
      togglePopup () {
        this.popupOpen = !this.popupOpen
      },
      playGame () {
        window.plugins && window.plugins.insomnia.keepAwake()
        this.$router.push({ name: 'journey', params: { game: this.$route.params.game, gameOption: 'play' }})
      }
    },
    computed: {
      gameObject () {
        return this.$store.state.gameObjects.find(el => el.id === 'fretboard').currentSetup
      },
      octave () {
        return this.$store.state.library.octave
      },
      makeSound () {
        return this.$store.state.library.makeSound
      },
      tuning () {
        return this.$store.state.settings.tuning
      },
      volume () {
        return this.$store.state.settings.volume
      },
      guitarSound () {
        return this.$store.state.guitarSound
      },
      noteArray: {
        get () {
          return this.gameObject.selectable || []
        },
        set (value) {
          this.$store.commit('UPDATE_CURRENT_SETUP', { selectable: value.sort() })
        }
      },
      selectedNoteArray: {
        get () {
          return this.gameObject.selected || []
        },
        set (value) {
          this.$store.commit('UPDATE_CURRENT_SETUP', { selected: value })
        }
      }
    }
  }
</script>
