<template>
  <div class="game game--fretboard" :class="{ 'game--blur': $route.params.gameOption2 === 'pause' || status === 'loss'}">

    <div class="game__blur" :class="{'game__blur--visible': loading}"></div>
    <top-indicator :fraction="turns.filter(el => el.status === 'win').length / gameLevelObj.goal"></top-indicator>

    <div class="game__status">
    <div class="time" :class="{'time--end': currentTime < 10}">
        <span class="time__minutes">{{ gameTimeLeft }}</span><span class="time__seconds"></span>
      </div>

      <div class="level">
        Level <span class="level__number">{{ level }}</span>
      </div>

      
      <div class="search">
        <div class="search__string">
          <span class="search__string__name">{{ stringName }}</span> string
        </div>
        <div class="game__label search__label">
          find note
        </div>
        <div class="search__note__list note--arpeggiator__list">

          <div class="search__note__list__item" @click="makeSound([note], guitarSound, volume, tuning)">
            <div class="note note--arpeggiator note--fretboard note--arpeggiator--current">
              <!--
              <div class="note--arpeggiator__fade" :style="{ 'transform': 'translateY('+ 100 / ( gameLevelObj.noteLife / time.current )+'%)'}"></div>
              -->
              <div class="note__text">
                {{ note }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="score">
        <div class="game__label score__label">
          score
        </div>
        <div class="score__current">
          <i-count-up
                :start="(scorePrev - scoreIncrease)"
                :end="scorePrev"
                :decimals="0"
                :duration="countUpDuration / 1000"
                :options="countUpOptions"
              ></i-count-up>
        </div>
        <div class="score__added" v-if="scoreIncrease > 0"> 
          +<i-count-up
                :start="scoreIncrease"
                :end="scoreIncreaseEndVal"
                :decimals="0"
                :duration="countUpDuration / 1000"
                :options="countUpOptions"
              ></i-count-up>
        </div>
      </div>
    </div>


    <div class="chord-status">

      <transition name="fade">
        <div class="chord-status__intro" :class="[ (status === 'inProgress' || status === 'loss' || pastNotes.length > 0)  && 'chord-status__intro--gone' ]" v-if="note">
          <!--
          <p>
            Highlighted string is active
          </p>
          -->
          <p>
            Find current note ({{ note }}) on a highlighted string
          </p>
          <p>
            Find {{ gameLevelObj.goal }} notes to level up!
          </p>
        </div>
      </transition>
      <ul class="chord-status__intervals">
        <li class="chord-status__intervals__item" v-for="status in pastNotes">
          {{ status.name }}
          <div class="chord-status__score" v-if="status.score">
            +{{status.score}}
          </div>
        </li>
      </ul>

      <transition name="fade">
        <game-loading-text></game-loading-text>
      </transition>
      <top-indicator :fraction="noteTimeFraction" class="top-indicator--instant chord-status__indicator"></top-indicator>
      <div class="chord-status__name" v-if="!loading">
        <!-- <span v-for="note in setupObj.selected">{{ note }}</span>-->
        note time
      </div>
    </div>

    <fretboard></fretboard>

  </div>
</template>

<script>
  import Fretboard from 'components/fretboard/Fretboard'
  import ICountUp from 'vue-countup-v2'
  import TopIndicator from 'components/helpers/TopIndicator'
  import GameLoadingText from 'components/GameLoadingText'

  export default {
    name: 'FretboardGame',
    components: {
      Fretboard,
      ICountUp,
      TopIndicator,
      GameLoadingText
    },

    data () {
      return {
        timeInterval: {},
        scorePrev: 0,
        scoreIncrease: -1,
        scoreUpVisible: 0,
        countUpDuration: 2000,
        countUpOptions: {
          separator: ''
        },
        pastNotes: [
        ],
        oldLengths: {
          tries: 0,
          allTurns: 0,
          turns: 0
        },
        loading: 1
      }
    },
    methods: {
      getStringName (stringIndex) {
        return this.tones[stringIndex].note
      }
    },
    watch: {
      score (scoreNext = 0) {
        this.scoreIncrease = scoreNext - this.scorePrev
        this.scorePrev = scoreNext
        this.scoreIncreaseEndVal = this.scoreIncrease
        setTimeout(() => {
          this.scoreIncreaseEndVal = 0
        }, 100)
      },
      currentTurnCached (newTurn) {
        if (this.currentGame.allTurns.length !== this.oldLengths.allTurns && this.level > 0) {
          // new success + level up
          this.pastNotes.push({
            name: `Level ${this.level}!`
          })
          this.oldLengths.allTurns = this.currentGame.allTurns.length
          this.oldLengths.turns = this.currentGame.turns.length
          this.oldLengths.tries = newTurn.tries.length
          return 3
        }

        if (this.turns.length !== this.oldLengths.turns) {
          // new success or time ran out, without level up
          const lastTurn = this.turns[this.turns.length - 1]
          if (lastTurn.status === 'win') {
            this.pastNotes.push({
              name: 'Correct note!',
              score: this.currentGame.scoreAdded.toFixed(0)
            })
          } else {
            this.pastNotes.push({
              name: 'Time ran out!'
            })
          }
          this.oldLengths.turns = this.currentGame.turns.length
          this.oldLengths.tries = newTurn.tries.length
          return 2
        }

        if (newTurn.tries.length !== this.oldLengths.tries) {
          // new failed try
          this.pastNotes.push({
            name: 'Wrong note!'
          })
          this.oldLengths.tries = newTurn.tries.length
          return 1
        }
        return -1
      }
    },
    mounted () {
      this.timeInterval = setInterval(() => {
        if (this.$store.state.route.params.gameOption2 !== 'pause' && this.status !== 'loss') {
          this.$store.commit('GAME_TICK')
        }
      }, 1000)
      
      setTimeout(() => {
        this.loading = 0
      }, 6800)
    },
    beforeDestroy () {
      this.$store.commit('GAME_END')
      clearInterval(this.timeInterval)
    },
    computed: {
      setupObj () {
        return this.$store.state.gameObjects.find(el => el.id === 'fretboard').currentSetup
      },
      currentGame () {
        return this.$store.state.currentGame || {}
      },
      currentTurnCached () {
        return this.currentGame.currentNoteObj || {}
      },
      makeSound () {
        return this.$store.state.library.makeSound
      },
      volume () {
        return this.$store.state.settings.volume
      },
      guitarSound () {
        return this.$store.state.guitarSound
      },
      turns () {
        return this.currentGame.turns || []
      },
      gameLevelObj () {
        return this.currentGame.gameLevelObj || {}
      },
      tuning () {
        return this.$store.state.settings.tuning
      },
      rootIndex () {
        return this.tuning.root.index
      },
      strings () {
        return this.tuning.strings
      },
      stringName () {
        const stringIndex = this.strings[this.currentTurnCached.string] + this.rootIndex
        return stringIndex ? this.getStringName(stringIndex) : ''
      },
      currentTime () {
        const tempTime = this.currentGame.time || {}
        return tempTime.current
      },
      gameTimeLeft () {
        const tempTime = this.currentGame.time || {}
        const secondsLeft = tempTime.current || 0
        return new Date(secondsLeft * 1000).toISOString().substr(14, 5)
      },
      noteTime () {
        return this.currentTurnCached.time || {}
      },
      noteTimeFraction () {
        return this.loading ? 0 : this.noteTime.current / (this.noteTime.allowed - 1)
      },
      score () {
        return this.currentGame.score || 0
      },
      level () {
        return this.currentGame.gameLevel
      },
      status () {
        return this.currentGame.status
      },
      tones () {
        return this.$store.state.library.tones
      },
      time () {
        return this.currentTurn.time
      },
      note () {
        return this.currentTurnCached.note
      }
    }
  }
</script>