<template>
  <div class="game__loading">
    <div class="game__loading__text game__loading__overlay">
      <div class="game__loading__overlay__inner">
        Game Loading
      </div>
    </div>
    <div class="game__loading__text game__loading__bg">
      Game Loading
    </div>
  </div>
</template>

<script>
  export default {
    name: 'GameLoadingText',
    props: [
      'loaded'
    ],
  }
</script>
