<template>
  <div class="popup">
    <div class="bg"></div>
    <div class="popup__fill">
      <div class="popup__inner">
        <h2 class="game__settings__title">
          <slot name="title">
          </slot>
        </h2>

        <div class="pause__main">
          <div class="pause__container">
            <slot name="main"></slot>
          </div>
        </div>
        <slot name="buttons"></slot>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PopUp'
  }
</script>
