<template>


  <transition name="slide-popup">
  <pop-up v-if="dropdownOpen">
  <span slot="title">
    Select scale
  </span>
  <div class="scale__dropdown" slot="main">
    <div class="titled titled--keeppadding">
      <div class="label">
        scale
      </div>
    </div>
    <ul class="scale__dropdown__list">
      <li class="scale__option__big__item" :class="{'scale__option__right__item--active': isActiveScale(chromatic.root, chromatic.name)}"  @click="setActiveScale({scale: chromatic})">
        <div class="scale__name">
          {{ chromatic.name }}
        </div>
        <div class="scale__info">
          <span class="scale__notes">
            [<span v-for="note in chromatic.notes" class="scale__note">{{ tones[note + 0].note}}</span>]
          </span>
          <span class="scale__notes">
            [<span v-for="note in chromatic.notes" class="scale__note">{{note}}</span>]
          </span>
        </div>
      </li>
      <li class="scale__option__rest">
        <ul class="scale__option__left">
          <li class="scale__option__left__item" :class="{'scale__option__left__item--active': isActiveRoot(index), 'scale__option__left__item--open': isOpenRoot(index)}" v-for="(allScales, index) in rootSpecific" @click="setCurrentRoot(index)">{{ index }}</li>
        </ul>
        <div class="scale__option__right">

          <div class="scale__option__right__inner">
            <ul class="scale__option__right__list">
              
                <li class="scale__option__right__item" :class="{'scale__option__right__item--active': isActiveScale(scale.root, scale.name)}" v-for="scale in rootScales" @click="setActiveScale({scale: scale})">
                  <div class="scale__name">
                    {{ scale.root }}
                    {{ scale.name }}
                  </div>
                  <div class="scale__info">
                    <span class="scale__notes">
                      [<span v-for="note in scale.notes" class="scale__note">{{ tones[note + scale.rootIndex].note}}</span>]
                    </span>
                    <span class="scale__notes">
                      [<span v-for="note in scale.notes" class="scale__note">{{note}}</span>]
                    </span>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <div class="bottom__buttons">
      <div class="btn" @click="toggleDropdownEmit">Back</div>
    </div>
  </div>
  </pop-up>
  </transition>
</template>

<script>
  import PopUp from './PopUp'
  export default {
    name: 'ScaleDropdownMain',
    components: {
      PopUp
    },
    computed: {
      octave () {
        return this.$store.state.library.octave
      },
      chromatic () {
        return this.$store.state.library.scales.all
      },
      rootSpecific () {
        return this.$store.state.library.scales.rootSpecific
      },
      rootScales () {
        return this.$store.state.library.scales.rootSpecific[this.currentSelected.root]
      },
      selectedScale () {
        return this.$store.state.gameObjects.find(el => el.id === this.$store.state.route.params.game).currentSetup.scale || { }
      },
      tones () {
        return this.$store.state.library.tones
      }
    },
    methods: {
      setCurrentRoot (newRoot) {
        this.currentSelected.root = newRoot
      },
      isActiveRoot (root) {
        return this.selectedScale.root === root
      },
      isOpenRoot (root) {
        return this.currentSelected.root === root
      },
      isActiveScale (root, name) {
        return this.selectedScale.root === root && this.selectedScale.name === name
      },
      toggleDropdownEmit () {
        this.$emit('toggleDropdown')
      },
      setActiveScale (scale) {
        //this.toggleDropdown()
        this.$store.commit('UPDATE_CURRENT_SETUP', scale)
      }
    },
    data () {
      return {
        currentSelected: {
          root: 'G',
          scale: 'major'
        }
      }
    },
    props: [
      'dropdownOpen'
    ],
    watch: {
      selectedScale (newScale) {
        this.currentSelected = { root: newScale.root || 'C' }
      }
    }
  }
</script>
