<template>
  <div class="scale__select__wrapper">
    <div class="scale__select">
      <div class="scale__active titled" @click="toggleDropdown">
        <div class="label">
          scale
        </div>
        <div class="title title--overflow">
          {{ selectedScale.root }} {{ selectedScale.name }}
        </div>
        <div class="icon icon--dropdown__trigger">
          
        </div>
      </div>
    </div>
    <scale-dropdown-main v-on:toggleDropdown="toggleDropdown" :dropdownOpen="dropdownOpen"></scale-dropdown-main>
  </div>
</template>

<script>
  import ScaleDropdownMain from './ScaleDropdownMain'
  export default {
    name: 'ScaleDropdown',
    components: {
      ScaleDropdownMain
    },
    computed: {
      octave () {
        return this.$store.state.library.octave
      },
      chromatic () {
        return this.$store.state.library.scales.all
      },
      rootSpecific () {
        return this.$store.state.library.scales.rootSpecific
      },
      rootScales () {
        return this.$store.state.library.scales.rootSpecific[this.currentSelected.root]
      },
      selectedScale () {
        return this.$store.state.gameObjects.find(el => el.id === this.$store.state.route.params.game).currentSetup.scale || { }
      },
      tones () {
        return this.$store.state.library.tones
      }
    },
    methods: {
      setCurrentRoot (newRoot) {
        this.currentSelected.root = newRoot
      },
      isActiveRoot (root) {
        return this.selectedScale.root === root
      },
      isOpenRoot (root) {
        return this.currentSelected.root === root
      },
      isActiveScale (root, name) {
        return this.selectedScale.root === root && this.selectedScale.name === name
      },
      toggleDropdown () {
        this.dropdownOpen = !this.dropdownOpen
      },
      setActiveScale (scale) {
        //this.toggleDropdown()
        this.$store.commit('UPDATE_CURRENT_SETUP', scale)
      }
    },
    data () {
      return {
        currentSelected: {

        },
        defaultSelected: {
          root: 'G',
          scale: 'major'
        },
        dropdownOpen: false
      }
    },
    mounted () {
      this.currentSelected = Object.assign({}, this.defaultSelected)
    }
  }
</script>