.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  -moz-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.slide-down-both{
  &-enter-active {
    animation: slide-in $t-std $t-std both;
      animation-timing-function: ease-in;
  }
  &-leave-active {
    animation: slide-out $t-std both;
    animation-timing-function: ease-out;

  }
}


.slide-popup{

  &-enter-active {
    transition: opacity $t-std;
    .bg{
      animation: fade-in $t-std both;
    }
    .popup__fill{
      animation: slide-in $t-std both;
    }
    .game__settings__title{

      //animation: slide-in-up 0.5s 0.1s both;
      //animation-direction: reverse;
    }
  }

  &-leave-active {

    transition: opacity $t-std;
    .bg{
      animation: fade-out $t-std both;
    }
    .popup__fill{
      animation: slide-out $t-std both;
    }
    .game__settings__title{

      //animation: slide-out-up 0.5s both;
      //animation-direction: reverse;
    }
  }
}

.slide-down{
  &-enter-active {
    animation: slide-in $t-std;
    .game__settings__title{

      //animation: slide-in-up 0.5s 0.2s both;
      //animation-direction: reverse;
    }
  }
  &-leave-active {
    animation: slide-out $t-std;
    .game__settings__title{
      //animation: slide-out-up 0.5s both;
      //animation-direction: reverse;
    }

  }
}

.slide-up{
  transform: $t-std transform;
  will-change: transform;
  &-enter-active {
    animation: slide-in-up $t-std;
  }
  &-leave-active {
    animation: slide-out-up $t-std;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .6s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

.fade-special-enter-active {
  transition: opacity .6s;
}
.fade-special-enter{
  opacity: 0;
}
.fade-special-leave-to, .fade-special-leave-active{
  display: none;
}

.fade-in-enter-active {
  transition: opacity .6s;
}
 
.fade-leave-active {
  transition: 0 opacity;
  display: none;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -moz-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
  -moz-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

.slide-to-top{

}
.slide-from-top{

}
.slide-to-bottom{

}
.slide-from-bottom{

}

.shadow-drop-2-tb {
  -webkit-animation: shadow-drop-2-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -moz-animation: shadow-drop-2-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-2-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom,.slide-enter-active {
  -webkit-animation: slide-in-bottom 0.5s;
  -moz-animation: slide-in-bottom 0.5s;
  animation: slide-in-bottom 0.5s;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s;
  -moz-animation: slide-in-top 0.5s;
  animation: slide-in-top 0.5s;
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.5s;
  -moz-animation: slide-out-top 0.5s;
  animation: slide-out-top 0.5s;
}

.bounce-in-fwd {
  -webkit-animation: bounce-in-fwd 1.1s both;
  -moz-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -moz-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -moz-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  -moz-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.slide-out-bottom, .slide-leave-active {
  -webkit-animation: slide-out-bottom 0.5s;
  -moz-animation: slide-out-bottom 0.5s;
  animation: slide-out-bottom 0.5s;
}

.fade-out-bck {
  -webkit-animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -moz-animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-out-bottom {
  -webkit-animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -moz-animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.puff-out-center {
  -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  -moz-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}/* ----------------------------------------------
 * Generated by Animista on 2017-4-1 7:10:43
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@keyframes fade-in{0%{opacity:0;}100%{opacity:1;}}

@keyframes slide-in{0%{transform:translate3d(0,100%,0)}100%{transform:translate3d(0,0%,0)}}
@keyframes slide-out{0%{transform:translate3d(0,0%,0)}100%{transform:translate3d(0,100%,0)}}


@keyframes slide-left-in{0%{transform:translate3d(-100%,0,0)}100%{transform:translate3d(0,0%,0)}}
@keyframes slide-left-out{0%{transform:translate3d(0,0%,0)}100%{transform:translate3d(-100%,0,0)}}

@keyframes slide-in-up{0%{transform:translate3d(0,-100%,0)}100%{transform:translate3d(0,0%,0)}}
@keyframes slide-out-up{0%{transform:translate3d(0,0%,0)}100%{transform:translate3d(0,-100%,0)}}

@keyframes slide-in-out-up{
  0%{transform:translate3d(0,-100%,0)}
  100%{transform:translate3d(0,100%,0)}
}


@keyframes slide-out-up-bounce{0%{transform:translate3d(0,0%,0)}40%{transform:translate3d(0,-115%,0)}86.5%{transform:translate3d(0,-95%,0)}100%{transform:translate3d(0,-100%,0)}}


@keyframes slide-in-bottom{0%{transform:translateY(1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
@keyframes slide-out-bottom{0%{transform:translateY(0);opacity:1}100%{transform:translateY(1000px);opacity:0}}
@keyframes fade-in-bottom{0%{transform:translateY(50px);opacity:0}100%{transform:translateY(0);opacity:1}}
@keyframes fade-in-fwd{0%{transform:translateZ(-80px);opacity:0}100%{transform:translateZ(0);opacity:1}}
@keyframes puff-out-center{0%{transform:scale(1);filter:blur(0);opacity:1}100%{transform:scale(2);filter:blur(2px);opacity:0}}
@keyframes puff-in-center{0%{transform:scale(2);filter:blur(2px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}
@keyframes fade-out-bottom{0%{transform:translateY(0);opacity:1}100%{transform:translateY(50px);opacity:0}}
@keyframes fade-out-bck{0%{transform:translateZ(0);opacity:1}100%{transform:translateZ(-80px);opacity:0}}
@keyframes bounce-in-fwd{0%{transform:scale(0);animation-timing-function:ease-in;opacity:0}38%{transform:scale(1);animation-timing-function:ease-out;opacity:1}55%{transform:scale(.7);animation-timing-function:ease-in}72%{transform:scale(1);animation-timing-function:ease-out}81%{transform:scale(.84);animation-timing-function:ease-in}89%{transform:scale(1);animation-timing-function:ease-out}95%{transform:scale(.95);animation-timing-function:ease-in}100%{transform:scale(1);animation-timing-function:ease-out}}
@keyframes shadow-drop-2-tb{0%{transform:translateZ(0);box-shadow:0 0 0 0 transparent,0 0 0 0 transparent}100%{transform:translateZ(50px);box-shadow:0 -12px 20px -12px rgba(0,0,0,.35),0 12px 20px -12px rgba(0,0,0,.35)}}
@keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
@keyframes slide-out-top{0%{transform:translateY(0);opacity:1}100%{transform:translateY(-1000px);opacity:0}}
@keyframes fade-in-bck{0%{transform:translateZ(80px);opacity:0}100%{transform:translateZ(0);opacity:1}}@keyframes fade-in-bl{0%{transform:translateX(-50px) translateY(50px);opacity:0}100%{transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{transform:translateY(50px);opacity:0}100%{transform:translateY(0);opacity:1}}@keyframes fade-in-br{0%{transform:translateX(50px) translateY(50px);opacity:0}100%{transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-fwd{0%{transform:translateZ(-80px);opacity:0}100%{transform:translateZ(0);opacity:1}}@keyframes fade-in-left{0%{transform:translateX(-50px);opacity:0}100%{transform:translateX(0);opacity:1}}@keyframes fade-in-right{0%{transform:translateX(50px);opacity:0}100%{transform:translateX(0);opacity:1}}@keyframes fade-in-tl{0%{transform:translateX(-50px) translateY(-50px);opacity:0}100%{transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in-top{0%{transform:translateY(-50px);opacity:0}100%{transform:translateY(0);opacity:1}}@keyframes fade-in-tr{0%{transform:translateX(50px) translateY(-50px);opacity:0}100%{transform:translateX(0) translateY(0);opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@keyframes fade-out-left{0%{transform:translateX(0);opacity:1}100%{transform:translateX(-50px);opacity:0}}@keyframes fade-out-bl{0%{transform:translateX(0) translateY(0);opacity:1}100%{transform:translateX(-50px) translateY(50px);opacity:0}}@keyframes fade-out-tl{0%{transform:translateX(0) translateY(0);opacity:1}100%{transform:translateX(-50px) translateY(-50px);opacity:0}}@keyframes fade-out-bottom{0%{transform:translateY(0);opacity:1}100%{transform:translateY(50px);opacity:0}}@keyframes fade-out-br{0%{transform:translateX(0) translateY(0);opacity:1}100%{transform:translateX(50px) translateY(50px);opacity:0}}@keyframes fade-out-right{0%{transform:translateX(0);opacity:1}100%{transform:translateX(50px);opacity:0}}@keyframes fade-out-tr{0%{transform:translateX(0) translateY(0);opacity:1}100%{transform:translateX(50px) translateY(-50px);opacity:0}}@keyframes fade-out-top{0%{transform:translateY(0);opacity:1}100%{transform:translateY(-50px);opacity:0}}@keyframes fade-out-fwd{0%{transform:translateZ(0);opacity:1}100%{transform:translateZ(80px);opacity:0}}@keyframes fade-out-bck{0%{transform:translateZ(0);opacity:1}100%{transform:translateZ(-80px);opacity:0}}@keyframes fade-out{0%{opacity:1}100%{opacity:0}}
@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}



@keyframes jello-horizontal-big{
  0%{
    transform:scale3d(1,1,1)}
  20%{transform:scale3d(0.7,0.7,1)}
  90%{transform:scale3d(1.15,1.15,1)}
  100%{transform:scale3d(1,1,1)}
}

@keyframes jello-horizontal-less{
  0%{
    transform:scale3d(1,1,1)}
  20%{transform:scale3d(0.95,0.95,1)}
  90%{transform:scale3d(1.015,1.015,1)}
  100%{transform:scale3d(1,1,1)}
}


@keyframes jello-horizontal-least{
  0%{
    transform:scale3d(1,1,1)}
  20%{transform:scale3d(0.97,0.97,1)}
  90%{transform:scale3d(1.007,1.007,1)}
  100%{transform:scale3d(1,1,1)}
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}