
/*
.list-enter-active {
  @extend .fade-in-fwd;
}
.list-leave-active {
  @extend .fade-out-bck;
}
*/
.achievements__expanded{
  margin-top: -1rem;
  padding-bottom: $chordListFadeBottom;

  padding-top: 2.6rem;
  pointer-events: none;
  .title{
    white-space: normal;
  }
}
.chord__selector{
  position: absolute;
  left: $w-scale-selector;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  will-change: opacity;
  backface-visibility: hidden;
  animation: fade-in $d-chord-selector;
  &__inner{
    @include fill;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    backface-visibility: hidden;
  }
  &:after/*,&:before*/{
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    top: 0;
    height: 100%;
    right: 0;
    background:linear-gradient(90deg,rgba($c-beige,0), rgba($c-beige,1) 90%, rgba($c-beige,1));
    pointer-events: none;
    z-index: 100;
  }
  /*
  &:before{
    right: auto;
    left: 0;
    width: 3rem;
    background:linear-gradient(-90deg,rgba($c-beige,0), rgba($c-beige,1) 90%, rgba($c-beige,1));
  }
  */
  &__pie{
    position: absolute;
    @include fill;
    z-index: 0;
  }
  &__list{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    will-change: transform;

  }
  &__item{
    &:before{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      background:linear-gradient(0deg,rgba($c-pink-emulated,0), rgba($c-pink-emulated,1) 90%, rgba($c-pink-emulated,1));
      z-index: 1000;
    }
    width: 25em;
    padding-right: 2em;
    padding-left: 2em;
    backface-visibility: hidden;
    &__type{
      height: $h-chord-selector-top;
      position: absolute;
      left: 2em;
      right: 0;
      overflow: visible;
      background:$c-beige;
      z-index: 100;
      padding-bottom: 0;
      backface-visibility: hidden;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1rem;
        bottom: 1px;
        left: 0;
        transform: translateY(100%);
        background:linear-gradient(rgba($c-beige,1), rgba($c-beige,0) 90%);
        pointer-events: none;
        z-index: -1;
      }
    }

    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: $chordListFadeBottom;
      bottom: -0.4em;
      background:linear-gradient(rgba($c-beige,0), rgba($c-beige,1) 90%, rgba($c-beige,1));
      pointer-events: none;
      z-index: 100;
    }
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
  }
  &__interval{
    font-size: $fz-mid;
    pointer-events: none;
    &--info{
      font-size: $fz-mid;
    }
  }
  &__achievements{

  }
  &__interval__wrapper.titled{
    padding-top: 0.8rem;
  }
  &__interval__list{
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  &__circle__list{
    &__wrapper{
      width: 100%;
      padding-top: $h-chord-selector-top;
      //padding-right: 2em;
      height: calc(100% - #{$h-chord-selector-top});
      overflow: auto;
      backface-visibility: hidden;
    }
    padding-top: 2em;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    backface-visibility: hidden;
    will-change: transform;
    &__inner{
      //@include fill;
      max-width: 100%;
      overflow: hidden;
      backface-visibility: hidden;
      will-change: transform;
      &__text{
        padding-top: 4rem;
        text-align: center;
        font-size: $fz-medium;
        color:$c-grey-mid;
        img{
          width: 4rem;
        }
        &:last-of-type{
          padding-top: 0.45rem;
        }
        p{
          font-size: $fz-std;
          max-width: 12em;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

  }
  &__circle{
    &, *{
      //backface-visibility: hidden;
      overflow: visible;
    }
    border-radius: 50%;
    color: $c-white;
    @include square(6em)
    position: relative;
    margin-bottom: 0.5em;
    margin-right: 1rem;
    overflow: visible;
    box-sizing: padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    &:nth-of-type(3n){
      margin-right: 0;
    } 
    &__shade{
      display: block;
      border-radius: 50%;
      background:$c-black-transparent;
      @include fill;
       
    }
    &__anim{
      @include fill;
      backface-visibility: hidden;
      will-change: transform;
      transform: scale3d(1,1,1);
      transform-origin: center;
      z-index: 100;
    }

    .svg-pie{
      /*
      top: 0.15rem;
      left: 0.15rem;
      */
      @include square(6rem);
      @include center;
      //box-shadow: inset 0 0 0 1px $c-pink-emulated;
      border: 1px solid $c-pink-emulated;
      border-radius: 50%;
      overflow: hidden;
      background-color: $c-pink-emulated;
    }
    .svg-pie svg{
      background:$c-beige;
      box-shadow: inset 0 0 0 1px $c-pink-emulated;
      border-radius: 50%;
      @include square(100%);
      position: absolute;
    }
    .svg-pie circle{
      stroke: $c-pink-emulated;
    }

    &__inner{
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      @include square(6rem)
      @include center;
      border-radius: 50%;
      background:$c-grey-light;
      backface-visibility: hidden;
    }
    backface-visibility: hidden;
    &--active{
      .chord__selector__circle__anim{
        animation: jello-horizontal-less 0.3s normal none;
        transform-origin: center;
      }
      .svg-pie{

        background-color: $c-blue-light;
        border-color: $c-blue-light;
      }
      .svg-pie svg {
        box-shadow: inset 0 0 0 1px $c-blue-light;
      }
      .svg-pie circle{
        stroke: $c-blue-light;
      }
      .chord__selector__circle__level{
        box-shadow: inset 0 0 0 1px $c-blue-light;
      }
    }
    &--active .chord__selector__circle__inner{
      background:$c-pink-emulated;
    }
    &--active .chord__selector__circle__shade{
      opacity: 0 !important;
    }
    &__level{
      position: absolute;
      top: -0.2rem;
      right: -0.2rem;
      background:$c-beige;
      @include square(1.7rem);
      color: $c-black;
      border-radius: 50%;
      text-align: center;
      font-size: $fz-label;
      z-index: 300;
      box-shadow: inset 0 0 0 1px $c-pink-emulated;
      backface-visibility: hidden;
      &--figured{

        @include square(1.7rem);
        top: auto;
        right: auto;
        bottom: -0.2rem;
        left: 0.2rem;
        &-minor{
          text-transform: lowercase;
        }
      }
    }
    &__text{
      @include center;
      display: block;
      z-index: 200;
    }
  }
  @for $k from 1 through 3 {
      
    @for $i from 1 through 12 {
      &.chord__selector--anim .chord__selector__item:nth-of-type(#{$k}) .chord__selector__circle:nth-of-type(#{$i}) {
        animation: #{$d-chord-selector - 0.3s} #{($k - 1) * 0.35s + 0.1s * $i} fade-in-bck both;
      }

    }
  }
}