@mixin fretboard {
  $noteSelectorSize: 4rem;
  .fretboard__controls{
    display: flex;
    justify-content: space-between;
  }
  .fretboard__titled{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    &__inner{
      display: flex;
      justify-content: space-between;
    }
  }
  .note-selector{
    &__outer{
      position: relative;
      height: 19.5rem;
      width:100%;
    }

    animation: fade-in $d-chord-selector both;
    &:nth-of-type(2) {
      animation-delay: 0.2s;
    }
    /*
    &__wrapper{
      display: table;
    }
    display: table-cell;
    */
    margin-top: 0.5rem;
    &__slot,&__note{
      @include square($noteSelectorSize)
    }
    &__slot{
      background:$c-grey;
    }
    &__note{
      background:$c-black-transparent;
      &--used{
        background:$c-pink-emulated;
      }
    }
    &__list{
      margin-top: 0;
      margin-left: 0;
      padding-top: 0;
      padding-left: 0;
      @include fill;
      position: relative;
      min-height: 4*$noteSelectorSize;
      min-width: 100%;
      &__item{
        display: inline-block;
      }
      &--used{
        top:0;
        position: absolute;
      }
    }
    position: relative;
    &__inner{
      position: relative;
      margin: 1.5rem 1rem;
    }
    &:before{
      content: "";
      display: block;
      position: absolute;
      top:0.5rem;
      left: 0.5rem;
      width: calc(100% - 1rem);
      height: calc(100% - 1rem);
      border: 1px solid $c-grey;
    }
  }

  @for $i from 1 through 12 {
    .note-selector__list__item:nth-of-type(#{$i}) {
      animation: #{$d-chord-selector - 0.3s} #{0.1s * $i} fade-in-bck both;
    }

    .note-selector:nth-of-type(2) .note-selector__list__item:nth-of-type(#{$i}) {
      animation: #{$d-chord-selector - 0.3s} #{0.35s + 0.1s * $i} fade-in-bck both;
    }
  }
  .fretboard-container--fretboard{
    .string__try:not(.string__try--fail){
      background: $c-black;
    }
  }
  .note-selector__wrapper--instant {
    .note-selector:nth-of-type(n) .note-selector__list__item:nth-of-type(n) {
      animation-delay: 0s;
    }
  }
}