@import 'normalize.css';
@import "~chartist/dist/scss/chartist.scss";
@import 'font';
@import 'variables';
@import 'mixins';
@import 'icons';
@import 'animations';
@import 'arpeggiator';
@import 'fretboard';
@import 'settings';
@import 'helper-elements';
@import 'chord-selector';
@import 'scale-dropdown';
@import 'character-level';

@include helper-elements;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
::selection {
  //background: rgba(0,0,0,0);
}
html{
  height: 100%;
  overflow: hidden;
  font-size: calc(6px + 1.5vh);
  letter-spacing: 0.07em;
  font-family: 'abelregular', sans-serif;
  /*
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  //text-rendering: optimizeSpeed;
  
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  */
  
  background-image: url('../bg-alt.png') !important;
    background-size: cover;
    background-position: top left; 
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
}
#app {
  @include fill;
  overflow: hidden;
}
.app-bg, .app-bg-top{
  @include blurBg;
  transition: $t-std opacity;
  opacity: 0;
  z-index: 1000;
  pointer-events: none;

  &.blur-bg{
    opacity: 1;
  }
}
.app-bg-top{
  background-image: radial-gradient(circle at 32.22% 12.59%, #f5aeca, transparent 100%),radial-gradient(circle at 50% 50%, #85cff6, #85cff6 100%);
  z-index: 10000;
}

@media screen and (orientation:portrait) {
  .app-bg-top{
    opacity: 1;
  }
}
body {
  height: 100%;
}
.page{
  backface-visibility: hidden;
  @include fill;
  &__inner{
    @include fill;
    overflow: hidden;
    z-index: 200;
  }
  overflow: hidden;
  &--1{
    transition: $t-std opacity;
    z-index: 0;
    backface-visibility: hidden;
  }
  &--2{

    backface-visibility: hidden;
    will-change: transform;
    z-index: 2000;
    animation-fill-mode: both;
    //transform: translateY(-100%);
    &.main-anim-enter-active {

      animation: slide-in $t-std both;

      .game__settings__title{


        //animation: slide-in-up 0.5s 0.1s both;
        //animation-direction: reverse;
      }
    }
    &.main-anim-leave-active {
      animation: slide-out $t-std both;
      .game__settings__title{
        //animation: slide-out-up 0.5s both;
        //animation-direction: reverse;
      }

    }
    /*
    &.main-anim-enter-active {
      .game__modes{
        transition: 0.3s 0.1s all;
      }
    }
    &.main-anim-leave-active {
      .game__modes{
        transition: $t-quick;
      }
      
    }
    .game__modes{
        transform: translateX(0%)
    }
    &.main-anim-enter, &.main-anim-leave-to{

      .game__modes{
        transform: translateX(-100%)
      }
    }
    */
  }
}
.pause{
  text-align: left;
}
.titled{
  position: relative;
  padding: 0.1rem 0.3rem;
  h4{
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 400;
    text-transform: lowercase;
  }
  &--ib{
    display: inline-block;
    width: 32%;
  }
  
  &--fill{
    padding-left: 0;
    padding-right: 0; 
  }
  &--achievement-expand{
    margin-top: 1rem;
  }
  &--chord-achievements{
    position: absolute;
    right: 2rem;
    text-align: right;
    top: 0;
    .title{
      display: inline-block;
    }
    &__circle{
      position: absolute;
      left: -0.4rem;
      transform: translateX(-100%);
      top: 0;
    }
  }
}
.label{
  font-size: $fz-label;
  &--superclickable{
    padding: 3rem;
    margin: -3rem;
    z-index: 10;
    position: relative;
  }
  &--boxed{
    position: absolute;
    background:$c-beige;
    margin-left: 0.9rem;
    padding: 0 0.2rem;
    display: inline-block;
    z-index: 100;
  }
  &--achievement{
    color: $c-pink-intense;
    margin-top: 1rem;
  }
}
.title{
  font-size: $fz-medium;
  white-space: nowrap;
  position: relative;
  &--achievement{
    font-size: $fz-std;
    white-space: normal;
    //max-width: 20em;
    &--done{
      color: $c-grey-mid;
      text-decoration: line-through;
    }
  }
  &--overflow{
    max-width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &--success{
    color: $c-pink-intense;
  }
  &--fail{
    color: $c-blue-light;
  }
  &--medium{
    font-size: $fz-mid;
  }
  &--nomargin{
    margin-left: -0.1rem;
    white-space: normal;
  }
  &--primary{
    font-size: $fz-big;
    color: $c-pink-emulated;
  }
  &--inline{
    display: inline-block;
  }
}
a{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
.btn {
  text-decoration: none;
  color: $c-white;
  position: relative;
  z-index: 100;
  text-transform: lowercase;
  display: inline-block;
  width: 15rem;
  margin-bottom: 1rem;
  padding: 0.33rem 1.8rem 0.33rem;
  cursor: pointer;
  border-radius: 5rem;
  font-size: $fz-big;
  position: relative;
  pointer-events: initial;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  
  
  
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5rem;
    z-index: -100;
    background: none;
    
    box-shadow: 0 0 1.8rem -0.7rem $c-white;

  }
  &:focus,&:active,&:focus:active,&,&.active{
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  background: $c-pink $c-dark-gradient;
  &:focus,&:hover,&:active{
    animation: jello-horizontal-least 0.3s both;
  }
  &:focus:before {
    animation: opacityBounce 0.3s;
  }
  &--faded{
    background:$c-pink-faded;
  }
  &--secondary{
    background: $c-grey  $c-dark-gradient;
  }
  &--locked{

    background: $c-grey  $c-dark-gradient;
    &:after{
      content: "unlock";
      position: absolute;
      bottom: 0;
      right: 10%;
      transform: translateY(50%);
      text-transform: lowercase;
      background: rgba(33,33, 33, 0.8);
      font-size: $fz-label;
      padding: 0.1em 2em 0em;
      border-radius: 1.5em;
      letter-spacing: 0.1px;
    }
  }
  &:visited {
    color: $c-white;
  }
}

.main-menu{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10vw;
  z-index: 1000;
  &__item{
    display: block;
  }
}
.confirm-controls{
  .btn {
    text-align: center;
  }

  position: absolute;
  bottom: 0;
}
.pause .game__settings__title{
  text-align: left;
}
.game__settings{
  @include fill;
  backface-visibility: hidden;
  &__header{
    margin: 0.55em 0 0.7em;
    text-align: center;
  }
  &__main{
    @include gameSettings;
    position: absolute;
    backface-visibility: hidden;
  }
  &__title{
    transform: translateY(0%);
    margin: 0;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    color: $c-beige;
    line-height: 0.8;
    font-size: $fz-huge;
    width: 100%;
    will-change: transform;
    animation: slide-out-up-bounce 0.4s #{$t-std - 0.15s}  both;
    backface-visibility: hidden;
    pointer-events: none;
    &__right{
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: $fz-big;
      text-align: right;
    }
  }
}
.game__setup{
  @include fill;
  overflow: hidden;
  backface-visibility: hidden;
  &__edge{
    position: absolute;
    height: 100%;
    width: $w-scale-selector;
    background:$c-beige;
    overflow: visible;

    &:before{
      position: absolute;
      right: 0;
      top: 0;
      bottom: $h-bottom;
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      z-index: 500;
      background:linear-gradient(0deg,rgba($c-pink-emulated,0), rgba($c-pink-emulated,1) 90%, rgba($c-pink-emulated,1));
    }
  }
  ul{

  list-style: none;
  }
}

.game__modes{
  display: block;
  margin: 0;
  padding-left: 0;
  position: fixed;
  left: 0;
  top: $settingsTop;
  backface-visibility: hidden;


  &__item{
    display: block;
    background:$c-beige;
    width: 7.8vw;
    padding-bottom: 62%;
    margin-bottom: 0.1em;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110% auto;
    animation-name: slide-left-in;
    animation-duration: $t-std;
    animation-fill-mode: both;
    will-change: transform;
    backface-visibility: hidden;
    &.router-link-active{

      filter: grayscale(0);
    }
  }

}
.settings-link{
  position: absolute;
  bottom: 5vh;
  left: 5vh;

  
}
.circle-link{
  width: 2.9rem;
  height: 2.9rem;
  text-indent: -9999px;
  display: inline-block;
  overflow: hidden;
  border: 2px solid $c-white;
  border-radius: 50%;

  svg {
    width: 2.3rem;
    height: 2.3rem;
    @include center;
    fill: $c-white;
  }

  &--pause{
    position: absolute;
    top: $h-game-top;
    right: 5vh;
    z-index: 1000;
  }
}
.pause__inner{
  display: inline-block;
  height: 46%;
  width: 8%;
  border-left: 0.7vw solid $c-white;
  border-right: 0.7vw solid $c-white;
  box-sizing: content-box;
  @include center;

}
@for $i from 1 through 3 {
  .game__modes__item:nth-of-type(#{$i}) {
    animation-delay: #{0.7s + (0.1s * $i)};
  }
}
@keyframes fallInPlace {
  0% {
    background-position: 0 0%;
  }
  67% {
    background-position: 0 107%;
  }
  88% {
    background-position:0 95%;
  }
  100% {
    background-position:0 98%;
  }
}
@keyframes opacityBounce {
  0% {
    opacity: 0
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.logo {
  text-transform: uppercase;
  position: absolute;
  right: 3vw;
  font-size: $fz-biggest;
  &__dark {
    color: rgba(8, 94, 169, 0.44);
    mix-blend-mode: multiply;
  }
  &__light {
    opacity: 0.6;
    color: $c-white;
  }
  &__subheader{
    position: absolute;
    right: 0.15em;
    bottom: -0.5em;
    
    white-space: nowrap;
    font-size: $fz-mid;
    line-height: 1;
    color: $c-grey;
    text-transform: none;
  }
}

.game__blur{
  @include fill;
  @include blurBg;
  opacity: 0;
  pointer-events: none;
  &--visible{
    opacity: 1;
  }
  transition: 1s opacity;
  pointer-events: none;
  z-index: 3000;

}
.note{
  margin-top: 0.15rem;
  font-size: 1.2rem;
  @include square(2.3em);
  display: inline-block;
  background:$c-pink-emulated;
  color: $c-white;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin-right: 0.3rem;
  
  border: 2px solid $c-clear;
  &.border{
    box-shadow: inset 0 0 0 1px $c-beige;
  }
  &--root{
    //box-shadow: inset 0 0 0 1px $c-grey;
    background:$c-black-transparent;
  }

  &__text{
    @include center;
    top: 50%;
  }
}

.chord__expanded{
  position: absolute;
  top: 2.9rem;
  bottom: 0;
  width: $w-scale-selector;
  overflow: auto;
  backface-visibility: hidden;
  &__list{
    margin-top: 0.5rem;
    padding-left: 0;
  }
  &__item{
    display: table;
    width: 8rem;
    padding-bottom: 0.4rem;
  }
  &__note, &__interval{
    display: table-cell;
    vertical-align: middle;
  }
  &__interval{
  }
  .titled:first-of-type{
    padding-top: 0.2rem;
  }
  .titled:last-of-type{
    padding-bottom: $h-bottom;
  }
}
.game__play{
  @include fill;
  backface-visibility: hidden;
}
.pause{
  z-index: 5000;
  position: absolute;
  @include gamePause;
  &__container{
    max-width: 39rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    backface-visibility: hidden;
  }
  &__main{
    text-align: justify;
    .pause__content{
      //max-width: 22rem;
      margin-left: auto;
      margin-right: auto;
    }
    .titled:not(.titled--keeppadding){
      padding-left: 0;
      padding-right: 0;
    }
    @include fill;
    backface-visibility: hidden;
    //bottom: $h-bottom;
    padding-bottom: $h-bottom;
    overflow: auto;
    font-size: $fz-mid;
  }
}
.bottom__buttons{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: $h-bottom;
  box-sizing: border-box;
  padding-top: 1.5rem;
  background:$c-beige;
  background:linear-gradient(rgba($c-beige,0.5), rgba($c-beige,1) 90%, rgba($c-beige,1));
  pointer-events: none;
  &:before{
    content: "";
    pointer-events: none;
    height: 2rem;
    transform: translateY(-100%);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(rgba($c-beige,0),rgba($c-beige,0.5));

  }
}

.container{
  display: flex;
}
.half{
  width: 50%;
}

@include arpeggiator;
@include fretboard;
@include settings;

$borderAlpha:0.65;
.border-Root{
  border-color: rgba(#333,$borderAlpha);
}
.border-Perfect{
  border-color: rgba($c-grey,$borderAlpha);
}
.border-Major{
  border-color: rgba($c-pink-full,$borderAlpha);
}
.border-Minor{
  border-color: rgba($c-blue-light,$borderAlpha);
}
.border-Diminished{
  border-color: rgba($c-green-light,$borderAlpha);
}
.background-Root {
  background:$c-black-transparent;
}
.color-Root {
  color: $c-black;
}
.background-Perfect {
  background:$c-grey;
}
.color-Perfect {
  color: $c-grey-mid;
}
.background-Major {
  background: $c-pink-emulated;
}
.color-Major {
  color: $c-pink-emulated;
}
.background-Minor {
  background: $c-blue-light;
}
.color-Minor {
  color: $c-blue-light;
}
.background-Diminished {
  background: $c-green-light;
}
.color-Diminished {
  color: $c-green-light;
}