@mixin arpeggiator {

  .game{
    color: $c-white;
    font-size: 1.5rem;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    @include fill;
    
    background-image: url('../bg.png');
    background-size: cover;
    background-position: top left; 
    &:after{
      @include blurBg;
      pointer-events: none;
    }
    &--blur{


      &:after{
        opacity: 1;
        pointer-events: normal;
      }
    }
  }

  .game__label{
    color: $c-black;
    font-size: 2rem;
  }

  .game__status{
    top: $h-game-top;
    position: absolute;
    left: 5vh;
    right: 5vh;
  }
  .game__stats{
    margin-top: 0.83*2.8rem;
    text-align: center;
    .titled{
      text-align: center;
    }
  }
  .time{
    position: absolute;
    top: -0.3vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    opacity: 1;
    line-height: 1;
    will-change: opacity;
    backface-visibility: hidden;
    &>*{
      line-height: 1;
      max-height: 100%;
    }
    &--end{
      animation: blink 0.4s infinite;
    }
  }
  .seconds-unit{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
  }
  @keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  .level{
    //margin-bottom: 4rem;
  }

  $arpeggiatorControlsTop: 23vh;
  .search{
    position: absolute;
    top: $arpeggiatorControlsTop;
    &__string{
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      color: $c-pink-intense;
      line-height: 1;
      font-weight: 500;
      font-size: 1.8rem;
    }
    &__note{
      &__list__item{
        display: inline-block;
        text-align: center;
        width: 5.4rem;
        height: 4.2rem;
        &:first-of-type{
          margin-left: 0;
        }
      }
      &__list{
        padding-top: 0.3rem;
        margin-left: -0.7rem;
      }
    }
  }
  .score{
    position: absolute;
    top: $arpeggiatorControlsTop;
    right: 0;
    &__current{
      font-size: 4rem;
      line-height: 1;
      color: $c-pink-intense;
    }
    &__added{
      font-size: 2.5rem;
      line-height: 1;
      text-align: right;
    }
  }

  .note--fretboard{
    @include square(4.2rem);
    background: rgba($c-black,0.8);
    border-width: 2px;
    font-size: 2.3rem;
    transform-origin: center center;
    transform: scale(0.7);
   
    vertical-align: middle;
    color: rgba($c-beige,0.9);
    transition: 0s transform;
    text-shadow: 0 0 3px 2px black;
  }
  .note--arpeggiator{
    /*
    @include square(2.8rem);
    font-size: 1.45rem;
    */
   
    backface-visibility: hidden;
    @include square(4.2rem);
    border-width: 2px;
    font-size: 2.3rem;
    transform-origin: center center;
    transform: scale(0.7);
   
    vertical-align: middle;
    color: rgba($c-beige,0.9);
    transition: 0s transform;
    text-shadow: 0 0 3px 2px black;
    will-change: transform;
    //border-width: 3px;
    //background:$c-grey;
    //background:rgba($c-beige,1);
    //box-shadow: 0 0 2rem 0.2rem rgba($c-beige, 0.7)/*, inset 0 0 4rem 0rem rgba($c-beige, 0.7)*/;
  
    &.border-Root{

    }
    &__fade{
      background:#333;
      @include fill;
      transform: translateY(-100%);
    }
    &--current{
      transform: scale(1);
      /*
      @include square(4.2rem);
      border-width: 3px;
      font-size: 2.3rem;
      */
      transition: 0.3s transform;
      //background:$c-pink;
      .note--arpeggiator__fade{
        display: none;
      }
    }
    &--current:first-of-type{
      //background:$c-black-transparent;
    }
    &:first-of-type{
      margin-left: -0.5rem;
    }
  }
  
$borderAlpha:0.8;
$ringShadow: 0 0 0rem 0;
$ringShadowInset: 0 0 0rem 4rem;
$beigeShadow: 0 0 2.5rem -0.5rem;
$shadowNeutral: $c-pink-full;
.border-special-Root{
  .note--arpeggiator__fade{
    background:$c-grey-full;
  }
  border-color: rgba($c-black,$borderAlpha);
  box-shadow: $ringShadow rgba(#333,$borderAlpha), inset $ringShadowInset rgba(#333,$borderAlpha),$beigeShadow rgba($shadowNeutral,1);
}
.border-special-Perfect{
  border-color: rgba($c-grey,$borderAlpha);
  box-shadow: $ringShadow rgba($c-grey,$borderAlpha), inset $ringShadowInset rgba($c-grey,$borderAlpha),$beigeShadow rgba($shadowNeutral,1);
}
.border-special-Major{
  border-color: rgba($c-pink-full,$borderAlpha);
  box-shadow: $ringShadow rgba($c-pink-full,$borderAlpha), inset $ringShadowInset rgba($c-pink-full,$borderAlpha),$beigeShadow rgba($shadowNeutral,1);
}
.border-special-Minor{
  border-color: rgba($c-blue-light,$borderAlpha);
  box-shadow: $ringShadow rgba($c-blue-light,$borderAlpha), inset $ringShadowInset rgba($c-blue-light,$borderAlpha),$beigeShadow rgba($shadowNeutral,1);
}
.border-special-Diminished{
  border-color: rgba($c-green-light,$borderAlpha);
  box-shadow: $ringShadow rgba($c-green-light,$borderAlpha), inset $ringShadowInset rgba($c-green-light,$borderAlpha),$beigeShadow rgba($shadowNeutral,1);
}

$borderAlphaFull:0.92;
.border-special-full-Root{
  .note--arpeggiator__fade{
    background:$c-grey-full;
  }
  border-color: rgba($c-black,$borderAlphaFull);
  box-shadow: $ringShadow rgba(#333,$borderAlphaFull), inset $ringShadowInset rgba(#333,$borderAlphaFull),$beigeShadow rgba($c-beige,1);
}
.border-special-full-Perfect{
  border-color: rgba($c-grey,$borderAlphaFull);
  box-shadow: $ringShadow rgba($c-grey,$borderAlphaFull), inset $ringShadowInset rgba($c-grey,$borderAlphaFull),$beigeShadow rgba($c-beige,1);
}
.border-special-full-Major{
  border-color: rgba($c-pink-full,$borderAlphaFull);
  box-shadow: $ringShadow rgba($c-pink-full,$borderAlphaFull), inset $ringShadowInset rgba($c-pink-full,$borderAlphaFull),$beigeShadow rgba($c-beige,1);
}
.border-special-full-Minor{
  border-color: rgba($c-blue-light,$borderAlphaFull);
  box-shadow: $ringShadow rgba($c-blue-light,$borderAlphaFull), inset $ringShadowInset rgba($c-blue-light,$borderAlphaFull),$beigeShadow rgba($c-beige,1);
}
.border-special-full-Diminished{
  border-color: rgba($c-green-light,$borderAlphaFull);
  box-shadow: $ringShadow rgba($c-green-light,$borderAlphaFull), inset $ringShadowInset rgba($c-green-light,$borderAlphaFull),$beigeShadow rgba($c-beige,1);
}

$chordStatusHeight: 56vh;
$chordStatusWidth: 14rem;
.chord-status{
  position: absolute;
  bottom: 44vh;
  bottom: calc(13.5vw + 3.838em);
  height: $chordStatusHeight;
  height: calc(100vh - 13.5vw - 3.838em);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: $chordStatusWidth;
  z-index: 3500;
  backface-visibility: hidden;
  pointer-events: none;
  &__intro{

    display: block;
    margin: 0.2rem;
    padding-left: 0;
    width: $chordStatusWidth;
    position: absolute;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    //-webkit-mask-image: -webkit-gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    //-webkit-mask-image: linear-gradient( 0deg, rgba(0,0,0,1), rgba(0,0,0,1) 40%,  rgba(0,0,0,0) 75%, rgba(0,0,0,0) );

    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    p{
      width: $chordStatusWidth;
      position: relative;
      left: 0;
      //white-space: nowrap;
      padding: 0.3rem 1rem;
      border: 2px solid $c-white;
      margin: 0 0 1rem;
      background: rgba($c-white, 0.2);
      //box-shadow: 0 0 18px 0px $c-white;
      text-shadow: 0 0 5px rgba($c-pink-intense, 0.3);
      animation: fade-in 1s both;
      will-change: opacity;
    }
    &--gone{
      p{
        
        animation: fade-out-bck 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation-iteration-count: 1;
      }
    }
  }
  &__indicator{

    position: absolute;
    bottom: 0.2rem;
    transform: translate(-50%, 100%);
    left: 50%;
    position: absolute;
    height: 1px;
    background:$c-white;
    width: 150%;
    max-width: 150%;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
  }
  &__name{
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 100%);
    left: 50%;
    white-space: nowrap;
    &:after{
      /*
      content: "";
      position: absolute;
      top: -0.2rem;
      height: 2px;
      background:$c-white;
      width: 150%;
      left: 50%;
      transform: translateX(-50%);
      */
    }
  }
  &__intervals{
    display: block;
    margin: 0.2rem;
    padding-left: 0;
    width: $chordStatusWidth;
    position: absolute;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    //-webkit-mask-image: -webkit-gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    //-webkit-mask-image: linear-gradient( 0deg, rgba(0,0,0,1), rgba(0,0,0,1) 40%,  rgba(0,0,0,0) 75%, rgba(0,0,0,0) );
    will-change: contents;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);

    &__item{
      display: none;
      padding: 0.3rem 1rem;
      border: 2px solid $c-white;
      width: $chordStatusWidth;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 100%);
      bottom: 0;
      box-sizing: border-box;
      animation: slideChordStatus 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation-iteration-count: 1;
      background: rgba($c-white, 0.2);
      text-shadow: 0 0 5px rgba($c-pink-intense, 0.3);
      will-change: transform, opacity, display;
      backface-visibility: hidden;
      //box-shadow: 0 0 18px 0px $c-white;

    }
  }

  @for $i from 1 through 8 {
    .chord-status__intervals__item:nth-last-of-type(#{$i - 1}) {
      display: block;
    }
  }
  @keyframes slideChordStatus {
    0% {
      transform: translate(-50%, 100%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(-50%, #{-1 * $chordStatusHeight - 15vh});
    }
  }
  /*
  @keyframes slideChordStatus {
    0% {
      transform: translate(-50%, 100%);
    }
    100% {
      transform: translate(-50%, #{-1 * $chordStatusHeight });
    }
  }
  */
  &__score{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    font-size: $fz-medium;
    padding-top: 0.25rem;
  }
}









  $c-primary: $c-pink-intense;
  $c-faded: $c-grey;
  $c-bg: $c-beige;
  $c-text: $c-black;
  $inch: 100 / 14.75;
  $fretDistance: 1.431, 2.782, 4.057, 5.261, 6.397, 7.469, 8.481, 9.436, 10.338, 11.189, 11.992, 12.750, 13.466, 14.141, 14.816;
  $fretSize: 1.431, 1.351, 1.275, 1.203, 1.136, 1.072, 1.012, 0.955, 0.902, 0.851, 0.803, 0.758, 0.716, 0.675, 0.675;

  .fretboard-container {
    display: inline-block;
    position: relative;
      width: 100%;
      position: absolute;
      bottom: 0;
    //font-size: 24px;
  }

  .fret>a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .fretboard {
    margin: 2em 1em 2em;
    margin-left: 1.2em;
    position: relative;
    width: 100%;
    box-shadow: 0 0 3.5rem -0.05rem $c-pink-emulated;
    &--win{
      pointer-events: none;
      .string__try {

        &:not(.string__try--fail) {
          //@extend .bounce-in-fwd;
          //animation-duration: 0.3s;
          //
          animation: jello-horizontal-big 0.3s 0.2s both;
        }
        &--fail{
          //@extend .fade-in;
          //animation-duration: 0.3s;
        }
        //animation: jello-horizontal-big 0.3s 0.2s both;
      }

    }
  }
  .fret:nth-of-type(0) {
    font-size: 3.516em;
    position: absolute;
    left: -1em;
    top: 0;
    bottom: 0;
    width: .96em;
    background: #9a7000;
  }
  .fret:nth-of-type(1):hover {
    background: rgba(0,0,0,.35);
  }
  .fret:nth-of-type(1):after {
    content: "";
    position: absolute;
    right: 0;
    top: -.01em;
    bottom: -.01em;
    width: .08em;
    background: #e4ebd9;
  }
  .string{
    width: 100%;
    position: relative;
    backface-visibility: hidden;
  }
  $stringShadow: 0 2px rgba(0,0,0,0.3),;
  .string__line {
    height: .05em;
    min-height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 48%;
    //transform: translateY(-50%);
    box-shadow: $stringShadow;
    background: $c-bg;
    -webkit-transition: .2s box-shadow;
    will-change:box-shadow;
    backface-visibility: hidden;
  }
  .string.active .string__line {
    box-shadow:  $stringShadow, 0 1px $c-primary, 0 -1px $c-primary, $stringShadow, 0 2px $c-primary, 0 -2px $c-primary;
    z-index: 400;
  }
  .string__name {
    position: absolute;
    z-index: 1300;
    left: -1em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
  }
  .string.active .string__name {
    color: $c-primary;
  }
  $trySize: 1.9rem;
  .string__try{
    position: absolute;
    margin-top: -1/2 * $trySize;
    backface-visibility: hidden;
  //background: $c-faded;
  //background:$c-primary;
    color: $c-white;
    background: transparent;
    top: 52%;
    //border: 2px solid $c-bg;
    box-sizing: border-box;
    width: $trySize;
    height: $trySize;
    text-align: center;
    z-index: 500;
    border-radius: 50%;
    font-size: 1.3rem;
    backface-visibility: hidden;
    will-change: transform;
    &__container{
      will-change: contents;
      z-index: 400;
      transform: translate3d(0, 0, 0);
      @include fill;
    }
    &__success {
      //@extend .bounce-in-fwd;
      animation-duration: 0.3s;
      z-index: 1000;
      &:after{
        content: "";
        @include fill;
        display: block;
        border-radius: 50%;
        box-shadow: 0 0 5px -2px $c-black;
        opacity: 0;
      }
    }
    &--fail{
      @extend .fade-in;
      animation-duration: 0.3s;
      width: $trySize * 0.87;
      height: $trySize * 0.87;
      margin-top: -1/2 * $trySize * 0.87; 
      font-size: 1.1rem;
    }
    &--tutorial{
      background:rgba($c-beige,0.86);
      color: $c-grey-full;

      z-index: 400;
      font-size: 700;
      @extend .fade-in;
      animation-duration: 0.3s;
    }
  }
  .string__try--fail{
    background:rgba($c-beige,0.75);
    color: $c-grey-mid;
    animation: fade-out 0.6s 1.5s both;
  }
  .string__fail__overlay{
    @include fill;

    background:$c-grey-full;
    box-shadow: 0 0 0 1px $c-grey-full;
    color: $c-white;
    border-radius: 50%;
    line-height: 0.8em;
    animation: fade-out 0.3s 0.3s both;
    .string__try__inner{
      top: 52%;
      left: 51%;
    }
  }
  .string__try--root{
    //background: $c-black;
  }
  .string__try__inner{
    @include center;
  }
  .string__try--fret-0{
      left: 1 * $inch * 1%;
      left: calc( #{ $inch * 1% } - #{1/2 * $trySize});
      margin-left: 1 * $inch * -1/2 * 1%;
  }
  @for $i from 1 through 14 {
    .string__try--fret-#{$i}{
      left: (1 + nth($fretDistance, $i)) * $inch * 1%;
      left: calc( #{(1 + nth($fretDistance, $i)) * $inch * 1% } - #{1/2 * $trySize});
      margin-left: nth($fretSize, $i) * $inch * -1/2 * 1%;
    }
    .string__try__end--#{$i} .string__try{
      left: (1 + nth($fretDistance, $i)) * $inch * 1%;
      left: calc( #{(1 + nth($fretDistance, $i)) * $inch * 1% } - #{1/2 * $trySize});
      margin-left: nth($fretSize, $i) * $inch * -1/2 * 1%;
    }
  }
  @for $i from 0 through 12 {
    .string__try__end--#{$i} .string__try--fret-#{$i}{
      background:$c-primary;
    }
  }
  .string__try__end--0 .string__try{
      left: 1 * $inch * 1%;
      left: calc( #{ $inch * 1% } - #{1/2 * $trySize});
      margin-left: 1 * $inch * -1/2 * 1%;
  }
  .string:nth-of-type(2) .string__line {
    height: .06em;
  }
  .string:nth-of-type(3) .string__line {
    height: .08em;
  }
  .string:nth-of-type(4) .string__line {
    height: .10em;
  }
  .string:nth-of-type(5) .string__line {
    height: .11em;
  }
  .string:nth-of-type(6) .string__line {
    height: .13em;
  }
  .string:nth-of-type(7) .string__line {
    height: .14em;
  }
  .string:nth-of-type(8) .string__line {
    height: .16em;
  }
  .string:nth-of-type(9) .string__line {
    height: .17em;
  }
  .string:nth-of-type(10) .string__line {
    height: .185em;
  }
  .frets {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    font-size: 3.516em;
  }
  .fret {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 1em;
  }
  .fret--disabled {
    background:rgba(255,255,255,.5);
    pointer-events: none;
  }
  .fret:hover {
    background: rgba(0,0,0,.2);
  }
  .fret--win{
    background: rgba($c-primary, .2);
  }
  .fret-link {
    z-index: 0;
    
    pointer-events: none;
  }
  .game--win {
    .fret-helper:after{
      transform: translateY(0%);
      animation-name: slide-in-up;
    }
    .fret-helper:before{
      transform: translateY(0%);
      animation-name: slide-in-up;
    }
    .string__try__success:after{
      opacity: 1;
    }
  }
  .fret-helper{
    @include fill;
    overflow: hidden;
    z-index: 0;
    backface-visibility: hidden;
    &:after{
      @include fill;
      //content: "";
      background-color:  rgba($c-grey, 1);
      animation-duration: 0.7s;
      animation-fill-mode: both;
      transform: translateY(-100%);
      transition: background-color 1s;
      animation-name: slide-out;
      will-change: transform;
    }
    &:before{
      @include fill;
      content: "";
      background-color:  rgba($c-pink-full, 1);
      animation-duration: 0.7s;
      animation-fill-mode: both;
      transform: translateY(-100%);
      transition: background-color 1s;
      z-index: 10;
      animation-name: slide-out;
      will-change: transform;
      opacity: 0;
      transition:  0.7s transform;
    }
    &--correct:after{
      animation: none;
    }
    &--correct:before{
      opacity: 1;
    }
  }
  .fret-link:hover:before {
    color: $c-primary;
  }
  @for $i from 1 through 14 {
    .fret:nth-of-type(#{$i + 1}) .fret-helper:not(.fret-helper--correct):after {
      animation-delay: #{$i * 0.1s};
    }
    .fret:nth-of-type(#{$i + 1}) .fret-helper.fret-helper--correct:after {
      animation-delay: 0;
    }
  }
  .fret:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 2px;
    width: .03em;
    right: 0em;
    background: $c-bg;
  }
  .fret:nth-of-type(1) {
      width: $inch * 1%;
  }
  @for $i from 2 through 14 {
    .fret:nth-of-type( #{$i} ) {
      width: $inch * nth($fretSize, $i - 1) * 1%;
    }
  }
  .fret:nth-of-type(4):before, .fret:nth-of-type(6):before, .fret:nth-of-type(8):before, .fret:nth-of-type(10):before, .fret:nth-of-type(13):before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -.075em;
    margin-left: -.12em;
    margin-left: calc( -3px - 0.05em);
    width: .15em;
    height: .15em;
    background: $c-text;
  }
  .fret:nth-of-type(13):before {
    background-color: rgba(0,0,0,0);
    box-shadow: 0 .37em $c-text, 0 -.37em $c-text;
  }
  .fret-link:before {
    position: absolute;
    bottom: -1.4em;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.8rem;
    color: $c-white;
    font-weight: 300;
  }


  .fret--disabled .fret-link:before {
    color: rgba(0,0,0,0.5);
  }

  @for $i from 1 through 13 {
    .fret:nth-of-type(#{$i}) .fret-link:before {
      content: '#{$i - 1}'
    }
  }
  .fret:nth-of-type(14) {
    pointer-events: none;
  }
  .fretboard-moving {
    position: relative;
    padding-bottom: 13.5%;
    background: #be9a2a;
    white-space: nowrap;
    backface-visibility: hidden;
  }
  .strings{
    @include fill;
    pointer-events: none;
    z-index: 100;
  }
  @for $i from 1 through 12 {
    .strings-#{$i} {
      top: -25% / $i;
      bottom: -25% / $i;  
      .string{
        height: 100% / $i;  
      }
    }
  }

  @media all  {
    .fretboard-container {
      font-size: 1.2em;
      width: 100%;
      overflow: hidden;
    }
    .fretboard-container:before {
      pointer-events:none;
      content: "";
      right: 0;
      position: absolute;
      left: 1.7em;
      top: 2em;
      background: linear-gradient(to left, white, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 85%, white 95%, white);
      z-index: 1400;
    }
    .fretboard-container:after {
      pointer-events: none;
      content: "";
      position: absolute;
      right: 0;
      height: 2em;
      top: 0;
      left: 0;
      z-index: 1400;
      //background: linear-gradient(to left, white, rgba(0,0,0,0) 50%, white);
    }
    .string {
    }
    .strings:before {
      content: "";
      width: 10em;
      position: absolute;
      height: 100%;
      top: -0em;
      left: -15em;
      background: $c-bg;
      z-index: 1200;
    }
    .fretboard-container {
      position: absolute;
      bottom: 0;
    }
  }
}



