@mixin helper-elements {
  .top-indicator{
    width: 100%;
    max-width: 100%;
    //overflow: hidden;
    height: 1.1vh;
    position: absolute;
    top: 0;
    left: 0;
    background:$c-white;
    z-index: 1500;
    backface-visibility: hidden;
    &__progress{
      background:$c-pink-intense;
      @include fill;
      transform-origin: left center;
      transform: scaleX(0);
      z-index: 200;
      transition: 2s transform;
      will-change: transform;
    }
    &__progress__quick{
      background:$c-blue-light;
      @include fill;
      transform-origin: left center;
      transform: scaleX(0);
      z-index: 100;
      transition: 0.5s transform;
    }
    &--instant{
      //transform: scale(-1) translateX(50%) !important;
      .top-indicator__progress{
        transition: 1.2s transform;
      }
      .top-indicator__progress__quick{
        display: none;
      }
    }
  }
  .did-you-know{
    position: absolute;
    bottom: 0;
    width: 100%;
    &__header{

    }
    &__text{

    }
  }
  .popup{

    will-change: transform;
    backface-visibility: hidden;
    a:not(.btn){
      color: $c-pink-intense;
    }
    @include fill;
    position: fixed;
    z-index: 50000;
    backface-visibility: hidden;
    .bg{
      @include blurBg;
      pointer-events: normal;
      opacity: 1;
      z-index: 0;
      backface-visibility: hidden;
      //animation: fade-in 0.5s;
    }
    &__fill{
      @include fill
    }
  }
  .popup__inner {
    position: absolute;
    z-index: 10000;

    backface-visibility: hidden;
    //animation: slide-in 0.5s;
    @include gameSettings;
  }
  $loadingTime: 6.3s;
  $loadDelay: 0.7s;
  .game__loading{
    position: absolute;
    width: 14rem;
    white-space: nowrap;
    text-align: center;
    font-size: $fz-big;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    animation: fade-out 0.5s #{$loadingTime - 0.8s} both;
    //text-transform: uppercase;
    &__text{
      width: 100%;
      position: absolute;
    }
    &__overlay{
      color: $c-pink-intense;
      z-index: 100;
      overflow: hidden;
      transform: translateX(-100%);
      animation: ltr #{$loadingTime - $loadDelay} $loadDelay both;
      &__inner{
        width: 100%;
        transform: translateX(0%);
        animation: rtl #{$loadingTime - $loadDelay} $loadDelay both;
      }
    }
  }
  @keyframes ltr{
    0% {
      transform: translateX(-100%)
    }
    100% {
      transform: translateX(0%)
    }
  }

  @keyframes rtl{
    0% {
      transform: translateX(100%)
    }
    100% {
      transform: translateX(0%)
    }
  }

  .chart__wrapper{
    height: 150px;
    width: 300px;
  }
  .crossed{
    color: $c-grey-mid;
    text-decoration: line-through;
  }
  .lock{
    @include square(4rem);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    svg{
      @include fill;
      fill: $c-grey-mid;
    }
    &-overlay,&-overlay__inner{
      @include fill;
    }
    &-overlay {
      background:$c-beige;
      overflow: hidden;
      svg {
        fill: $c-blue-light;
      }
    }
  }
  .center{
    text-align: center;
  }
  .mode-inline{
    display: inline-block;
    width: 7em;
    height: auto;
    vertical-align: middle;
  }
  .faded{
    color: $c-grey;
  }
  .fail{
    color: $c-blue-light;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  em{
    color: $c-pink-intense;
    font-style: normal;
  }

  .header{
    font-size: $fz-huge;
  }

  .count-up{
    pointer-events: none;
    will-change:contents;
    backface-visibility: hidden;
  }
}