.icon{

  &--dropdown__trigger{
    position: absolute;
    right: -0em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.5em;
    &:after{
      content: "\25bc";
    }
  }
  &__circle{
    border: 0.5px solid $c-pink-emulated;
    border-radius: 50%;
    color: $c-pink-emulated;
    display: inline-block;
    @include square(13px);
    line-height: 13px;
    position: relative;
    vertical-align: top;
    margin: 0 0.25rem;
    margin-top: 0.02rem;
    &__text{
      @include center;
      left: 52%;
      display: inline-block;
      font-size: $fz-label;
      line-height: 15px;
    }
  }
  &--info{
    @include square(0.93em);
    display: inline-block;
    vertical-align: middle;
    margin: 0.01rem 0.2rem;
    background-image: svg-uri('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 28" fill="#f7abcc"><path d="M16 21.5v-2.5c0-0.281-0.219-0.5-0.5-0.5h-1.5v-8c0-0.281-0.219-0.5-0.5-0.5h-5c-0.281 0-0.5 0.219-0.5 0.5v2.5c0 0.281 0.219 0.5 0.5 0.5h1.5v5h-1.5c-0.281 0-0.5 0.219-0.5 0.5v2.5c0 0.281 0.219 0.5 0.5 0.5h7c0.281 0 0.5-0.219 0.5-0.5zM14 7.5v-2.5c0-0.281-0.219-0.5-0.5-0.5h-3c-0.281 0-0.5 0.219-0.5 0.5v2.5c0 0.281 0.219 0.5 0.5 0.5h3c0.281 0 0.5-0.219 0.5-0.5zM24 14c0 6.625-5.375 12-12 12s-12-5.375-12-12 5.375-12 12-12 12 5.375 12 12z"></path></svg>');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    fill: $c-pink-emulated;
  }
}