@mixin square($size) {
  width: $size;
  height: $size;
}
@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@mixin fill() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
$sideWidth: 9vw;
@mixin gameSettings() {
  top: $settingsTop;
  /*
  right: 0.5em;
  left: 5em;
  */
  left: $sideWidth;
  right: $sideWidth;
 
  bottom: 0;
  background:$c-beige;
}
@mixin gamePause() {
  /*
  left: 2em;
  right: 2em;
  */
  left: $sideWidth;
  right: $sideWidth;
  top: $settingsTop;
  bottom: 0;
  background:$c-beige;
}

@mixin blurBg() {
  content: "";
  opacity: 0;
  transition: 0.3s opacity;
  @include fill;
  background-image: url('../bg-blur.png');
  background-size: cover;
  background-position: top left; 
  will-change: opacity;
  z-index: 1400;
  display: block;
  backface-visibility: hidden;
}



//// other
////
/// Helper function to easily use an SVG inline in CSS
/// without encoding it to base64, saving bytes.
/// It also helps with browser support.
////

/// A small function allowing skipping base64 encoding
/// and simply pasting the SVG markup right in the CSS.
/// @author Jakob Eriksen
/// @link http://codepen.io/jakob-e/pen/doMoML
/// @param {String} $svg - SVG image to encode
/// @return {String} - Encoded SVG data uri
@function svg-uri($svg) {
    $encoded: '';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg) / $slice);

    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1);
        $chunk: str-replace($chunk, '"', "'");
        $chunk: str-replace($chunk, '<', '%3C');
        $chunk: str-replace($chunk, '>', '%3E');
        $chunk: str-replace($chunk, '&', '%26');
        $chunk: str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @link http://sassmeister.com/gist/1b4f2da5527830088e4d
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}