
.scale{
  &--relative  {
  display: inline-block;
    .scale__select{
      text-align: left;
      position: relative;
      margin-right: 0.5rem;
    }
  }
  &__select{
    position: absolute;
    left: 0;
    width: $w-scale-selector;
    border-bottom: 2px solid $c-pink;
    z-index: 500;
    text-overflow: ellipsis;
    min-height: 2.9rem;
    ul{
      //display: inline-block;
    }
    li{
      display: block;
    }
    &__wrapper{
      //@include fill;
    }
  }
  &__active{
    .title{
      max-width: 92%;
    }
    .icon{
      position: absolute;
      bottom: 0.3rem;
      top: auto;
      right: 0.4rem;
    }
  } 
  &__option{
    vertical-align: top;
    &__big{
      &__item{
        .scale__info{
          width: 100%;
        }
        white-space: nowrap;
        width: 100%;
        padding: $p-scale;
        padding-bottom: 0.3rem;
        position: relative;
        &:before{
          position: absolute;
          bottom:0;
          left: 0;
          height: 2px;
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          background:linear-gradient(-90deg,rgba($c-pink-emulated,0), rgba($c-pink-emulated,1) 90%, rgba($c-pink-emulated,1));
        }
      }
    }
    &__rest{
      display: table;
      width: 100%;
      height: 100vh;
    }
    &__left,&__right{
      padding-left: 0;
      display: table-cell;
      vertical-align: top;
      position: relative;
    }
    &__left{
      width: 4em;
      &:before{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        background:linear-gradient(0deg,rgba($c-pink-emulated,0), rgba($c-pink-emulated,1) 90%, rgba($c-pink-emulated,1));
      }
      &__item{
        padding: $p-scale;
        padding-left: 1.1em;
      }
      &__item--open{
        background:$c-grey;
        color:$c-white;
      }
      &__item--active{
        background:$c-pink-emulated;
        color:$c-white;
      }
    }
    &__right{
      &__inner{
        position: relative;

        max-height: 70vh;
        height: 70vh;
        overflow: scroll;
      }
      &__list{
        padding: 0;
        margin: 0;
        padding-bottom: $h-bottom ;
      }
      &__item{
        display: table;
        width: 100%;
        padding: $p-scale;
        padding-bottom: 0.3rem;
        //border-bottom: 1px solid $c-grey;
        position: relative;
        &:last-of-type:before{
          display: none;
        }
        &:before{
          position: absolute;
          bottom:0;
          left: 0;
          height: 2px;
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          background:linear-gradient(-90deg,rgba($c-pink-emulated,0), rgba($c-pink-emulated,1) 90%, rgba($c-pink-emulated,1));
        }
      }
      &__item--active{
        background:$c-pink-emulated;
        color:$c-white;
        .scale__notes:last-of-type{
          color: $c-grey;
        }
      }
    }
  }
  &__name, &__info{
    display: table-cell;
  }
  &__name{
    white-space: nowrap;
  }
  &__info{
    width: 100%;
  }
  &__notes{
    display: block;
    text-align: right;
    &:last-of-type{
      color: $c-pink-emulated;
    }
  }
  &__list{}
  &__dropdown{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: none;
    background:$c-beige;
    z-index: 1000;
    overflow: hidden;
    &__list{
      font-size: $fz-medium;
      margin-top: 0;
      margin-left: 0;
      padding-left: 0;
    }
    @include fill;
    
      display: block;
    &--open{
    }
  }
  &__note{
    &:after{
      content: ", ";
    }
    &:last-child:after{
      content: none;
    }
  }
}