$sliderIndicatorSize: 1.35rem;
@mixin settings {
  .settings__main {
    text-align: left;
    backface-visibility: hidden;
  }
  .settings__list{
  }
  .settings{
    &__list{
      padding-left: 0rem;
      margin-top: 0;
      margin-bottom: 0;
      max-width: none;
      position: relative;
      &--right{

        &:before{
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          content: "";
          display: block;
          position: absolute;
          width: 2px;
          background:linear-gradient(0deg,rgba($c-pink-emulated,0), rgba($c-pink-emulated,1) 90%, rgba($c-pink-emulated,1));
        }
      }
    }
    &__main {
      text-align: left;
    }
    &__side{
      padding-left: 0;
      padding-right: 0;
      &--right{
        
      }
    }
    &__tuning{

      &:last-of-type:before{
        display: none;
      }
      &:before{
        position: absolute;
        bottom:0;
        left: 0;
        height: 2px;
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        background:linear-gradient(-90deg,rgba($c-pink-emulated,0), rgba($c-pink-emulated,1) 90%, rgba($c-pink-emulated,1));
      }
    }
    &__item{
        max-width: none;
        display: table;
        width: 100%;
        padding: $p-scale;
        padding-bottom: 0.3rem;
        //border-bottom: 1px solid $c-grey;
        position: relative;

      &--active{
        background:$c-pink-emulated;
        color: $c-beige;
        .scale__notes:last-of-type{
          color: $c-grey;
        }
      }
    }
  }

  // Base Colors
  $shade-10: $c-beige;
  $shade-1: $c-pink-emulated !default;


  $range-handle-color: $shade-10 !default;
  $range-handle-size: $sliderIndicatorSize !default;

  $range-track-color: $shade-1 !default;
  $range-track-height: 10px !default;

  .range-slider {
    width: 100%;
  }
  .range--numbered{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
  }
  .range__number{
    padding-left: 0.7rem;
    width: 2.2em;
    //overflow: hidden;
  }
  .range-slider__range {
    -webkit-appearance: none;
    width: 100%;
    height: $range-track-height;
    border-radius: 0.5rem;
    background: $range-track-color;
    outline: none;
    padding: 0;
    margin: 0;

    // Range Handle
    &::-webkit-slider-thumb {
      appearance: none;
      width: $range-handle-size;
      height: $range-handle-size;
      border-radius: 50%;
      background: $range-handle-color;
      border: 4px solid $c-blue-light;
      cursor: pointer;
      transition: background .15s ease-in-out;
      &:before{
        content: "";
        display: block;
        @include square(3rem);
        background:red;
        position: absolute;

      }
    }

    &:active::-webkit-slider-thumb {
      background: $range-handle-color*1.1;
    }

  }
}