$c-white: #fff;

$c-pink-full: #f268a3;
$c-pink-intense: #ff5fa3;
$c-pink-faded: rgba($c-pink-full, 0.38);
$c-pink: rgba($c-pink-full, 0.53);
$c-pink-emulated: #f7abcc;
$c-pink-lighter: rgba(#f789c2, 0.5);
$c-dark-gradient: repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(0,0,0,0.02) 2px, rgba(0,0,0,0.02) 3.5px);

$c-black: #000;
$c-black-transparent: rgba($c-black, 0.53);

$c-grey-full: #887d86;
$c-grey-mid: #666;
$c-grey-light: #cfc3cd;
$c-grey: rgba($c-grey-full, 0.5);
$c-clear: rgba(0,0,0,0);

$c-blue: #84c8f0;
$c-blue-light: #afc3e5;

$c-green-light: #AEEAAB; //#CCEBCA;

$c-beige: #fcf7fa;

$w-scale-selector: 11.5rem;
$chordListFadeBottom: 6em;

$t-quick: 0.3s all;

$t-std: 0.45s;

$h-bottom: 5.5rem;

$h-game-top: 2.3vh;
$h-chord-selector-top: 2.3em;

$d-chord-selector: 0.5s;

$p-scale: 0.1rem 0.3rem;

$settingsTop: 3em;

$fz-biggest: 3rem;
$fz-huge: 2.8rem;
$fz-big: 2.2rem;
$fz-mid: 1.15rem;
$fz-std: 1rem;
$fz-label: 0.9rem;
$fz-medium: 1.35rem;