<template>
  <div class="bottom__buttons">
    
      <div class="btn" @click="$store.commit('GAME_RESET')">Retry</div>

      <div class="btn btn--secondary" @click="backToMenu">main menu</div>
  </div>
</template>

<script>
  export default {
    name: 'EndButtons',
    methods: {
      backToMenu() {
        window.plugins && window.plugins.insomnia.allowSleepAgain()
        this.$router.push('/')
      }
    }
  }
</script>